{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="cnt-overall" id="cnt-overview">
    <div id="left-col">
        <div class="flex-centre" id="left-col-header-cnt">
            <div id="sm-logo-cnt">
                <img src="{% static 'general/images/sxd_logo_60px.PNG' %}">
            </div>
            <div class="med-header-txt" id="left-col-info-header">
                Team Centre<text class="sxd-y">.</text>
            </div>
        </div>

        <div class="flex-spc-even" id="left-col-name-logo-cnt">
            <div id="sm-team-logo-cnt">
                <span class="Centerer"></span>
                <img class="logo-im" src="{% static 'general/images/rosmini_logo_org.PNG' %}">
            </div>
            <div class="flex-down med-std-txt" id="left-col-info-header">
                <div>Rosmini College<text class="sxd-y">.</text></div>
                <div><text class="sxd-y">2021</text> Season<text class="sxd-y">.</text></div>
            </div>
        </div>

        <div id="left-col-btns-cnt">
           <nav class="sidebar-nav">
                <ul class="med-std-txt" id="side-bar-menu-cnt">
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a onclick="showStandings('{{user.username}}')" class="basic-btns hvr-icon-spin">
                            <img class="hvr-icon" src="{% static 'general/images/schedule.PNG' %}">
                            <text class="side-txt">Standings</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a onclick="showFixturesResults();" class="basic-btns hvr-icon-spin">
                            <img class="hvr-icon" src="{% static 'general/images/podium.PNG' %}">
                            <text class="side-txt">Fixtures and Results</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a href="/upload" class="basic-btns hvr-icon-spin">
                            <img class="hvr-icon" src="{% static 'general/images/upload.PNG' %}">
                            <text class="side-txt">Upload Footage</text>
                        </a>
                    </li>
                </ul>
           </nav>
        </div>
        <div id="left-col-extras-box-cnt">

        </div>
    </div>
    <div id="middle-col">
        <div class="lg-team-logo-cnt" id="lg-team-logo-cnt-id">
            <span class="Centerer"></span>
            <img class="logo-im" src="{% static 'general/images/rosmini_logo_org_lg.PNG' %}">
        </div>
        <div class="lger-header-txt" id="tm-header">Rosmini College <text class="sxd-y">1st XV.</text></div>
        <div class="med-header-txt" id="tm-season">2021 Season<text class="sxd-y">.</text></div>
        <button class="std-btn med-std-txt" id="season-choose-btn">Choose Season</button>
        <div class="lg-header-txt" id="tc-home-main-header"></div>
        <div class="lg-container-mid" id="tc-home-main-content"></div>
    </div>
    <div id="right-col">
    </div>
</div>
{% endblock %}

{% block javascript %}

    <script>

    var data = JSON.parse("{{ data|escapejs }}");

    function showStandings(team){
        //2d Array here containing all standings info for a team
        let stds_info = tmInfo[team];
        let no_cols = 11;
        console.log("Showing Standings for: ", team);
        console.log("info", stds_info);
        $("#tc-home-main-header").html("<text data-aos='fade-right'>Standings<text class='sxd-y'>.</text></text>");
        
        let table_content = '<table class="tbl stds-tbl" data-aos="fade-right"><tr><th>#</th><th>Team</th><th>Played</th>' + 
                            '<th>W</th>' + 
                            '<th>L</th>' + 
                            '<th>D</th>' + 
                            '<th>PF</th>' + 
                            '<th>PA</th>' + 
                            '<th>Pdiff</th>' + 
                            '<th>BP</th>' + 
                            '<th>Pts</th></tr>';

        for(let i = 0; i < stds_info.length; i++){
            table_content += "<tr>";
            for(let j = 0; j < no_cols; j++){
                table_content += "<td>" + stds_info[i][j] + "</td>";
            }
            table_content += "</tr>";
        }
        table_content += "</table>";

        $("#tc-home-main-content").html(table_content);
    }

    showStandings(data["team_user_name"]);

    function showFixturesResults(){

        var csrf = "{{ csrf_token }}"
        var games = data["team_game_data"];
        let no_cols = 6;
        console.log("Retrieving Fixtures and Results data:")
        console.log(games);
        $("#tc-home-main-header").html("<text data-aos='fade-right'>Fixtures and Results<text class='sxd-y'>.</text></text>");

        let table_content = '<table class="tbl fr-tbl" data-aos="fade-right"><tr><th>Week no.</th><th>Game Against</th>' + 
                            '<th>Score For</th>' +
                            '<th>Score Against</th>' + 
                            '<th>Date</th>' + 
                            '<th>Match Centre</th></tr>';

        for(let i = 0; i < games.length; i++){
            table_content += '<tr>';
            for(let j = 0; j < no_cols; j++){
                // Current Week (not game Id!)
                if (j == 0){
                    let curr_week = i+1;
                    table_content += '<td>' + curr_week.toString() + '</td>';
                }
                // Team Name correction
                else if (j == 1) {
                    let curr_team_ag = tmStdName[games[i][j]];
                    table_content += '<td>' + curr_team_ag + '</td>';
                }
                // Match Centre button
                else if ( j == 5){
                    // Link to corresponding Match Centre Page 
                    table_content += '<td>' + 
                                        '<form action="/match_centre/" method="post">' + '{% csrf_token %}' + '{{ match_id_form }}' + 
                                            '<input type="submit" id="match-cntr-btn" class="std-btn" name="game_id_' + games[i][0].toString() + 
                                            '" value="Match Centre">' +
                                        '</form>' + 
                                    '</td>';
                }
                // Everything else..
                else{
                    table_content += '<td>' + games[i][j] + '</td>';
                }
            }
            table_content += '</tr>';
        }
        $("#tc-home-main-content").html(table_content);
    }

    function getMatchData(game_id) {
        var stats = data["team_stat_data"];
        // Arr to hold stat values for certain game
        let arr = [];
        for(let i = 0; i < stats.length; i++){
            if (stats[i][3] == game_id) {
                arr.push(stats[i]);
            }
        }
        return arr;
    }
    
    </script>

{% endblock %}
