{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="cnt-overall" id="cnt-overview">
    <div id="left-col">
        <div class="flex-centre" id="left-col-header-cnt">
            <div id="sm-logo-cnt">
                <img src="{% static 'general/images/sxd_logo_60px.PNG' %}">
            </div>
            <div class="med-header-txt" id="left-col-info-header">
                Team Centre<text class="sxd-y">.</text>
            </div>
        </div>

        <div class="flex-spc-even" id="left-col-name-logo-cnt">
            <div id="sm-team-logo-cnt">
                <span class="Centerer"></span>
                <img class="logo-im" src="{% static 'general/images/rosmini_logo_org.PNG' %}">
            </div>
            <div class="flex-down med-std-txt" id="left-col-info-header">
                <div>Rosmini College<text class="sxd-y">.</text></div>
                <div><text class="sxd-y">2021</text> Season<text class="sxd-y">.</text></div>
            </div>
        </div>

        <div id="left-col-btns-cnt">
           <nav class="sidebar-nav">
                <ul class="med-std-txt" id="side-bar-menu-cnt">
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a onclick="showStandings('{{user.username}}')" class="basic-btns hvr-icon-spin">
                            <img class="hvr-icon" src="{% static 'general/images/schedule.PNG' %}">
                            <text class="side-txt">Standings</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a onclick="showFixturesResults();" class="basic-btns hvr-icon-spin">
                            <img class="hvr-icon" src="{% static 'general/images/podium.PNG' %}">
                            <text class="side-txt">Fixtures and Results</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a href="/upload" class="basic-btns hvr-icon-spin">
                            <img class="hvr-icon" src="{% static 'general/images/upload.PNG' %}">
                            <text class="side-txt">Upload Footage</text>
                        </a>
                    </li>
                </ul>
           </nav>
        </div>
        <div id="left-col-extras-box-cnt">

        </div>
    </div>
    <div id="middle-col">
        <div class="lg-team-logo-cnt" id="lg-team-logo-cnt-id">
            <span class="Centerer"></span>
            <img class="logo-im" src="{% static 'general/images/rosmini_logo_org_lg.PNG' %}">
        </div>
        <div class="lger-header-txt" id="tm-header">Rosmini College <text class="sxd-y">1st XV.</text></div>
        <div class="med-header-txt" id="tm-season">2021 Season<text class="sxd-y">.</text></div>
        <button class="std-btn med-std-txt" id="season-choose-btn">Choose Season</button>
        <div class="lg-header-txt" id="tc-home-main-header"></div>
        <div class="lg-container-mid" id="tc-home-main-content"></div>
    </div>
    <div id="right-col">
    </div>
</div>
{% endblock %}

{% block javascript %}

    <script>

    var data = JSON.parse("{{ data|escapejs }}");

    function showStandings(team){
        //2d Array here containing all standings info for a team
        let stds_info = tmInfo[team];
        let no_cols = 11;
        console.log("Showing Standings for: ", team);
        console.log("info", stds_info);
        $("#tc-home-main-header").html("Standings<text class='sxd-y'>.</text>");
        
        let table_content = '<table class="tbl"><tr><th>#</th><th>Team</th><th>Played</th>' + 
                            '<th>W</th>' + 
                            '<th>L</th>' + 
                            '<th>D</th>' + 
                            '<th>PF</th>' + 
                            '<th>PA</th>' + 
                            '<th>Pdiff</th>' + 
                            '<th>BP</th>' + 
                            '<th>Pts</th></tr>';

        for(let i = 0; i < stds_info.length; i++){
            table_content += "<tr>";
            for(let j = 0; j < no_cols; j++){
                table_content += "<td>" + stds_info[i][j] + "</td>";
            }
            table_content += "</tr>";
        }
        table_content += "</table>";

        $("#tc-home-main-content").html(table_content);
    }

    showStandings(data["team_user_name"]);

    function showFixturesResults(){

        var games = data["team_game_data"];
        let no_cols = 6;
        console.log("Retrieving Fixtures and Results data:")
        console.log(games);
        $("#tc-home-main-header").html("Fixtures and Results<text class='sxd-y'>.</text>");

        let table_content = '<table class="tbl"><tr><th>Week no.</th><th>Game Against</th>' + 
                            '<th>Score For</th>' +
                            '<th>Score Against</th>' + 
                            '<th>Date</th>' + 
                            '<th>Match Centre</th></tr>';

        for(let i = 0; i < games.length; i++){
            table_content += '<tr>';
            for(let j = 0; j < no_cols; j++){
                if (j == 5){
                table_content += '<td><a><button id="match-cntr-btn" class="std-btn" onclick="runMatchCentre(' + 
                                games[i][0].toString() +
                                ');">Match Centre</button></a></td>';
                
                //table_content += '<td><form action="/match_centre" method="post"><input type="submit" id="match-cntr-btn" class="std-btn" value="Match Centre"></form></td>';
                }
                else{
                    table_content += '<td>' + games[i][j] + '</td>';
                }
            }
            table_content += '</tr>';
        }
        $("#tc-home-main-content").html(table_content);
    }

    function getMatchData(game_id) {
        var stats = data["team_stat_data"];
        // Arr to hold stat values for certain game
        let arr = [];
        for(let i = 0; i < stats.length; i++){
            if (stats[i][3] == game_id) {
                arr.push(stats[i]);
            }
        }
        return arr;
    }

    function getTeamAgainst(game_id){
        var games = data["team_game_data"];
        console.log("Getting Team Against...");
        console.log("Games", games);

        tm_against = games[game_id-1][1];
        console.log("Team Against is: ", tm_against);
        return tm_against;
    }

    function setHeader(team_against){
        let team_against_str = tmHeaders[team_against];
        console.log("Header to be set: ", team_against_str);
        $("#header-game_against").html(team_against_str);
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function runMatchCentre(game_id){

        // using jQuery
        var game_id_str = game_id.toString();
        var game_id_int = parseInt(game_id_str);
        var csrftoken = getCookie('csrftoken');
        console.log("Inside Click() function now...");
        console.log("Game Id is...", game_id);
        console.log("Getting ready to post with AJAX...");
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $.ajax({
            url: "{% url 'matchCentre' %}",
            method: "POST",
            dataType: "json",
            headers: { 'X-CSRF-Token': csrftoken },
            data: {
                'game_id_str': game_id_str,

            },
            success: function(json) {
                alert("Succesfully sent game_id (" +  game_id_int + ") to Django");
                console.log("Inside success function");
                window.location.href='../match_centre';
            },
            /*
            error: function(xhr, errmsg, err) {
                alert("Could not send URL to Django. Error: " + xhr.status + ": " + xhr.responseText);
            }
            */
        });
        console.log("Game id should be sent!!");
        

        console.log("Match Data for Game: " + game_id);
        let match_data = getMatchData(parseInt(game_id));
        console.log(match_data);

        let tm_against = getTeamAgainst(game_id); 
        setHeader(tm_against);
    }

    
    </script>

{% endblock %}
