{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="login-grid-container">
    <div class="login-page-header" data-aos="fade-right">
        Login<text style="color: var(--massey-yellow);">.</text>
    </div>

    <div class="form-login" data-aos="fade-right">
        <form class="form-center" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" class="btn-anim login-page-button">Login to Team Centre</button>
        </form>
    </div>
</div>

{% endblock %}
