{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- First half-->
<div class="overall-container" id="overall-container-id">

  <!-- Header Strip container-->
  <div class="header-strip-container" id="header-strip-container-id" data-aos="fade-right">
     <div class="header-strip-img-container">
       <img class="header-strip-img" src="{% static 'general/images/field_header_stadium_v2.png' %}">
     </div>
     <div class="header-bar" id="header-bar-id">
       <div class="header-bar-btn" id="season-summary-btn-id">
         <a href="#section-1-overview-id">Season Overview |</a>
       </div>
       <div class="header-bar-btn" id="recent-game-btn-id">
         <a href="#dropdown-container-id-1">Match Centre |</a>
       </div>
       <div class="header-bar-btn" id="league-overview-btn-id">
        <a href="#league-overview-header-id">League Overview |</a>
      </div>
     </div>
     <div class="logo-container-circle" id="logo-container-circle-id">
       <img class="logo-img-small" style="width: 100%;" src="{% static 'general/images/rsz_massey_logo-small.png' %}">
     </div>
     <div class="team-title" id="team-title-id">Massey HS 1st XV <text class="alt-text"> | </text>2021 Season</div>

   </div>

  <!-- Start of Section 1 => Season Overview-->
  <div class="section-1" id="section-1-overview-id">
    <div class="section-header" id="section-1-header-id" data-aos="fade-right">
      <text class="section-header-text">Season <text class="alt-text">Overview</text></text>
    </div>
    <div class="s1-panels-container" id="s1-panels-container-id" data-aos="fade-right">
      <div class="s1-panel" id="s1-p1-id">
        <div class="panel-title" id="standings-title-id">
          Standings
        </div>
        <div class="standings-container" id="standings-container-id">
          <!-- STANDINGS TABLE -->
          <table class="standings-table">
            <thead id="standings-header">
              <tr>
                <th class="sec-col">No.</th>
                <th class="sec-col">Team</th>
                <th class="sec-col">P</th>
                <th class="sec-col">W</th>
                <th class="sec-col">L</th>
                <th class="sec-col">D</th>
                <th class="sec-col">BP</th>
                <th class="sec-col">PF</th>
                <th class="sec-col">PA</th>
                <th class="sec-col">Pts</th>
              </tr>
            </thead>
            <tbody id="standings-table-content"></tbody>
          </table>
        </div>
      </div>
      <div class="s1-panel" id="s1-p2-id">
        <div class="panel-title" id="recent-results-title-id">
          Recent Matches
        </div>
        <div class="recent-results-container" id="recent-results-container-id">
          <div class="result" id="result-1-id">
            <text style="color: var(--green-win);">W</text>
            vs Rangitoto
          </div>
          <div class="score alt-text" id="score-1-id">
            | 23-14
          </div>
          <div class="result" id="result-2-id">
            <text style="color: var(--green-win);">W</text>
            vs Rosmini College
          </div>
          <div class="score alt-text" id="score-2-id">
            | 22 - 19
          </div>
          <div class="result" id="result-3-id">
            <text style="color: var(--red-lose);">L</text>
            vs Westlake BHS
          </div>
          <div class="score alt-text" id="score-3-id">
            | 14 - 30
          </div>
          <div class="result" id="result-4-id">
            <text style="color: var(--green-win);">W</text>
            vs Takapuna Grammar
          </div>
          <div class="score alt-text" id="score-4-id">
            | 29-0
          </div>
          <div class="result" id="result-5-id">
            <text style="color: var(--green-win);">W</text>
            vs Orewa College
          </div>
          <div class="score alt-text" id="score-5-id">
            | 54 - 7
          </div>
        </div>
      </div>
      <div class="s1-panel" id="s1-p3-id">
        <div class="panel-title" id="team-averages-header-id">
          Team Averages
        </div>
        <div class="team-average-name" id="team-average-name1-id">
          Avg Points per Game
        </div>
        <div class="team-average-score alt-text" id="team-average-score-1-id">
          | 22.5
        </div>
        <div class="team-average-name" id="team-average-name2-id">
          Avg Points Against per Game
        </div>
        <div class="team-average-score alt-text" id="team-average-score-2-id">
          | 14
        </div>
        <div class="team-average-name" id="team-average-name3-id">
          Avg Posession % per Game
        </div>
        <div class="team-average-score alt-text" id="team-average-score-3-id">
          | 48%
        </div>
        <div class="team-average-name" id="team-average-name4-id">
          Avg Territory % per Game
        </div>
        <div class="team-average-score alt-text" id="team-average-score-4-id">
          | 52%
        </div>
        <div class="team-average-name" id="team-average-name5-id">
          Avg Tackles % per Game
        </div>
        <div class="team-average-score alt-text" id="team-average-score-5-id">
          | 80%
        </div>
        <div class="team-average-name" id="team-average-name6-id">
          Avg Line Breaks per Game
        </div>
        <div class="team-average-score alt-text" id="team-average-score-6-id">
          | 8.25
        </div>
        <div class="team-average-name" id="team-average-name7-id">
          Avg Handling Errors per Game
        </div>
        <div class="team-average-score alt-text" id="team-average-score-7-id">
          | 10.33
        </div>
      </div>
    </div>
  </div>

  <div class="dropdown-container" id="dropdown-container-id-1" data-aos="fade-right">
    <div>
      <ul>
        <li class="alt-bg"><a class="sec-col-drp" href="#">Select Match</a>
          <ul class="dropdown" id="select-match-dropdown">
          </ul>
        </li>
      </ul>
    </div>  
  </div>
  <!-- Start of Section 2-Overview-Defense-->
  <div class="section-2" id="section-2-defense-id">
    <div class="section-subheader" id="section-1-header-id" data-aos="fade-right">
      <text class="ac-header-txt def-header" id="ac-header-text-id">Match Centre <text class="alt-text">|</text> vs Rosmini<text class="alt-text">|</text> 24/10/2020</text>
    </div>

    <nav class="jump-to-bar" id="match-overview-jumptobar-id" data-aos="fade-right">
      <a href="#dropdown-container-id-1">Overview | </a>
      <a href="#defense-header-id">Defense | </a>
      <a href="#section-3-subheader-id">Attack | </a>
      <a href="#section-4-subheader-id">Kicking Game | </a>
      <a href="#section-5-subheader-id">Ball Handling | </a>
      <a href="#section-6-subheader-id">Rucks | </a>
      <a href="#section-7-subheader-id">Set Piece | </a>
      <a href="#section-8-subheader-id">Discipline | </a>
    </nav>

    <!-- s2-Row1-Overview-subheader-->
    <div class="section-subheader" id="match-overview-header-id" data-aos="fade-right">
      <text class="ac-header-txt">Match <text class="alt-text">Overview</text></text>
    </div>
    
    <!-- s2-Row1-Overview-Main-->
    <div class="section-row-container" id="section-2-row-1-container-id" data-aos="fade-right">

      <!--Basic Results panel-->
      <div class="s1-panel" id="s2-p1-id">
        <div class="big-result-letter" id="big-result-letter-id">W</div>
        <div class="game-score" id="game-score-id">| 23 <text class="alt-text">-</text> 14</div>
        <div class="game-stats-content-header" id="game-stats-content-header-id">Game Events</div>
        <div class="game-stats-content" id="game-stats-content-id">
          <text class="alt-text">Tries: </text><text id="try-scorers">Jack Johnson, Philip Maketu</text>
          <br>
          <text class="alt-text">Cons: </text><text id="con-scorers">Jack Johnson (2/2)</text>
          <br>
          <text class="alt-text">Pens: </text><text id="pen-scorers">Jack Johnson (1/2)</text>
        </div>
        <div class="game-stats-improvements-header" id="game-stats-improvements-header-id">Improvements</div>
        <div class="game-stats-improvements-content" id="game-stats-improvements-content-id">
        <text style="color: var(--green-win);">+5%</text> Tackle Success since Last Game<br><br>
        <text style="color: var(--green-win);">-4</text> Dropped Balls since Last Game<br><br>
        <text style="color: var(--green-win);">+3</text> Line Breaks since Last Game<br><br> 
        </div>
      </div>

      <!--Top Performers Panel-->
      <div class="s1-panel" id="s2-p2-id">
        <div class="large-panel-header" id="top-match-performers-id">
          Top Performers
        </div>
        <div class="top-tackler" id="top-tackler-id">
          <div class="stat-title alt-text">
            Top Tackler | #7 | Peter Franklin
          </div>
          <div class="stat">
            17 tackles | 94% Success rate
          </div>
        </div>
        <div class="top-ruck-commits" id="top-ruck-commits-id">
          <div class="stat-title alt-text">
            Most Ruck Commits |  #6 | Liam Colingwood
          </div>
          <div class="stat">
            22 | 73% of all rucks
          </div>
        </div>
        <div class="top-ruck-steals" id="top-ruck-steals-id">
          <div class="stat-title alt-text">
            Most Ruck Steals | #8 | Johnny Kamu
          </div>
          <div class="stat">
            6
          </div>
        </div>
        <div class="top-playmaker" id="top-playmaker-id">
          <div class="stat-title alt-text">
            Top Playmaker | #10 | Jack Johnson
          </div>
          <div class="stat">
            7 Passess leading to line Breaks |
            1 Pass leading to Try |
            0 Dropped passes
          </div>
        </div>
        <div class="top-linebreaks" id="top-linebreaks-id">
          <div class="stat-title alt-text">
            Most Linebreaks | #13 | Sam Tamou
          </div>
          <div class="stat">
            5 Clean linebreaks
          </div>
        </div>
        <div class="top-broken-tackles" id="top-broken-tackles-id">
          <div class="stat-title alt-text">
            Most Defenders Beaten | #8 | Johnny Kamu
          </div>
          <div class="stat">
            10
          </div>
        </div>
        <div class="top-ball-carries" id="top-ball-carries-id">
          <div class="stat-title alt-text">
            Most Ball Carries | #8 | Johnny Kamu
          </div>
          <div class="stat">
            16
          </div>
        </div>
      </div>
    </div>

    <!--s2-Row3-Defense-Subheader-->
    <div class="section-subheader" id="defense-header-id" data-aos="fade-right">
      <text class="ac-header-txt" id="ac-subheader-text-id">Defense<text class="alt-text">.</text></text>
    </div>
    <div class="dropdown-container" id="dropdown-container-id-2" data-aos="fade-right">
      <div>
        <ul>
          <li class="alt-bg"><a class="sec-col-drp">Jump to Section</a>
            <ul class="dropdown">
              <li class="alt-bg drp-option"><a href="#dropdown-container-id-1">Overview</a></li>
              <li class="alt-bg drp-option"><a href="#defense-header-id">Defense</a></li>
              <li class="alt-bg drp-option"><a href="#section-3-attack-id">Attack</a></li>
              <li class="alt-bg drp-option"><a href="#section-4-kicking-game-id">Kicking Game</a></li>
              <li class="alt-bg drp-option"><a href="#section-5-subheader-id">Ball Handling</a></li>
              <li class="alt-bg drp-option"><a href="#section-6-subheader-id">Rucks</a></li>
              <li class="alt-bg drp-option"><a href="#section-7-subheader-id">Set Piece</a></li>
              <li class="alt-bg drp-option"><a href="#section-8-subheader-id">Discipline</a></li>
            </ul>
          </li>
        </ul>
      </div>  
    </div>
    <!-- s2-Row3-Defense-Main-->
    <div class="section-row-container" id="section-2-row-2-container-id" data-aos="fade-right">
      <div class="s1-panel" id="s2-p3-id">
        <div class="medium-panel-header" id="tackles-graph-header-id">Tackle Success</div>
        
        <div class="graph-container" id="tackles-graph-container-id">
          <canvas id="tackle-pie-graph"></canvas>
          <script>tackles_pi_graph();</script>
        </div>
      </div>
      <div class="s1-panel" id="s2-p4-id">
        <div class="medium-panel-header" id="defense-more-header-id">Defensive Insights</div>

        <div class="insights-info" id="defense-more-info-1-id">Tackle % Below Waist</div>
        <div class="insights-info" id="defense-more-info-2-id">1-1 Tackle Success %</div>
        <div class="insights-info" id="defense-more-info-3-id">Linebreaks Allowed (Backs)</div>
        <div class="insights-info" id="defense-more-info-4-id">Linebreaks Allowed (Forwards)</div>
        <div class="insights-info" id="defense-more-info-5-id">Tackles Leading to Errors</div>
        <div class="insights-info" id="defense-more-info-6-id">Total Tackles Made</div>
        <div class="insights-info" id="defense-more-info-7-id">Total Tackles Missed</div>

        <div class="insights-value alt-text" id="defense-more-value-1-id">| 45%</div>
        <div class="insights-value alt-text" id="defense-more-value-2-id">| 75%</div>
        <div class="insights-value alt-text" id="defense-more-value-3-id">| 7</div>
        <div class="insights-value alt-text" id="defense-more-value-4-id">| 4</div>
        <div class="insights-value alt-text" id="defense-more-value-5-id">| 6</div>
        <div class="insights-value alt-text" id="defense-more-value-6-id">| 100</div>
        <div class="insights-value alt-text" id="defense-more-value-7-id">| 20</div>
      
        <div class="insights-comp-val" id="defense-comp-val-1-id"><text class="alt-text">-10%</text> Less than season avg</div>
        <div class="insights-comp-val" id="defense-comp-val-2-id"><text style="color: var(--red-lose);">-5%</text> Less than season avg</div>
        <div class="insights-comp-val" id="defense-comp-val-3-id"><text style="color: var(--red-lose);">+1</text> Less than season avg</div>
        <div class="insights-comp-val" id="defense-comp-val-4-id"><text style="color: var(--green-win);">-2</text> More than season avg</div>
        <div class="insights-comp-val" id="defense-comp-val-5-id"><text style="color: var(--green-win);">+4</text> More than season avg</div>
        <div class="insights-comp-val" id="defense-comp-val-6-id"><text style="color: var(--red-lose);">-5</text> Less than season avg</div>
        <div class="insights-comp-val" id="defense-comp-val-7-id"><text style="color: var(--green-win);">-5</text> More than season avg</div>
      </div>
    </div>
    <!-- Defense In-depth-->
    <div class="section-row-container" id="section-2-row-3-container-id" data-aos="fade-right">
      <div class="s1-panel graph-panel" id="in-depth-container-id">
        <div class="large-panel-header" id="in-depth-header-id">Defense: <text class="alt-text">In-Depth</text></div>
        <div class="s1-panel graph-panel" id="ts-22-graph-container-id">
          <div class="small-title-graphs" id="tackles-22-header-id">Tackle Success % <text class="alt-text">in own 22</text></div>
          <div class="small-graph-container">
            <canvas id="tackle-22-pie-graph-canv"></canvas></div>
        </div>
        <div class="s1-panel graph-panel" id="ts-5-graph-container-id">
          <div class="small-title-graphs" id="tackles-5-header-id">Tackle Success % <text class="alt-text">5m out from goal</text></div>
          <div class="small-graph-container">
            <canvas id="tackle-5-pie-graph-canv"></canvas></div>
        </div>
        <div class="s1-panel graph-panel" id="linespeed-graph-container-id">
          <div class="small-title-graphs" id="linespeed-header-id"><text class="alt-text">Linespeed</text> (Time until first contact)</div>
          <div class="small-graph-container">
            <canvas id="line-speed-graph-canv"></canvas>
          </div>
        </div>
        <div class="s1-panel graph-panel" id="opp-pts-22-graph-container-id">
          <div class="small-title-graphs" id="opp-pts-22-header-id">Opponents <text class="alt-text">points / visit to your 22</text></div>
          <div class="small-graph-container">
            <canvas id="opp-pts-22-graph-canv"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Section-3-Attack -->
  <div class="section-3" id="section-3-attack-id">
      <!--s3-Row1-Attack-Subheader-->
      <div class="section-subheader" id="section-3-subheader-id" data-aos="fade-right">
      <text class="ac-header-txt" id="ac-header-text-id">Attack<text class="alt-text">.</text></text>
      </div>
      <div class="dropdown-container" id="dropdown-container-id-3" data-aos="fade-right">
        <div>
          <ul>
            <li class="alt-bg"><a class="sec-col-drp">Jump to Section</a>
              <ul class="dropdown">
                <li class="alt-bg drp-option"><a href="#dropdown-container-id-1">Overview</a></li>
                <li class="alt-bg drp-option"><a href="#defense-header-id">Defense</a></li>
                <li class="alt-bg drp-option"><a href="#section-3-attack-id">Attack</a></li>
                <li class="alt-bg drp-option"><a href="#section-4-kicking-game-id">Kicking Game</a></li>
                <li class="alt-bg drp-option"><a href="#section-5-subheader-id">Ball Handling</a></li>
                <li class="alt-bg drp-option"><a href="#section-6-subheader-id">Rucks</a></li>
                <li class="alt-bg drp-option"><a href="#section-7-subheader-id">Set Piece</a></li>
                <li class="alt-bg drp-option"><a href="#section-8-subheader-id">Discipline</a></li>
              </ul>
            </li>
          </ul>
        </div>  
      </div>

      <!--s3-Row1-Attack-Main-->
    <div class="section-row-container" id="section-3-row-1-container-id">
      <div class="s1-panel" id="attack-pie-graph-panel-id" data-aos="fade-right">
        <div class="medium-panel-header" id="posessions-gain-graph-header-id">% of Posessions leading to <text class="alt-text">Gain in Meters</text></div>
        <div class="medium-graph-container" id="posession-gain-graph-id">
          <canvas id="posession-gain-canv"></canvas>
          <script>posessions_gain_meters();</script>
        </div>
      </div>
      <div class="s1-panel" id="attack-insights-panel-id" data-aos="fade-right">
        <div class="medium-panel-header" id="attack-insights-indepth-header-id">Attacking <text class="alt-text">Insights</text></div>

        <div class="insights-info" id="attacking-insights-info-1">Total Linebreaks</div>
        <div class="insights-info" id="attacking-insights-info-2">Total Tackles Broken</div>
        <div class="insights-info" id="attacking-insights-info-3">Time in Opponents 22</div>
        <div class="insights-info" id="attacking-insights-info-4">Tries off Backline set play</div>
        <div class="insights-info" id="attacking-insights-info-5">Tries off Forwards Pick-and-go</div>
        <div class="insights-info" id="attacking-insights-info-6">Tries off Scrum Success</div>
        <div class="insights-info" id="attacking-insights-info-7">Tries off Lineout Success</div>
        <div class="insights-info" id="attacking-insights-info-8">Solo Tries</div>

        <div class="insights-value alt-text" id="attacking-insights-val-1">| 12</div>
        <div class="insights-value alt-text" id="attacking-insights-val-2">| 25</div>
        <div class="insights-value alt-text" id="attacking-insights-val-3">| 25m 15s</div>
        <div class="insights-value alt-text" id="attacking-insights-val-4">| 1</div>
        <div class="insights-value alt-text" id="attacking-insights-val-5">| 2</div>
        <div class="insights-value alt-text" id="attacking-insights-val-6">| 1</div>
        <div class="insights-value alt-text" id="attacking-insights-val-7">| 0</div>
        <div class="insights-value alt-text" id="attacking-insights-val-8">| 0</div>

        <div class="insights-comp-val" id="attacking-insights-comp-val-1"><text style="color: var(--red-lose);">-2</text> Less than season avg</div>
        <div class="insights-comp-val" id="attacking-insights-comp-val-2"><text style="color: var(--green-win);">+3</text> More than season avg</div>
        <div class="insights-comp-val" id="attacking-insights-comp-val-3"><text style="color: var(--red-lose);">-5m</text> Less than season avg</div>
        <div class="insights-comp-val" id="attacking-insights-comp-val-4"><text class="alt-text">=</text> with season avg</div>
        <div class="insights-comp-val" id="attacking-insights-comp-val-5"><text style="color: var(--green-win);">+1</text> More than season avg</div>
        <div class="insights-comp-val" id="attacking-insights-comp-val-6"><text style="color: var(--green-win);">+0.5</text> More than season avg</div>
        <div class="insights-comp-val" id="attacking-insights-comp-val-7"><text style="color: var(--red-lose);">-0.5</text> Less than season avg</div>
        <div class="insights-comp-val" id="attacking-insights-comp-val-8"><text style="color: var(--red-lose);">-0.5</text> Less than season avg</div>
      </div>
    </div>
    <div class="section-row-container" id="section-3-row-2-container-id" data-aos="fade-right">
      <div class="s1-panel" id="attack-in-depth-panel-id">
        <div class="large-panel-header" id="attacking-insights-indepth-header-id">Attack: <text class="alt-text">In-Depth.</text></div>
        <div class="s1-panel" id="running-onto-ball-pie-panel-id">
          <div class="graph-header">% of times player was <text class="alt-text">running on to the ball</text></div>
          <div class="graph-container">
            <canvas id="running-on-ball-graph-canv"></canvas></div>
        </div>
        <div class="s1-panel" id="points-per-visit-22-bar-panel-id">
          <div class="graph-header">Points / <text class="alt-text">Visit to opponents 22</text></div>
          <div class="graph-container">
            <canvas id="points-per-visit-bar-canv"></canvas></div>
        </div>
        <div class="s1-panel" id="posessions-lead-gain-panel-id">
          <div class="graph-header"><text class="alt-text">Meters Gain</text> Success %</div>
          <div class="graph-container">
            <canvas id="meter-gain-success-canv"></canvas></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Section-4-KickingGame-->
  <div class="section-4" id="section-4-kicking-game-id">
    <div class="section-subheader" id="section-4-subheader-id" data-aos="fade-right">
      <text class="ac-header-txt" id="ac-header-text-id">Kicking Game<text class="alt-text">.</text></text>
    </div>
    <div class="dropdown-container" id="dropdown-container-id-4" data-aos="fade-right">
      <div>
        <ul>
          <li class="alt-bg"><a class="sec-col-drp">Jump to Section</a>
            <ul class="dropdown">
              <li class="alt-bg drp-option"><a href="#dropdown-container-id-1">Overview</a></li>
              <li class="alt-bg drp-option"><a href="#defense-header-id">Defense</a></li>
              <li class="alt-bg drp-option"><a href="#section-3-attack-id">Attack</a></li>
              <li class="alt-bg drp-option"><a href="#section-4-kicking-game-id">Kicking Game</a></li>
              <li class="alt-bg drp-option"><a href="#section-5-subheader-id">Ball Handling</a></li>
              <li class="alt-bg drp-option"><a href="#section-6-subheader-id">Rucks</a></li>
              <li class="alt-bg drp-option"><a href="#section-7-subheader-id">Set Piece</a></li>
              <li class="alt-bg drp-option"><a href="#section-8-subheader-id">Discipline</a></li>
            </ul>
          </li>
        </ul>
      </div>  
    </div>
    <div class="s1-panel" id="posessions-kicked-panel-id" data-aos="fade-right">
      <div class="graph-header">% Posessisions where <text class="alt-text">kick was made</text></div>
      <div class="graph-container">
        <canvas id="posessions-kicked-pie-canv"></canvas></div>
    </div>
    <div class="s1-panel" id="kicks-out-onfull-panel-id" data-aos="fade-right">
      <div class="graph-header">Number of kicks <text class="alt-text">out on full (outside own 22)</text></div>
      <div class="graph-container">
        <canvas id="kicks-out-on-full-canv"></canvas></div>
    </div>
    <div class="s1-panel" id="kick-regathers-panel-id" data-aos="fade-right">
      <div class="graph-header">Kick<text class="alt-text"> Regathers</text> (by type of kick)</div>
      <div class="graph-container">
        <canvas id="kick-regathers-canv"></canvas></div>
    </div>
    <div class="s1-panel" id="kick-meters-gain-panel-id" data-aos="fade-right">
      <div class="graph-header"><text class="alt-text">Kick for Touch</text> Meters Gain Success</div>
      <div class="graph-container">
        <canvas id="kick-for-touch-success-canv"></canvas></div>
    </div>
    <div class="s1-panel" id="goal-kick-panel-id" data-aos="fade-right">
      <div class="graph-header">Kicking Game<text class="alt-text"> Insights</text></div>
      <div class="insights-info" id="attacking-insights-info-1">Overall GK %.</div>
      <div class="insights-info" id="attacking-insights-info-2">Conversion %.</div>
      <div class="insights-info" id="attacking-insights-info-3">Penalty Goal %.</div>
      <div class="insights-info" id="attacking-insights-info-4">No. of Long Punts made.</div>
      <div class="insights-info" id="attacking-insights-info-5">No. of Grubber kicks Made.</div>
      <div class="insights-info" id="attacking-insights-info-6">No. of Chip Kicks made.</div>
      <div class="insights-info" id="attacking-insights-info-7">No. of Up and Under's made.</div>
      <div class="insights-info" id="attacking-insights-info-8">No. of Kicks out on the full.</div>

      <div class="insights-value alt-text" id="attacking-insights-val-1">| 80%</div>
      <div class="insights-value alt-text" id="attacking-insights-val-2">| 75%</div>
      <div class="insights-value alt-text" id="attacking-insights-val-3">| 11</div>
      <div class="insights-value alt-text" id="attacking-insights-val-4">| 4</div>
      <div class="insights-value alt-text" id="attacking-insights-val-5">| 3</div>
      <div class="insights-value alt-text" id="attacking-insights-val-6">| 5</div>
      <div class="insights-value alt-text" id="attacking-insights-val-7">| 1</div>
      <div class="insights-value alt-text" id="attacking-insights-val-8">| 2</div>

      <div class="insights-comp-val" id="attacking-insights-comp-val-1"><text style="color: var(--green-win);">+10%</text> More than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-2"><text style="color: var(--green-win);">+5%</text> More than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-3"><text style="color: var(--red-lose);">-10</text> Less than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-4"><text style="color: var(--red-lose);">-2</text> Less than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-5"><text style="color: var(--green-win);">+1</text> More than than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-6"><text style="color: var(--green-win);">+0.5</text> More than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-7"><text style="color: var(--red-lose);">-1.5</text> Less than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-8"><text style="color: var(--red-lose);">+0.5</text> More than Season Avg</div>
    </div>
  </div>

  <!-- Section-5-BallHandling -->
  <div class="section-5" id="section-5-ball-handling-id">
    <div class="section-subheader" id="section-5-subheader-id" data-aos="fade-right">
      <text class="ac-header-txt" id="ac-header-text-id">Ball Handling<text class="alt-text">.</text></text>
    </div>
    <div class="dropdown-container" id="dropdown-container-id-5" data-aos="fade-right">
      <div>
        <ul>
          <li class="alt-bg"><a class="sec-col-drp">Jump to Section</a>
            <ul class="dropdown">
              <li class="alt-bg drp-option"><a href="#dropdown-container-id-1">Overview</a></li>
              <li class="alt-bg drp-option"><a href="#defense-header-id">Defense</a></li>
              <li class="alt-bg drp-option"><a href="#section-3-attack-id">Attack</a></li>
              <li class="alt-bg drp-option"><a href="#section-4-kicking-game-id">Kicking Game</a></li>
              <li class="alt-bg drp-option"><a href="#section-5-subheader-id">Ball Handling</a></li>
              <li class="alt-bg drp-option"><a href="#section-6-subheader-id">Rucks</a></li>
              <li class="alt-bg drp-option"><a href="#section-7-subheader-id">Set Piece</a></li>
              <li class="alt-bg drp-option"><a href="#section-8-subheader-id">Discipline</a></li>
            </ul>
          </li>
        </ul>
      </div>  
    </div>
    <div class="s1-panel" id="passes-successful-panel-id" data-aos="fade-right">
      <div class="graph-header"><text class="alt-text">Overall Pass</text> Success %</div>
      <div class="graph-container">
        <canvas id="pass-success-canv"></canvas>
        <script>pass_success_pie();</script>
      </div>
    </div>
    <div class="s1-panel" id="passes-successfulbypass-panel-id" data-aos="fade-right">
      <div class="graph-header">Pass Success % by<text class="alt-text"> Type of Pass</text></div>
      <div class="graph-container">
        <canvas id="pass-success-by-type-canv"></canvas></div>
    </div>
    <div class="s1-panel" id="linebreak-bypass-id" data-aos="fade-right">
      <div class="graph-header">Types of <text class="alt-text">Handling Errors</text></div>
      <div class="graph-container">
        <canvas id="handling-errors-canv"></canvas></div>
    </div>       
    <div class="s1-panel" id="ball-handling-insights-panel-id" data-aos="fade-right">
      <div class="graph-header">Ball Handling<text class="alt-text"> Insights</text></div>
      
      <div class="insights-info" id="attacking-insights-info-1">Total Successful Passes.</div>
      <div class="insights-info" id="attacking-insights-info-2">Total Bad Passes. (Forward or To Ground)</div>
      <div class="insights-info" id="attacking-insights-info-3">Total Passes to Forwards from Ruck.</div>
      <div class="insights-info" id="attacking-insights-info-4">Total Passes to Backline from Ruck.</div>
      <div class="insights-info" id="attacking-insights-info-5">Handling Errors Total.</div>
      <div class="insights-info" id="attacking-insights-info-6">Handling Errors in Opp 22.</div>
      <div class="insights-info" id="attacking-insights-info-7">Handling Errors in Own 22.</div>

      <div class="insights-value alt-text" id="attacking-insights-val-1">| 130</div>
      <div class="insights-value alt-text" id="attacking-insights-val-2">| 12</div>
      <div class="insights-value alt-text" id="attacking-insights-val-3">| 80</div>
      <div class="insights-value alt-text" id="attacking-insights-val-4">| 50</div>
      <div class="insights-value alt-text" id="attacking-insights-val-5">| 11</div>
      <div class="insights-value alt-text" id="attacking-insights-val-6">| 5</div>
      <div class="insights-value alt-text" id="attacking-insights-val-7">| 3</div>

      <div class="insights-comp-val" id="attacking-insights-comp-val-1"><text style="color: var(--green-win);">+8</text> More than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-2"><text style="color: var(--green-win);">+2</text> More than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-3"><text style="color: var(--red-lose);">-5</text> Less than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-4"><text style="color: var(--red-lose);">-13</text> Less than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-5"><text style="color: var(--green-win);">-2</text> Less than than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-6"><text style="color: var(--red-lose);">+4</text> More than than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-7"><text style="color: var(--red-lose);">+2</text> More than than Season Avg</div>
    </div>
  </div>
</div>

<!-- Second Half Report -->
<div class="overall-container" id="overall-container-2-id">
  <!-- Section-6-Rucks-->
  <div class="section-6" id="section-6-rucks-id">
    <div class="section-subheader" id="section-6-subheader-id" data-aos="fade-right">
      <text class="ac-header-txt" id="ac-header-text-id">Rucks<text class="alt-text">.</text></text>
    </div>
    <div class="dropdown-container" id="dropdown-container-id-6" data-aos="fade-right">
      <div>
        <ul>
          <li class="alt-bg"><a class="sec-col-drp">Jump to Section</a>
            <ul class="dropdown">
              <li class="alt-bg drp-option"><a href="#dropdown-container-id-1">Overview</a></li>
              <li class="alt-bg drp-option"><a href="#defense-header-id">Defense</a></li>
              <li class="alt-bg drp-option"><a href="#section-3-attack-id">Attack</a></li>
              <li class="alt-bg drp-option"><a href="#section-4-kicking-game-id">Kicking Game</a></li>
              <li class="alt-bg drp-option"><a href="#section-5-subheader-id">Ball Handling</a></li>
              <li class="alt-bg drp-option"><a href="#section-6-subheader-id">Rucks</a></li>
              <li class="alt-bg drp-option"><a href="#section-7-subheader-id">Set Piece</a></li>
              <li class="alt-bg drp-option"><a href="#section-8-subheader-id">Discipline</a></li>
            </ul>
          </li>
        </ul>
      </div>  
    </div>
    <div class="s1-panel" id="total-ruck-success-panel-id" data-aos="fade-right">
      <div class="graph-header">Total <text class="alt-text">Attacking Ruck Success %</text></div>
      <div class="graph-container">
        <canvas id="ruck-success-canv"></canvas></div>
    </div>
    <div class="s1-panel" id="ruck-success-partsoffield-panel-id" data-aos="fade-right">
      <div class="graph-header">Ruck Success <text class="alt-text">at Different Areas of the Field</text></div>
      <div class="graph-container">
        <canvas id="ruck-success-diff-fields-canv"></canvas></div>
    </div>     

    <div class="s1-panel" id="ruck-speed-panel-id" data-aos="fade-right">
      <div class="graph-header">Ruck <text class="alt-text">Recycle Speed %</text></div>
      <div class="graph-container">
        <canvas id="ruck-speed-canv"></canvas></div>
    </div>
    <div class="s1-panel" id="ruck-insights-panel-id" data-aos="fade-right">
      <div class="graph-header">Ruck <text class="alt-text">Insights.</text></div>
      <div class="insights-info" id="attacking-insights-info-1">Total Ruck Steals.</div>
      <div class="insights-info" id="attacking-insights-info-2">Overall average No. of players Commiting to Ruck.</div>
      <div class="insights-info" id="attacking-insights-info-3">Total Own Rucks Won.</div>
      <div class="insights-info" id="attacking-insights-info-4">Total Own Rucks Lost.</div>
      <div class="insights-info" id="attacking-insights-info-5">Backline Ruck Success %.</div>
      <div class="insights-info" id="attacking-insights-info-6">Rucks Penalties Commited.</div>
      <div class="insights-info" id="attacking-insights-info-7">Handling Errors in or close to Ruck.</div>
      <div class="insights-info" id="attacking-insights-info-8">Successful Individual Ruck Cleanouts.</div>

      <div class="insights-value alt-text" id="attacking-insights-val-1">| 9</div>
      <div class="insights-value alt-text" id="attacking-insights-val-2">| 4</div>
      <div class="insights-value alt-text" id="attacking-insights-val-3">| 70</div>
      <div class="insights-value alt-text" id="attacking-insights-val-4">| 12</div>
      <div class="insights-value alt-text" id="attacking-insights-val-5">| 75%</div>
      <div class="insights-value alt-text" id="attacking-insights-val-6">| 7</div>
      <div class="insights-value alt-text" id="attacking-insights-val-7">| 6</div>
      <div class="insights-value alt-text" id="attacking-insights-val-8">| 40</div>


      <div class="insights-comp-val" id="attacking-insights-comp-val-1"><text style="color: var(--green-win);">+3</text> More than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-2"><text style="color: var(--red-lose);">-0.5</text> More than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-3"><text style="color: var(--red-lose);">+5</text> More than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-4"><text style="color: var(--green-win);">-1.5</text> Less than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-5"><text style="color: var(--red-lose);">-5</text> Less than than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-6"><text style="color: var(--red-lose);">+4</text> More than than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-7"><text style="color: var(--green-win);">-1</text> Less than than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-8"><text style="color: var(--red-lose);">+2</text> More than than Season Avg</div>
    </div>
  </div>


  <!-- Section-7-Set Piece-->
  <div class="section-7" id="section-7-setpiece-id">
    <div class="section-subheader" id="section-7-subheader-id" data-aos="fade-right">
      <text class="ac-header-txt" id="ac-header-text-id">Set Piece<text class="alt-text">.</text></text>
    </div>
    <div class="dropdown-container" id="dropdown-container-id-7" data-aos="fade-right">
      <div>
        <ul>
          <li class="alt-bg"><a class="sec-col-drp">Jump to Section</a>
            <ul class="dropdown">
              <li class="alt-bg drp-option"><a href="#dropdown-container-id-1">Overview</a></li>
              <li class="alt-bg drp-option"><a href="#defense-header-id">Defense</a></li>
              <li class="alt-bg drp-option"><a href="#section-3-attack-id">Attack</a></li>
              <li class="alt-bg drp-option"><a href="#section-4-kicking-game-id">Kicking Game</a></li>
              <li class="alt-bg drp-option"><a href="#section-5-subheader-id">Ball Handling</a></li>
              <li class="alt-bg drp-option"><a href="#section-6-subheader-id">Rucks</a></li>
              <li class="alt-bg drp-option"><a href="#section-7-subheader-id">Set Piece</a></li>
              <li class="alt-bg drp-option"><a href="#section-8-subheader-id">Discipline</a></li>
            </ul>
          </li>
        </ul>
      </div>  
    </div>
    <div class="s1-panel" id="set-piece-success-panel-id" data-aos="fade-right">
      <div class="graph-header">Set Piece <text class="alt-text">Success %</text></div>
      <div class="graph-container">
        <canvas id="set-piece-success-canv"></canvas></div>
    </div>
    <div class="s1-panel" id="set-piece-success-dif-field-id" data-aos="fade-right">
      <div class="graph-header">Set Piece <text class="alt-text">Success % in Different Areas of Field</text></div>
      <div class="graph-container">
        <canvas id="set-piece-success-dif-field-canv"></canvas></div>
    </div>
    <div class="s1-panel" id="action-taken-set-piece-panel-id" data-aos="fade-right">
      <div class="graph-header"><text class="alt-text">% Action taken </text>After Set Piece</div>
      <div class="graph-container">
        <canvas id="action-taken-set-piece-canv"></canvas></div>
    </div>
    <div class="s1-panel" id="outcome-from-set-piece-panel-id" data-aos="fade-right">
      <div class="graph-header"><text class="alt-text">% Outcome </text>of Set Piece</div>
      <div class="graph-container">
        <canvas id="outcome-from-set-piece-canv"></canvas></div>
    </div>
    <div class="s1-panel" id="set-piece-insights-panel-id" data-aos="fade-right">
      <div class="graph-header">Set Piece<text class="alt-text"> Insights</text></div>
      <div class="insights-info" id="attacking-insights-info-1">Total Own Scrum Wins.</div>
      <div class="insights-info" id="attacking-insights-info-2">Total Own Lineout Wins.</div>
      <div class="insights-info" id="attacking-insights-info-3">Total Opponents Scrum Stolen.</div>
      <div class="insights-info" id="attacking-insights-info-4">Total Opponents Lineouts Stolen.</div>
      <div class="insights-info" id="attacking-insights-info-5">No. of handling errors from scrum.</div>
      <div class="insights-info" id="attacking-insights-info-6">No. of handling errors from lineout.</div>
      <div class="insights-info" id="attacking-insights-info-7">No. of Not Straight throws.</div>

      <div class="insights-value alt-text" id="attacking-insights-val-1">| 15</div>
      <div class="insights-value alt-text" id="attacking-insights-val-2">| 13</div>
      <div class="insights-value alt-text" id="attacking-insights-val-3">| 2</div>
      <div class="insights-value alt-text" id="attacking-insights-val-4">| 4</div>
      <div class="insights-value alt-text" id="attacking-insights-val-5">| 2</div>
      <div class="insights-value alt-text" id="attacking-insights-val-6">| 1</div>
      <div class="insights-value alt-text" id="attacking-insights-val-7">| 2</div>

      <div class="insights-comp-val" id="attacking-insights-comp-val-1"><text style="color: var(--green-win);">+3</text> More than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-2"><text style="color: var(--red-lose);">-0.5</text> Less than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-3"><text style="color: var(--green-win);">+0.5</text> More than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-4"><text style="color: var(--green-win);">+2</text> More than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-5"><text style="color: var(--red-lose);">-0.5</text> Less than than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-6"><text style="color: var(--green-win);">-0.5</text> Less than than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-7"><text style="color: var(--red-lose);">+0.5</text> More than than Season Avg</div>

    </div>     
 </div>

  <!-- Section-8-Discipline-->
  <div class="section-8" id="section-8-discipline-id">

    <div class="section-subheader" id="section-8-subheader-id" data-aos="fade-right">
     <text class="ac-header-txt" id="ac-header-text-id">Discipline<text class="alt-text">.</text></text>
    </div>
    <div class="dropdown-container" id="dropdown-container-id-8" data-aos="fade-right">
      <div>
        <ul>
          <li class="alt-bg"><a class="sec-col-drp">Jump to Section</a>
            <ul class="dropdown">
              <li class="alt-bg drp-option"><a href="#dropdown-container-id-1">Overview</a></li>
              <li class="alt-bg drp-option"><a href="#defense-header-id">Defense</a></li>
              <li class="alt-bg drp-option"><a href="#section-3-attack-id">Attack</a></li>
              <li class="alt-bg drp-option"><a href="#section-4-kicking-game-id">Kicking Game</a></li>
              <li class="alt-bg drp-option"><a href="#section-5-subheader-id">Ball Handling</a></li>
              <li class="alt-bg drp-option"><a href="#section-6-subheader-id">Rucks</a></li>
              <li class="alt-bg drp-option"><a href="#section-7-subheader-id">Set Piece</a></li>
              <li class="alt-bg drp-option"><a href="#section-8-subheader-id">Discipline</a></li>
            </ul>
          </li>
        </ul>
      </div>  
    </div>
    <div class="s1-panel" id="types-penalties-conceded-panel-id" data-aos="fade-right">
      <div class="graph-header"><text class="alt-text">Types of Penalties</text> Conceded %</div>
      <div class="graph-container">
        <canvas id="types-of-penalties-conceded-canv"></canvas></div>
    </div>
    <div class="s1-panel" id="penalties-diff-field-panel-id" data-aos="fade-right">
      <div class="graph-header">Penalties conceded in <text class="alt-text">Different Areas of Field</text></div>
      <div class="graph-container">
        <canvas id="penalties-diff-field-canv"></canvas></div>
    </div>
    <div class="s1-panel" id="outcome-of-penalty-in-own22-panel-id" data-aos="fade-right">
      <div class="graph-header"><text class="alt-text">Outcome of Penalty Conceded</text> in Own 22</div>
      <div class="graph-container">
        <canvas id="outcome-of-penalties-conceded-canv"></canvas></div>
    </div>
    <div class="s1-panel" id="penalties-insights-panel-id" data-aos="fade-right">
      <div class="graph-header">Discipline<text class="alt-text"> Insights</text></div>
      <div class="insights-info" id="attacking-insights-info-1">Total Penalties Conceded.</div>
      <div class="insights-info" id="attacking-insights-info-2">Total Penalties Awarded.</div>
      <div class="insights-info" id="attacking-insights-info-3">Kick for Touch Succcess %.</div>
      <div class="insights-info" id="attacking-insights-info-4">No. of Dangerous Tackles Made.</div>
      <div class="insights-info" id="attacking-insights-info-5">No. of Dangerous Ruck Entries.</div>
      <div class="insights-info" id="attacking-insights-info-6">No. of times not releasing tackled player.</div>
      <div class="insights-info" id="attacking-insights-info-7">No. of Offside commited.</div>
      <div class="insights-info" id="attacking-insights-info-8">Points Allowed due to Penalties.</div>

      <div class="insights-value alt-text" id="attacking-insights-val-1">| 16</div>
      <div class="insights-value alt-text" id="attacking-insights-val-2">| 12</div>
      <div class="insights-value alt-text" id="attacking-insights-val-3">| 93%</div>
      <div class="insights-value alt-text" id="attacking-insights-val-4">| 2</div>
      <div class="insights-value alt-text" id="attacking-insights-val-5">| 3</div>
      <div class="insights-value alt-text" id="attacking-insights-val-6">| 4</div>
      <div class="insights-value alt-text" id="attacking-insights-val-7">| 6</div>
      <div class="insights-value alt-text" id="attacking-insights-val-8">| 14</div>

      <div class="insights-comp-val" id="attacking-insights-comp-val-1"><text style="color: var(--red-lose);">+2</text> More than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-2"><text style="color: var(--red-lose);">+0.7</text> More than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-3"><text style="color: var(--red-lose);">-7%</text> Less than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-4"><text style="color: var(--red-lose);">+0.3</text> More than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-5"><text style="color: var(--green-win);">-0.5</text> Less than than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-6"><text style="color: var(--green-win);">-0.5</text> Less than than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-7"><text style="color: var(--red-lose);">+2</text> More than than Season Avg</div>
      <div class="insights-comp-val" id="attacking-insights-comp-val-8"><text style="color: var(--red-lose);">+5</text> More than than Season Avg</div>
    </div> 
 </div>
</div>

<!-- League Overview Section-->
<div class="overall-container" id="overall-container-3-id">
    <div class="section-subheader" id="league-overview-header-id" data-aos="fade-right" data-aos="fade-right">
      <text class="ac-header-txt" id="ac-header-text-id">League<text class="alt-text"> Overview</text>.</text>
    </div>
    <div class="s1-panel" id="top-10-tries-panel-id" data-aos="fade-right">
      <div class="graph-header">Player | Top 5 <text class="alt-text">Tries Scored</text></div>
      <div class="standings-container" id="standings-container-id">
        <!-- STANDINGS TABLE -->
        <table class="standings-table">
          <thead id="standings-header-tries">
            <tr>
              <th class="sec-col">No.</th>
              <th class="sec-col">Player</th>
              <th class="sec-col">Team</th>
              <th class="sec-col">Position</th>
              <th class="sec-col">No. of Tries</th>
            </tr>
          </thead>
          <tbody id="top-10-tries-standings-id"></tbody>
        </table>
      </div>
    </div>
    <div class="s1-panel" id="top-10-points-panel-id" data-aos="fade-right">
      <div class="graph-header">Player | Top 5 <text class="alt-text">Points Scored</text></div>
      <div class="standings-container" id="standings-container-id">
        <!-- STANDINGS TABLE -->
        <table class="standings-table">
          <thead id="standings-header-points">
            <tr>
              <th class="sec-col">No.</th>
              <th class="sec-col">Player</th>
              <th class="sec-col">Team</th>
              <th class="sec-col">Position</th>
              <th class="sec-col">No. of Points</th>
            </tr>
          </thead>
          <tbody id="top-10-points-standings-id"></tbody>
        </table>
      </div>
    </div>
    <div class="s1-panel" id="top-10-tackles-panel-id" data-aos="fade-right">
      <div class="graph-header">Player | Top 5 <text class="alt-text">Tackles Made</text></div>
      <div class="standings-container" id="standings-container-id">
        <!-- STANDINGS TABLE -->
        <table class="standings-table">
          <thead id="standings-header-tackles">
            <tr>
              <th class="sec-col">No.</th>
              <th class="sec-col">Player</th>
              <th class="sec-col">Team</th>
              <th class="sec-col">Position</th>
              <th class="sec-col">No. of Tackles</th>
            </tr>
          </thead>
          <tbody id="top-10-tackles-standings-id"></tbody>
        </table>
      </div>
    </div>
    <div class="s1-panel" id="top-10-tries-team-panel-id" data-aos="fade-right">
      <div class="graph-header">Team | Top 5 <text class="alt-text">Tries Scored</text></div>
      <div class="standings-container" id="standings-container-id">
        <!-- STANDINGS TABLE -->
        <table class="standings-table">
          <thead id="standings-header-tries-team">
            <tr>
              <th class="sec-col">No.</th>
              <th class="sec-col">Team</th>
              <th class="sec-col">% Tries from Forwards</th>
              <th class="sec-col">% Tries from Backs</th>
              <th class="sec-col">No. of Tries</th>
            </tr>
          </thead>
          <tbody id="top-10-team-tries-standings-id"></tbody>
        </table>
      </div>
    </div>
    <div class="s1-panel" id="top-10-tackles-team-panel-id" data-aos="fade-right">
      <div class="graph-header">Team | Top 5 <text class="alt-text">Tackles Made</text></div>
      <div class="standings-container" id="standings-container-id">
        <!-- STANDINGS TABLE -->
        <table class="standings-table">
          <thead id="standings-header-tackles-team">
            <tr>
              <th class="sec-col">No.</th>
              <th class="sec-col">Team</th>
              <th class="sec-col">% Tackles Made</th>
              <th class="sec-col">No. of Tackles</th>
            </tr>
          </thead>
          <tbody id="top-10-team-tackles-standings-id"></tbody>
        </table>
      </div>
    </div>
    <div class="s1-panel" id="top-10-linebreaks-team-panel-id" data-aos="fade-right">
      <div class="graph-header">Team | Top 5 <text class="alt-text">Line Breaks Made</text></div>
      <div class="standings-container" id="standings-container-id">
        <!-- STANDINGS TABLE -->
        <table class="standings-table">
          <thead id="standings-header-linebreaks-team">
            <tr>
              <th class="sec-col">No.</th>
              <th class="sec-col">Team</th>
              <th class="sec-col">Line Breaks / Game</th>
              <th class="sec-col">Line Breaks</th>
            </tr>
          </thead>
          <tbody id="top-10-team-linebreaks-standings-id"></tbody>
        </table>
      </div>
    </div>
    
  </div>

<script>
  //Pass data from login form to displayAC function.
  var data = JSON.parse("{{ data|escapejs }}");
  displayAC(data["team_user_name"], data["team_table_data"], data["team_season_data"], data["team_game_data"], data["team_stat_data"], data["team_game_event_data"]);
 </script>

{% endblock %}
