{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="cnt-overall" id="cnt-overview-mc">
    <div id="left-col" data-aos="fade-right">
        <div class="flex-centre" id="left-col-header-cnt">
            <div id="sm-logo-cnt">
                <img class="tc-logo" src="{% static 'general/images/sxd_logo_60px.png' %}">
            </div>
            <div class="med-header-txt" id="left-col-info-header">
                Match Centre<text class="sxd-y">.</text>
            </div>
        </div>

        <div class="flex-spc-even" id="left-col-name-logo-cnt">
            <div id="sm-team-logo-cnt">
                <span class="Centerer"></span>
                <img class="team-logo-im" src="{% static 'general/images/rosmini_logo_org.PNG' %}">
            </div>
            <div class="flex-down med-std-txt" id="left-col-info-header">
                <div>Rosmini College 1st XV<text class="sxd-y">.</text></div>
                <div><text class="sxd-y">2021</text> Season<text class="sxd-y">.</text></div>
            </div>
        </div>

        <div id="left-col-btns-cnt-mc">
           <nav class="sidebar-nav">
                <ul class="med-std-txt" id="side-bar-menu-cnt">
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a class="basic-btns hvr-icon-spin" onclick="displayOverview();">
                            <img class="mc-nav-icons hvr-icon" src="{% static 'general/images/schedule.png' %}">
                            <text class="side-txt">Overview</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a class="basic-btns hvr-icon-spin" onclick="displayAttack();">
                            <img class="mc-nav-icons hvr-icon" src="{% static 'general/images/attack.png' %}">
                            <text class="side-txt">Attack</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a class="basic-btns hvr-icon-spin" onclick="displayDefense();">
                            <img class="mc-nav-icons hvr-icon" src="{% static 'general/images/defense.png' %}">
                            <text class="side-txt">Defense</text>
                        </a>
                    </li>
                   <li id="side-bar-menu-item" class="flex-centre">
                        <a class="basic-btns hvr-icon-spin" onclick="displayKickingGame();">
                            <img class="mc-nav-icons hvr-icon" src="{% static 'general/images/kicking.png' %}">
                            <text class="side-txt">Kicking Game</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a class="basic-btns hvr-icon-spin" onclick="displayBallHandling();">
                            <img class="mc-nav-icons hvr-icon" src="{% static 'general/images/bh.png' %}">
                            <text class="side-txt">Ball Handling</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a class="basic-btns hvr-icon-spin" onclick="displayRucks();">
                            <img class="mc-nav-icons hvr-icon" src="{% static 'general/images/breakdown.png' %}">
                            <text class="side-txt">Breakdown</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a class="basic-btns hvr-icon-spin" onclick="displaySetPiece();">
                            <img class="mc-nav-icons hvr-icon" src="{% static 'general/images/setpiece.png' %}">
                            <text class="side-txt">Set Piece</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a class="basic-btns hvr-icon-spin" onclick="displayDiscipline();">
                            <img class="mc-nav-icons hvr-icon" src="{% static 'general/images/discipline.png' %}">
                            <text class="side-txt">Discipline</text>
                        </a>
                    </li>
                </ul>
           </nav>
        </div>
        <div id="left-col-extras-box-cnt">

        </div>
    </div>
    <div id="middle-col" data-aos="fade-right">
        <div class="flex-down" id="mc-header-txt-cnt">
            <text class="lg-header-txt">Game <text class="sxd-y"v>vs</text> <text id="header-game-against"></text><text class="sxd-y">.</text></text>
            <text class="med-std-txt">Played: <text class="sxd-y" id="date-txt"></text></text>
        </div>
        <div id="curr-sect-header">
            <text class="lger-header-text" id="tc-header-txt">Overview<text class="sxd-y">.</text></text>
        </div>
        <div id="back-to-team-centre">
            <a class="" href="/team_centre">Back to Team Centre</a>
        </div>
        <!-- Navbar decides what is displayed here. -->
        <div id="main-content-tm-centre"></div> 
    </div>
    <div id="right-col">
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
    
        // Grab data relavent to game.
        var data = JSON.parse("{{ data|escapejs }}");
        var game_id = "{{ game_id }}";
        var curr_team = "{{ user.get_username }}";
        console.log("Current Team is: ", curr_team);
        var game_id_int = parseInt(game_id);
        console.log("Current Game Data", data);
        console.log("Current Game ID: ", game_id);
    
        // Get current team against
        const getTeamAgainst = () => {
            tm_against = data["game_info_data"][0][1];
            tm_against_str = tmHeaders[tm_against];
            return tm_against_str;
        }

        // SetCorrect Header
        const setHeader = (team_against) => {
            $("#header-game-against").html(team_against);
        }

        // Get Date of game
        const getGameDate = () => {
            let curr_date = data["game_info_data"][0][4];
            return curr_date;
        }

        // convert date helper function
        const convertDate = (temp_date) => { 
            temp_date = date_str.split("-");
            return temp_date[2] + " " + months[Number(temp_date[1]) - 1] + " " + temp_date[0];
        }

        // Set Date of game played
        const setDate = () =>{
            date_str = getGameDate();
            let new_date_str = convertDate(date_str);
            $("#date-txt").html(new_date_str);
        }


        // Set for and against scores
        const setScore = () => {
            let score_for = data["game_info_data"][0][2] + "  "
            let score_against = "  " + data["game_info_data"][0][3];

            $("#sf-id").html(score_for);
            $("#sa-id").html(score_against);
        }

        // Set Win Loss draw letter
        const setResult = () => {
            let result = data["game_info_data"][0][5];
            if (result == "Win") {
                $("#result-letter").html("W");
                $("#result-letter").css("color", "#4E8F00");
            }
            else if (result == "Loss") {
                $("#result-letter").html("L");
                $("#result-letter").css("color", "#9B0000");
            }
            else if (result == "Draw") {
                $("#result-letter").html("D");
                $("#result-letter").css("color", "#f8bd41");
            }
            else {
                $("#result-letter").html("N/A");
                $("#result-letter").css("color", "#f8bd41");
            }
        }

        // SEt Game Events (Tries, pens cons)
        const setGameEvents = () => {
            let tries_info = "<text class='sxd-y'>Tries</text>: " + data["game_event_data"][0][6];
            $("#gm-tries").html(tries_info);

            let con_info = "<text class='sxd-y'>Cons</text>: " + data["game_event_data"][0][4];
            $("#gm-cons").html(con_info);

            let pen_info = "<text class='sxd-y'>Pens</text>: " + data["game_event_data"][0][5];
            $("#gm-pens").html(pen_info);
        }

        // Set League in which team is playing in
        const setLeague = () => {
            $("#league-name-id").html(Leagues[curr_team]);
        }

        // Set Posession stat
        const setOverviewStats = () => {

            let relevant_data = data["game_overview_data"]

            $("#pos-stat").html(relevant_data["'posession'"][0][0]);
            $("#terr-stat").html(relevant_data["'territory'"][0][0]);
            $("#he-stat").html(relevant_data["'handling_errors'"][0][0]);
            $("#ts-stat").html(relevant_data["'tackle_success'"][0][0]);
            $("#ts-total-stat").html(relevant_data["'top_tackler_total'"][0][0]);
            $("#ts-pct-stat").html(relevant_data["'top_tackler_percentage'"][0][0]); 
            $("#top-lb-stat").html(relevant_data["'top_linebreaks'"][0][0]);
            $("#top-tck-broken").html(relevant_data["'top_tackles_broken'"][0][0]);
            $("#top-tck-pct-broken-first").html(relevant_data["'top_tackles_broken_percentage'"][0][0]);
            $("#ruck-steals-stat").html(relevant_data["'most_ruck_steals'"][0][0]); 
            $("#top-passes-to-lb-stat").html(relevant_data["'best_playmaker_pass_to_linebreaks'"][0][0]);
            $("#top-passess-success-stat").html(relevant_data["'best_playmaker_successful_passes'"][0][0]);
            $("#top-bc-total-stat").html(relevant_data["'most_ball_carries'"][0][0]);
        }

        const setAttackStats = () => {
            let relevant_data = data["game_attack_data"];

            $("#tries-scored-stat").html(relevant_data["'tries_scored_stat'"][0][0]);
            $("#tries-scored-av-stat").html(relevant_data["'avg_tries_scored_season'"][0][0]);
            $("#tries-scored-total-stat").html(relevant_data["'total_season_tries'"][0][0]);
            $("#lb-stat").html(relevant_data["'linebreaks_total'"][0][0]);
            $("#rob-stat").html(relevant_data["'running_onto_ball_pct'"][0][0]);
            $("#opp-22-stat").html(relevant_data["'time_in_opp22'"][0][0]);
            $("#tb-stat").html(relevant_data["'tackles_broken'"][0][0]); 
            $("#pts-22-stat").html(relevant_data["'points_per_visit_22'"][0][0]);
        }

        const setDefStats = () => {
            let relevant_data = data["game_defense_data"];

            $("#tackles-made-stat").html(relevant_data["'tackles_made_total_stat'"][0][0]);
            $("#tackles-missed-stat").html(relevant_data["'tackles_missed_total_stat'"][0][0]);
            $("#tackles-success-stat").html(relevant_data["'tackles_success_pct'"][0][0]);
            $("#tackles-below-waist-stat").html(relevant_data["'tackles_below_waist_pct'"][0][0]);
            $("#av-linespeed-stat").html(relevant_data["'average_linespeed_stat'"][0][0]);
            $("#linebreaks-total-stat").html(relevant_data["'clean_line_breaks_stat'"][0][0]);
        }

        const setKgStats = () => {
            let relevant_data = data["game_kg_data"];

            $("#kicks_made_stat").html(relevant_data["'no_of_kicks_made'"][0][0]);
            $("#kicks_out_full_stat").html(relevant_data["'no_of_kicks_out_full'"][0][0]);
            $("#gk_pct_stat").html(relevant_data["'goal_kicking_pct'"][0][0]);
        }


        const fillInfo = () => {
            // Set header
            let team_against = getTeamAgainst(game_id_int)
            setHeader(team_against);

            setLeague();

            // Set and display Date
            setDate();

            //Set score
            setScore();

            //Set W/L
            setResult();

            //Set GameEvents
            setGameEvents();

            //Set OverView stats 
            setOverviewStats();

            // Set Attack Stats
            setAttackStats();

            //Set Def Stats
            setDefStats();

            //Set Kicking Game Stats
            setKgStats();
        }

       

        

        const displayOverview = () => {
            console.log("Displaying Overview Stats");
            $(".cnt-overall").attr("id", "cnt-overview-mc");
            $("#middle-col").css({
                "grid-row-end": "51",
                "grid-template-rows": "repeat(48, 1fr)"
            });
            $("#main-content-tm-centre").css({
                "grid-row-end": "51",
                "grid-template-rows": "repeat(48, 1fr)"
            });
            setGridSize(1);
            let html_layout = `
                <div class="gr-panel row-1 col-hlf-1" id="basic-stats-panel-id" data-aos="fade-right">
                    <div id="result-letter-big"><text class="sxd-g xll-header-txt" id="result-letter">W</text></div>
                    <div id="gm-score"><text id="sf-id">21</text><text class="sxd-y">-</text><text id="sa-id">16</text></div>
                    <div id="gm-basic-stats-id">
                        <div class="gm-event-txt" id="gm-tries">
                        </div>
                        <div class="gm-event-txt" id="gm-cons">
                        </div>
                        <div class="gm-event-txt" id="gm-pens">
                        </div>
                        <div class="gm-event-txt" id="gm-dgs">
                        </div>
                    </div>
                </div>
                <div class="gr-panel row-1 col-hlf-2" id="pos-stds-panel-id" data-aos="fade-right">
                    <div id="league-title-id" class="med-std-txt"><text id="league-name-id"></text></div>
                    <div id="league-sub-id" class="med-std-txt"><text class="sxd-y">Current Position</text> in Standings after Match.</div>
                    <div id="pos-change-lg-id" class="lg-header-txt">2nd</div>
                    <div id="change-val-id" class="sxd-g xs-small-txt">+1</div>
                </div>
                <div class="gr-panel row-2 col-qrt-1" id="posession-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Posession</h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="pos-stat"></text><text class="sxd-y">%</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-2 col-qrt-2" id="territory-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header med-std-txt">Territory</h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="terr-stat">N/A</text><text class="sxd-y">%</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-2 col-qrt-3" id="handling-errors-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header med-std-txt">Handling Errors</h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="he-stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-2 col-qrt-4" id="tackling-success-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header med-std-txt">Tackle Success %</h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="ts-stat">N/A</text><text class="sxd-y">%</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>


                <div class="gr-panel row-3 col-thrd-1" id="top-tkler-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header med-std-txt">Top Tackler</h2>
                    <div class="q-panel-g-1-value med-2-std-txt"><text class="sxd-y">#</text>7 Ben Afu</div>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">No. of Tackles</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Tackles Success %</h4>
                    <h3 class="q-panel-g-1-sa-val med-2-std-txt"><text id="ts-total-stat">N/A</text></h3>
                    <h3 class="q-panel-g-1-la-val med-2-std-txt"><text id="ts-pct-stat">N/A<text class="sxd-y">%</text></h3>
                </div>
                <div class="gr-panel row-3 col-thrd-2" id="top-lb-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header med-std-txt">Top Line Breaks</h2>
                    <div class="q-panel-g-1-value med-2-std-txt"><text class="sxd-y">#</text>13 Liam Colman</div>
                    <h4 class="q-panel-g-1-txt-single xs-small-txt">No. of Linebreaks</h4>
                    <h3 class="q-panel-g-1-val-single med-2-std-txt"><text id="top-lb-stat">N/A</text></h3>
                </div>
                <div class="gr-panel row-3 col-thrd-3" id="top-tb-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header med-std-txt">Top Tackles Broken</h2>
                    <div class="q-panel-g-1-value med-2-std-txt"><text class="sxd-y">#</text>8 Sam Ioane</div>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">No. of Tackles Broken</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">% Broke the First Tackle</h4>
                    <h3 class="q-panel-g-1-sa-val med-2-std-txt"><text id="top-tck-broken">N/A</text></h3>
                    <h3 class="q-panel-g-1-la-val med-2-std-txt"><text id="top-tck-pct-broken-first">N/A</text><text class="sxd-y">%</text></h3>

                </div>
                <div class="gr-panel row-4 col-thrd-1" id="top-rs-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header med-std-txt">Most Ruck Steals</h2>
                    <div class="q-panel-g-1-value med-2-std-txt"><text class="sxd-y">#</text>7 Ben Afu</div>
                    <h4 class="q-panel-g-1-txt-single xs-small-txt">No. of Ruck Steals</h4>
                    <h3 class="q-panel-g-1-val-single med-2-std-txt"><text id="ruck-steals-stat">N/A</text></h3>
                </div>                                
                <div class="gr-panel row-4 col-thrd-2" id="top-pm-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header med-std-txt">Best Playmaker</h2>
                    <div class="q-panel-g-1-value med-2-std-txt"><text class="sxd-y">#</text>10 Steve Francis</div>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Passes Leading to Linebreaks</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">No. of Successful Passes</h4>
                    <h3 class="q-panel-g-1-sa-val med-2-std-txt"><text id="top-passes-to-lb-stat">N/A</text></h3>
                    <h3 class="q-panel-g-1-la-val med-2-std-txt"><text id="top-passess-success-stat">N/A</text></h3>
                </div>
                <div class="gr-panel row-4 col-thrd-3" id="top-bc-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header med-std-txt">Most Ball Carries</h2>
                    <div class="q-panel-g-1-value med-2-std-txt"><text class="sxd-y">#</text>8 Sam Ioane</div>
                    <h4 class="q-panel-g-1-txt-single xs-small-txt">Ball Carries Total</h4>
                    <h3 class="q-panel-g-1-val-single med-2-std-txt"><text id="top-bc-total-stat">N/A</text></h3>
                </div>
            `;
            $("#tc-header-txt").html("Overview<text class='sxd-y'>.</text>");
            $("#main-content-tm-centre").html(html_layout);
            fillInfo();
        };

        const displayAttack = () => {
            console.log("Displaying Attack Stats");
            $(".cnt-overall").attr("id", "cnt-overview-mc");
            $("#middle-col").css({
                "grid-row-end": "51",
                "grid-template-rows": "repeat(48, 1fr)"
            });
            $("#main-content-tm-centre").css({
                "grid-row-end": "51",
                "grid-template-rows": "repeat(48, 1fr)"
            });
            setGridSize(1);
            let html_layout = `
                <div class="gr-panel row-1 col-3q" id="att-tries-panel-id" data-aos="fade-right">
                    <div class="q-panel-g-1-header med-2-std-txt cntr">Tries<text class="sxd-y">.</text></div>
                    <div class="h-panel-sh-1 cntr med-std-txt">Tries Scored</div>
                    <div class="h-panel-sh-2 cntr med-std-txt">Season Average</div>
                    <div class="h-panel-sh-3 cntr med-std-txt">Total Season Tries</div>
                    <div class="h-panel-val-1 cntr att-tries-stat"><text id="tries-scored-stat">N/A</text></div>
                    <div class="h-panel-val-2 cntr att-tries-stat"><text id="tries-scored-av-stat">N/A</text></div>
                    <div class="h-panel-val-3 cntr att-tries-stat"><text id="tries-scored-total-stat">N/A</text></div>
                </div>
                <div class="gr-panel row-1 col-qrt-4" id="att-lb-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Linebreaks<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="lb-stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-2 col-qrt-1" id="att-rob-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Running Onto the Ball<text class="sxd-y"> %.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="rob-stat">N/A</text><text class="sxd-y">%</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-2 col-qrt-2" id="att-opp22-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Time in Opp '22<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="opp-22-stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-2 col-qrt-3" id="att-tbtotal-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Tackles Broken<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="tb-stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-2 col-qrt-4" id="att-pvisit22-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Points / Visit to '22<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="pts-22-stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-3-4 col-full" id="att-meters-gained-grph-cnt" data-aos="fade-right">
                    <h2 id="graph-title"><text class="sxd-y">%</text> of the Time Meters Were Gained<text class="sxd-y">.</text></h2>
                    <div id="mg-graph-cnt">
                        <canvas id="mg-graph-canv"></canvas>
                    </div>
                </div>
            `;
            

            $("#tc-header-txt").html("Attack<text class='sxd-y'>.</text>");
            $("#main-content-tm-centre").html(html_layout);
            fillInfo();
            mg_graph_data_arr = [
                data["game_attack_data"]["'oor_meters_gain_pct'"], 
                data["game_attack_data"]["'bm_meters_gain_pct'"], 
                data["game_attack_data"]["'pag_meters_gain_pct'"]]
            MetersGainedGraph(mg_graph_data_arr);
        };

        const displayDefense = () => {
            console.log("Displaying Defense Stats");
            $(".cnt-overall").attr("id", "cnt-overview-mc-def");
            $("#middle-col").css({
                "grid-row-end": "71",
                "grid-template-rows": "repeat(71, 1fr)"
            });
            $("#main-content-tm-centre").css({
                "grid-row-end": "71",
                "grid-template-rows": "repeat(71, 1fr)"
            });
            setGridSize(1);
            let html_layout = `
                <div class="gr-panel row-1 col-qrt-1" id="def-tackles-made-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Tackles Made Total</h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="tackles-made-stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-1 col-qrt-2" id="def-tackles-missed-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Tackles Missed</h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="tackles-missed-stat">N/A</text><text class="sxd-y"></text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-1 col-qrt-3" id="def-tackles-success-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Tackles Success<text class="sxd-y"> %.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="tackles-success-stat">N/A</text><text class="sxd-y">%</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-1 col-qrt-4" id="def-tackles-below-waist-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Tackles Below Waist<text class="sxd-y"> %.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="tackles-below-waist-stat">N/A</text><text class="sxd-y">%</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-2-3 col-hlf-1" id="def-tklpos-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Tackle Success<text class="sxd-y"> %</text> by Position<text class="sxd-y">.</text></h2>
                    <div id="ts-pos-graph-cnt">
                        <canvas id="ts-pos-graph"></canvas>
                    </div>
                </div>
                <div class="gr-panel row-2-3 col-hlf-2" id="def-tkltype-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Tackle Success<text class="sxd-y"> %</text> by Type of Tackle<text class="sxd-y">.</text></h2>
                    <div id="ts-pos-graph-cnt">
                        <canvas id="tck-aw-graph"></canvas>
                    </div>
                </div>
                <div class="gr-panel row-4-5 col-hlf-1" id="def-tklarea-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Tackle Success<text class="sxd-y"> %</text> by Area of Field<text class="sxd-y">.</text></h2>
                    <div id="ts-pos-graph-cnt">
                        <canvas id="tck-area-graph"></canvas>
                    </div>
                </div>
                <div class="gr-panel row-4-5 col-hlf-2 hlf" id="def-avgls-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Average Linespeed (time until first contact)<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lger-txt"><text id="av-linespeed-stat">N/A</text><text class="sxd-y"> s</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-6-7 col-hlf-1 hlf" id="def-avgls-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Clean Line Breaks Allowed<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lger-txt"><text id="linebreaks-total-stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-6-7 col-hlf-2 hlf" id="def-avgls-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Line Breaks Allowed by Position<text class="sxd-y">.</text></h2>
                    <div id="ts-pos-graph-cnt">
                        <canvas id="lb-by-position-graph"></canvas>
                    </div>
                </div>
            `;
            $("#tc-header-txt").html("Defense<text class='sxd-y'>.</text>");
            $("#main-content-tm-centre").html(html_layout);
            
            fillInfo();

            let rel_data = data["game_defense_data"]
            let ts_graph_data_arr = [
                rel_data["'tackle_success_pos_backs'"], 
                rel_data["'tackle_success_pos_forwards'"]
            ]
            TackleSuccessPosGraph(ts_graph_data_arr);

            let ts_pos_graph_data_arr = [
                rel_data["'tackles_success_above_waist_pct'"], 
                rel_data["'tackles_success_below_waist_pct'"]
            ]
            TackleSuccessByTypeGraph(ts_pos_graph_data_arr);
            
            let ts_area_graph_data_arr = [
                rel_data["'tackles_success_area_own5_pct'"], 
                rel_data["'tackles_success_area_opp5_pct'"],
                rel_data["'tackles_success_area_own22_pct'"],
                rel_data["'tackles_success_area_opp22_pct'"],
                rel_data["'tackles_success_area_midfield_pct'"]
            ]
            TackleSuccessByArea(ts_area_graph_data_arr);

            let lb_allowed = [
                rel_data["'line_breaks_allowed_pos_backs'"], 
                rel_data["'line_breaks_allowed_pos_forwards'"],
            ]
            LinebreaksByPos(lb_allowed);
        };

        const displayKickingGame = () => {
            console.log("Displaying Kicking Game Stats");
            $(".cnt-overall").attr("id", "cnt-overview-mc");
            $("#middle-col").css({
                "grid-row-end": "51",
                "grid-template-rows": "repeat(48, 1fr)"
            });
            $("#main-content-tm-centre").css({
                "grid-row-end": "51",
                "grid-template-rows": "repeat(48, 1fr)"
            });
            setGridSize(1);
            let html_layout = `
                <div class="gr-panel row-1 col-thrd-1" id="kicks-made-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">No. of Kicks Made</h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="kicks_made_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-1 col-thrd-2" id="pos-kicked-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2"><text class="sxd-y">%</text> of Posession Kicked<text class="sxd-y">.</text></h2>
                    <div id="pos-kicked-graph-cnt">
                        <canvas id="pos-kicked-graph"></canvas>
                    </div>
                </div>
                <div class="gr-panel row-1 col-thrd-3" id="kicks-full-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">No. of Kicks Out On Full</h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="kicks_out_full_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-2-3 col-hlf-1" id="type-kicks-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Types of Kicks Made<text class="sxd-y">.</text></h2>
                    <div id="ts-pos-graph-cnt">
                        <canvas id="type_of_kick_graph"></canvas>
                    </div>
                </div>
                <div class="gr-panel row-2-3 col-hlf-2" id="kicks-reg-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2"><text class="sxd-y">%</text> Kicks Regathered by Type of Kick</h2>
                    <div id="ts-pos-graph-cnt">
                        <canvas id="kick_regathered_graph"></canvas>
                    </div>
                </div>
                <div class="gr-panel row-4-5 col-hlf-1" id="kick-touch-gain-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Meters Gained from Kicks to touch<text class="sxd-y">.</text></h2>
                    <div id="ts-pos-graph-cnt">
                        <canvas id="meters_gain_kft_graph"></canvas>
                    </div>
                </div>
                <div class="gr-panel row-4-5 col-hlf-2 hlf" id="gk-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Goal Kicking <text class="sxd-y">%</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="gk_pct_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
            `;
            $("#tc-header-txt").html("Kicking Game<text class='sxd-y'>.</text>");
            $("#main-content-tm-centre").html(html_layout);
            fillInfo();
            
            let rel_data = data["game_kg_data"];
            let tkm_graph_data_arr = [
                rel_data["'type_of_kicks_punts'"], 
                rel_data["'types_of_kicks_chips'"],
                rel_data["'types_of_kicks_grubbers'"],
                rel_data["'types_of_kicks_upandunders'"],
                rel_data["'types_of_kicks_boxkicks'"],
            ];
            TypeOfKicksMade(tkm_graph_data_arr);

            let krp_graph_data_arr = [
                rel_data["'kicks_regathered_by_type_punts'"],
                rel_data["'kicks_regathered_by_type_chips'"],
                rel_data["'kicks_regathered_by_type_grubbers'"],
                rel_data["'kicks_regathered_by_type_upandunders'"],
                rel_data["'kicks_regathered_by_type_boxkicks'"],
            ];
            KicksRegatheredGraph(krp_graph_data_arr);

            let mgk_graph_data_arr = [
                rel_data["'meters_gained_from_kicks_0m'"],
                rel_data["'meters_gained_from_kicks_10m'"],
                rel_data["'meters_gained_from_kicks_30m'"],
                rel_data["'meters_gained_from_kicks_60m'"],
                rel_data["'meters_gained_from_kicks_60_plus'"]
            ];
            KickForTouchMetersGainGraph(mgk_graph_data_arr);
            
            let pkg_graph_data_arr = [
                rel_data["'posessions_kicked_pct'"],
                rel_data["'posessions_not_kicked_pct'"]
            ]
            PosessionKickedGraph(pkg_graph_data_arr);
        };

        const displayBallHandling = () => {
            console.log("Displaying Ball Handilng Stats");
            $(".cnt-overall").attr("id", "cnt-overview-mc");
            $("#middle-col").css({
                "grid-row-end": "51",
                "grid-template-rows": "repeat(48, 1fr)"
            });
            $("#main-content-tm-centre").css({
                "grid-row-end": "51",
                "grid-template-rows": "repeat(48, 1fr)"
            });
            setGridSize(1);
            let html_layout = `
                <div class="gr-panel row-1 col-thrd-1" id="pass-success-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Overall Pass Success <text class="sxd-y">%</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="pass_success_pct_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-1 col-thrd-2" id="total-success-pass-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Total Passes Made<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="pass_success_total_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-1 col-thrd-3" id="total-unsuccessful-pass-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Total Unsuccessful Passes Made<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="pass_failed_total_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-2-3 col-hlf-1" id="ps-type-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Pass Success <text class="sxd-y">% </text>by Type of Pass</h2>
                    <div id="ts-pos-graph-cnt">
                        <canvas id="pass_success_by_type_graph"></canvas>
                    </div>
                </div>
                <div class="gr-panel row-2-3 col-hlf-2" id="type-pass-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2"><text class="sxd-y">%</text> Type of Passes Made<text class="sxd-y">.</text></h2>
                    <div id="ts-pos-graph-cnt">
                        <canvas id="passes_made_total_by_type_graph"></canvas>
                    </div>
                </div>
                <div class="gr-panel row-4-5 col-hlf-1 hlf" id="total-he-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Total Handling Errors Made<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="total_handling_errors_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-4-5 col-hlf-2" id="typ-he-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Type of Handling Errors Made</h2>
                    <div id="ts-pos-graph-cnt">
                        <canvas id="type_handling_errors_graph"></canvas>
                    </div>
                </div>
            `;
            $("#tc-header-txt").html("Ball Handling<text class='sxd-y'>.</text>");
            $("#main-content-tm-centre").html(html_layout);
            fillInfo();
            PassSuccessByTypeGraph();
            PassesTotalByType();
            TypeHandlingErrorsGraph();
        };

        const displayRucks = () => {
            console.log("Displaying Breakdown Stats");
            $(".cnt-overall").attr("id", "cnt-overview-mc");
            $("#middle-col").css({
                "grid-row-end": "51",
                "grid-template-rows": "repeat(48, 1fr)"
            });
            $("#main-content-tm-centre").css({
                "grid-row-end": "51",
                "grid-template-rows": "repeat(48, 1fr)"
            });
            setGridSize(1);
            let html_layout = `
                <div class="gr-panel row-1 col-thrd-1" id="total-rw-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Total Rucks Retained<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="ruck_won_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-1 col-thrd-2" id="total-rl-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Total Rucks Lost<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="total_rucks_lost_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-1 col-thrd-3" id="total-rs-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Total Ruck Steals<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="total_ruck_steals_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-2-3 col-full" id="rspeed-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Ruck Recycle Speed %</h2>
                    <div id="ts-pos-graph-cnt">
                        <canvas id="ruck_recycle_speed_graph"></canvas>
                    </div>
                </div>
                <div class="gr-panel row-4-5 col-hlf-2 hlf" id="ruck-infrigements-allowed-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Ruck Infringements Made<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="ruck_infringments_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-4-5 col-hlf-1 hlf" id="ruck-steals-allowed-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Ruck Steals Allowed<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="ruck_steals_allowed_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                
            `;
            $("#tc-header-txt").html("The Breakdown<text class='sxd-y'>.</text>");
            $("#main-content-tm-centre").html(html_layout);
            fillInfo();
            RuckRecycleSpeedGraph();
        };
        
        const displaySetPiece = () => {
            console.log("Displaying Set Piece Stats");
            $(".cnt-overall").attr("id", "cnt-overview-mc-def");
            $("#middle-col").css({
                "grid-row-end": "71",
                "grid-template-rows": "repeat(71, 1fr)"
            });
            $("#main-content-tm-centre").css({
                "grid-row-end": "71",
                "grid-template-rows": "repeat(71, 1fr)"
            });
            setGridSize(0);
            let html_layout = `
                <div class="gr-panel row-1 col-hlf-1" id="own-lineout-success-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Own Lineout Throw Success<text class="sxd-y">%</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="own_lineout_success_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-1 col-hlf-2" id="opp-lineout-success-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Opposition Lineout Throw Success<text class="sxd-y">%.%</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="opp_throw_success_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-2 col-hlf-1" id="own-scrum-success-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Own Scrum Success<text class="sxd-y">%</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="own_scrum_success_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-2 col-hlf-2" id="opp-scrum-success-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Opp Scrum Success<text class="sxd-y">%</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="opp_scrum_success_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-3-4 col-full" id="set-piece-to-try-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Tries off of Set Piece<text class="sxd-y">.</text></h2>
                    <div id="ts-pos-graph-cnt">
                        <canvas id="tries_off_set_piece_graph"></canvas>
                    </div>
                </div>
                <div class="gr-panel row-5 col-hlf-1" id="total-lineots-stolen-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Total Lineouts Stolen<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="total_lineouts_stolen_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-5 col-hlf-2" id="total-scrums-stolen-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Total Scrums Stolen<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="total_scrums_stolen_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>

                
            `
            $("#tc-header-txt").html("Set Piece<text class='sxd-y'>.</text>");
            $("#main-content-tm-centre").html(html_layout);
            fillInfo();
            TriesOffSetPieceGraph();
        };

        const displayDiscipline = () => {
            console.log("Displaying Set Piece Stats");
            $(".cnt-overall").attr("id", "cnt-overview-mc");
            $("#middle-col").css({
                "grid-row-end": "51",
                "grid-template-rows": "repeat(48, 1fr)"
            });
            $("#main-content-tm-centre").css({
                "grid-row-end": "51",
                "grid-template-rows": "repeat(48, 1fr)"
            });
            setGridSize(1);
            let html_layout = `
                <div class="gr-panel row-1 col-hlf-1" id="tot-pen-conc-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Total Penalties Conceded<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="total_pens_conceded_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-1 col-hlf-2" id="pts-frm-pens-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Points Allowed from Penalties<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="points_allowed_from_pens_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-2-3 col-full" id="type-pen-panel-id" data-aos="fade-right">
                    <h2 id="graph-title-2">Types of Penalties Conceded<text class="sxd-y">.</text></h2>
                    <div id="ts-pos-graph-cnt">
                        <canvas id="types_of_penalties_conceded_graph"></canvas>
                    </div>
                </div>
                <div class="gr-panel row-4 col-thrd-1" id="dang-tack-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Dangerous Tackles Made<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="dangerous_tackles_made_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-4 col-thrd-2" id="dang-re-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Dangerous Ruck Entries<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="dangerous_ruck_entries_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
                <div class="gr-panel row-4 col-thrd-3" id="offsides-panel-id" data-aos="fade-right">
                    <h2 class="q-panel-g-1-header">Offsides Commited<text class="sxd-y">.</text></h2>
                    <h1 class="q-panel-g-1-value lg-header-txt"><text id="offsides_commited_stat">N/A</text></h1>
                    <h4 class="q-panel-g-1-sa-txt xs-small-txt">Compared to SA</h4>
                    <h4 class="q-panel-g-1-la-txt xs-small-txt">Compared to LA</h4>
                    <h3 class="q-panel-g-1-sa-val xs-small-txt sxd-g">+3%</h3>
                    <h3 class="q-panel-g-1-la-val xs-small-txt">+1%</h3>
                </div>
            `
            $("#tc-header-txt").html("Discipline<text class='sxd-y'>.</text>");
            $("#main-content-tm-centre").html(html_layout);
            fillInfo();
            TypesOfPenaltiesGraph();
        };

         // Show overview as default
        displayOverview();
        //displayAttack();
        //displayDefense();
        //displayKickingGame();
        //displayBallHandling();
        //displayRucks();
        //displaySetPiece();
        //displayDiscipline();

    </script>
{% endblock %}
