{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="cnt-overall" id="cnt-overview">
    <div id="left-col">
        <div class="flex-centre" id="left-col-header-cnt">
            <div id="sm-logo-cnt">
                <img src="{% static 'general/images/sxd_logo_60px.PNG' %}">
            </div>
            <div class="med-header-txt" id="left-col-info-header">
                Match Centre<text class="sxd-y">.</text>
            </div>
        </div>

        <div class="flex-spc-even" id="left-col-name-logo-cnt">
            <div id="sm-team-logo-cnt">
                <span class="Centerer"></span>
                <img src="{% static 'general/images/rosmini_logo_org.PNG' %}">
            </div>
            <div class="flex-down med-std-txt" id="left-col-info-header">
                <div>Rosmini College 1st XV<text class="sxd-y">.</text></div>
                <div><text class="sxd-y">2021</text> Season<text class="sxd-y">.</text></div>
            </div>
        </div>

        <div id="left-col-btns-cnt">
           <nav class="sidebar-nav">
                <ul class="med-std-txt" id="side-bar-menu-cnt">
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a href="#" class="basic-btns hvr-icon-spin">
                            <img class="hvr-icon" src="{% static 'general/images/schedule.PNG' %}">
                            <text class="side-txt">Overview</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a href="#" class="basic-btns hvr-icon-spin">
                            <img class="hvr-icon" src="{% static 'general/images/attack.PNG' %}">
                            <text class="side-txt">Attack</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a href="#" class="basic-btns hvr-icon-spin">
                            <img class="hvr-icon" src="{% static 'general/images/defense.PNG' %}">
                            <text class="side-txt">Defense</text>
                        </a>
                    </li>
                   <li id="side-bar-menu-item" class="flex-centre">
                        <a href="#" class="basic-btns hvr-icon-spin">
                            <img class="hvr-icon" src="{% static 'general/images/kicking.PNG' %}">
                            <text class="side-txt">Kicking Game</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a href="#" class="basic-btns hvr-icon-spin">
                            <img class="hvr-icon" src="{% static 'general/images/bh.PNG' %}">
                            <text class="side-txt">Ball Handling</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a href="#" class="basic-btns hvr-icon-spin">
                            <img class="hvr-icon" src="{% static 'general/images/breakdown.PNG' %}">
                            <text class="side-txt">Breakdown</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a href="#" class="basic-btns hvr-icon-spin">
                            <img class="hvr-icon" src="{% static 'general/images/setpiece.PNG' %}">
                            <text class="side-txt">Set Piece</text>
                        </a>
                    </li>
                    <li id="side-bar-menu-item" class="flex-centre">
                        <a href="#" class="basic-btns hvr-icon-spin">
                            <img class="hvr-icon" src="{% static 'general/images/discipline.PNG' %}">
                            <text class="side-txt">Discipline</text>
                        </a>
                    </li>
                </ul>
           </nav>
        </div>
        <div id="left-col-extras-box-cnt">

        </div>
    </div>
    <div id="middle-col">
        <div class="flex-down" id="mc-header-txt-cnt">
            <text class="lg-header-txt">Game <text class="sxd-y"v>vs</text> <text id="header-game-against"></text><text class="sxd-y">.</text></text>
            <text class="med-std-txt">Played <text class="sxd-y">Saturday 27th March</text> 2021</text>
        </div>
        <div id="curr-sect-header">
            <text class="lger-header-text">Overview<text class="sxd-y">.</text></text>
        </div>
        
    </div>
    <div id="right-col">
    </div>
</div>
<script type="text/javascript" src="{% static 'general/js/TeamCentreData.js' %}"></script>
<script type="text/javascript" src="{% static 'general/js/TeamCentreMain.js' %}"></script>
<script>
/*
    function setHeader(team_against){
        $("#header-game-against").html(tmHeaders[team_against]);
    }

    setHeader("westlake1stxv");
*/
</script>
{% endblock %}
