{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="athlete-centre-grid-container" data-aos="fade-right">
    <div class="athlete-centre-header-text">
        We give you the tools to master the right skills.
    </div>
    <div class="athlete-centre-header-btn" data-aos="fade-right">
        <a href="/contact">Contact Us</a>
    </div>
    <div class="athlete-centre-subheader-text" data-aos="fade-right">
        We take into consideration your play-style, and the position you play to
        optimize your improvement, ensuring you master the skills you need.
    </div>
    <div class="athlete-centre-main-img" data-aos="fade-right">
        <img class="im" src="{% static 'general/images/combined_graphic.PNG'%}">
    </div>


</div>
{% endblock %}
