{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="blk-txt" id="prod-gp-cnt">
        <div class="sm-padding-right med-padding-top" id="analysis-prod-header-img-cntainer" data-aos="fade-right"><img id="analysis-prod-header-img" src="{% static 'general/images/gameplan.png' %}"></div>
        <div id="analysis-prod-header" data-aos="fade-right" class="txt-s4 med-padding-top">GamePlan<text class="sxd-y">.</text></div>
    
        <div id="prod-lg-txt-gp" class="txt-s8 med-padding-top" data-aos="fade-right">
            Set your Team Up for Success<text class="sxd-y">.</text>
        </div>
        <div id="prod-subtxt-gp" class="txt-s2 med-padding-top" data-aos="fade-right">
            Set Plays. Lineout moves. Training notes. One place for your team to collaborate and make sure your ready for game day<text class="sxd-y">.</text> 
        </div>
        <div id="prod-top-btn-gp" data-aos="fade-right">
            <a href="/register-interest" class="btn-anim std-btn txt-s2">Register Interest</a>
        </div>
        <div id="prod-header-im-cnt" data-aos="fade-right">
            <img id="analysis-three-img-1" src="{% static 'general/images/three_screens_gp.JPG'%}">
        </div>
        <div id="prod-subheader-1-im-cnt-gp" data-aos="fade-right">
            <img id="analysis-simple-img" src="{% static 'general/images/set_play_viewer_screenshot.JPG'%}">
        </div>
        <div class="txt-s7" data-aos="fade-right" id="prod-subheader-1-title-gp">Dominate on the Field<text class="sxd-y">.</text></div>
        <div data-aos="fade-right" id="prod-subheader-1-bp-cnt-gp">
            <div class="bullet-pnt txt-s2 flex-centre" id="prod-subheader-bp-1">
                <div class="analysis-bp-txt">Store all your Lineout moves/formations, Scrum ideas, backline moves in one place<text class="sxd-y">.</text></div> 
            </div>
            <div class="bullet-pnt txt-s2 flex-centre" id="prod-subheader-bp-2">
                <div class="analysis-bp-txt"> Create, edit, and walk through step-by-step each of your team’s moves<text class="sxd-y">.</text></div>
            </div>
            <div class="bullet-pnt txt-s2 flex-centre" id="prod-subheader-bp-3">
                <div class="analysis-bp-txt">Players can study and discuss at any time on any device<text class="sxd-y">.</text></div>
            </div>
        </div>
        <div data-aos="fade-right" id="prod-subheader-2-title-cnt-gp" class="txt-s7">Make Trainings Count<text class="sxd-y">.</text></div>
        <div data-aos="fade-right" id="prod-subheader-2-img-cnt-gp">
            <img id="analysis-save-img" src="{% static 'general/images/lineup_view_screenshot.JPG' %}">
        </div>
        <div data-aos="fade-right" id="prod-subheader-2-bp-cnt-gp">
            <div class="bullet-pnt txt-s2 flex-centre" id="prod-subheader-bp-1">
                <div class="analysis-bp-txt">Create, Edit, and store notes from every training of the year<text class="sxd-y">.</text></div> 
            </div>
            <div class="bullet-pnt txt-s2 flex-centre" id="prod-subheader-bp-2">
                <div class="analysis-bp-txt">Discuss weekly training plans. Upload footage of drill examples<text class="sxd-y">.</text></div>
            </div>
            <div class="bullet-pnt txt-s2 flex-centre" id="prod-subheader-bp-3">
                <div class="analysis-bp-txt">Get together and plan extra training sessions to stay ahead of the competition<text class="sxd-y">.</text></div>
            </div>
        </div>
        <div class="txt-s7" data-aos="fade-right" id="prod-subheader-3-title-cnt-gp">Everything Stored Securely in One Place<text class="sxd-y">.</text></div>
        <div data-aos="fade-right" id="prod-subheader-3-img-cnt-gp">
            <img id="gp-secure-img" src="{% static 'general/images/secure_data_screenshot.JPG' %}">
        </div>
        <div data-aos="fade-right" id="prod-subheader-3-bp-cnt-gp">
            <div class="bullet-pnt txt-s2 flex-centre" id="prod-subheader-bp-1">
                <div class="analysis-bp-txt">Store all your Lineout moves/formations, Scrum ideas, backline moves in one place<text class="sxd-y">.</text></div> 
            </div>
            <div class="bullet-pnt txt-s2 flex-centre" id="prod-subheader-bp-2">
                <div class="analysis-bp-txt"> Create, edit, and walk through step-by-step each of your team’s moves<text class="sxd-y">.</text></div>
            </div>
            <div class="bullet-pnt txt-s2 flex-centre" id="prod-subheader-bp-3">
                <div class="analysis-bp-txt">Players can study and discuss at any time on any device<text class="sxd-y">.</text></div>
            </div>
        </div>
        <div data-aos="fade-right" id="interested-header-gp" class="txt-s4 flex-centre-justify">Interested<text class="sxd-y">?</text></div>
        <div data-aos="fade-right" id="interested-subheader-gp" class="txt-s2 flex-centre-justify">Get in touch to register interest.</div>
        <div data-aos="fade-right" id="get-in-touch-btn-gp" class="flex-centre-justify"><a href="/register-interest" class="std-btn txt-s2">Register Interest</a></div>
        <!--Footer-->
        <div class="fter very-light-grey" id="fter-cnt-gp">
        <div id="fter-logo-container">
            <img id="fter-logo-img" src="{% static 'general/images/new_logo.PNG' %}">
        </div>
        <div class="fter-font-header" id="fter-cntact-header">
            Contact Us
        </div>
        <div class="fter-font-subheader" id="fter-ph">
            <text class="sxd-y">PH: </text>(09) 600 3277
        </div>
        <div class="fter-font-subheader" id="fter-email">
            <text class="sxd-y">Email: </text>mike@sportsxdatanz.com
        </div>
        <div class="fter-font-subheader" id="fter-cntact-btn">
            <a class="btn-anim fter-btn" href="/contact">Go to Contact Form</a>
        </div>
        <div class="fter-font-header" id="fter-prod-service-header">
            Products and Services
        </div>
        <div class="fter-font-subheader" id="fter-analysis-btn">
            <a class="btn-anim fter-btn" href="/analysis">Analysis</a>
        </div>
        <div class="fter-font-subheader" id="fter-gameplan-btn">
            <a class="btn-anim fter-btn" href="#">GamePlan</a>
        </div>
        <div class="fter-font-header" id="fter-social-header">
            Socials
        </div>
        <div id="fter-socials-btn-cnt">
            <div id="fter-linkedin-btn">
                <a href="https://www.linkedin.com/company/37203749">
                <img class="fter-sm-logo" src="{% static 'general/images/linkedin.png' %}">
                </a>
            </div>
            <div id="fter-fb-btn">
                <a href="https://www.facebook.com/sportsxdata">
                <img class="fter-sm-logo" src="{% static 'general/images/fb.png' %}">
                </a>
            </div>
            <div id="fter-inst-btn">
                <a href="https://www.instagram.com/sportsxdatanz/">
                <img class="fter-sm-logo" src="{% static 'general/images/inst_logo.png' %}">
                </a>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
