{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-grid-container">

    <div class="homepage-title-1" data-aos="fade-right">
        Analyze<text style="color: var(--massey-yellow);">.</text> Improve<text style="color: var(--massey-yellow);">.</text>  Advance<text style="color: var(--massey-yellow);">.</text>
    </div>

    <div class="homepage-subtitle-1" data-aos="fade-right">
        Sign up with us to get access to <text style="color: var(--massey-yellow);">in-depth and advanced analysis</text> of your game footage.
        <br>
        <br>
        <a class="btn-learn-more" href="/contact">Contact Us</a>
    </div>

    <div class="homepage-img-container" data-aos="fade-right">
      <img class="hom-img-centre" src="{% static 'general/images/graphic_homepage_larger.png' %}">
    </div>

    <div class="three-steps-header" id="three-steps-header-id" data-aos="fade-right">
      Easy <text style="color: var(--massey-yellow);">3 Step</text> Process.
    </div>
    <!-- Three steps container-->
    <div class="three-steps-container" id="three-steps-container-id" data-aos="fade-right">
      <div class="step" id="film-games-step-id">
        <picture class="img-step">
          <source media="(max-width: 800px)" srcset="{% static 'general/images/send_small.png' %}">
          <img src="{% static 'general/images/send.png' %}">
        </picture>
          <div class="step-title" id="step-title-id"><text style="color: var(--massey-yellow);">YOU upload</text> your Game Footage</div>
        <div class="step-sub" id="step-sub-id">
          Assign someone in your squad or team community to send us footage each week.
        </div>
      </div>
      <div class="step" id="send-footage-step-id">
        <picture class="img-step">
          <source media="(max-width: 800px)" srcset="{% static 'general/images/statistics_small.png' %}">
          <img src="{% static 'general/images/statistics.png' %}">
        </picture>
        <div class="step-title" id="step-title-id"><text style="color: var(--massey-yellow);">WE Extract and gather</text> insights</div>
        <div class="step-sub" id="step-sub-id">
          We gather <text style="color: var(--massey-yellow);">advanced, focused, and in-depth</text> insights from your footage.
        </div>
      </div>
      <div class="step" id="receive-insights-step-id">
        <picture class="img-step">
          <source media="(max-width: 800px)" srcset="{% static 'general/images/d_board_small.png' %}">
          <img src="{% static 'general/images/dboard.png' %}">
        </picture>
        <div class="step-title" id="step-title-id"><text style="color: var(--massey-yellow);">YOU Login and Access</text> these insights</div>
        <div class="step-sub" id="step-sub-id">
          Login to your team's <text style="color: var(--massey-yellow);">"Athlete Centre"</text> to access your compiled reports. No Sweat.
        </div>
      </div>
    </div>

    <!--What you'll get Container-->
    <div class="three-steps-header" id="what-youll-get-header-id" data-aos="fade-right">
      What <text style="color: var(--massey-yellow);">you'll get</text>.
    </div>

    <div class="what-youll-get-container" id="what-youll-get-container-id" data-aos="fade-right">
      <div class="hp-panel" id="season-overview-panel-id">
        <div class="hp-panel-img" id="hp-panel-season-overview-img-id">
          <!-- Image here -->
          <img class="hp-panel-img-center" src="{% static 'general/images/report.png' %}">
        </div>
        <div class="hp-panel-title" id="hp-panel-season-overview-id">Season Overview</div>
        <div class="hp-panel-subtitle" id="hp-panel-season-overview-subtitle-id">
          We look at your season as a whole: League Standings,
          <text style="color: var(--massey-yellow);">Season Averages, Recent Results, Fixtures</text>, and more. This is updated every week.
        </div>
      </div>


      <div class="hp-panel" id="match-overview-panel-id">
        <div class="hp-panel-img" id="hp-panel-match-overview-img-id">
          <!-- Imagre -->
          <img class="hp-panel-img-center" src="{% static 'general/images/analytics.png' %}">
        </div>
        <div class="hp-panel-title" id="hp-match-overview-id">Match Report</div>
        <div class="hp-panel-subtitle" id="hp-match-overview-subtitle-id">
          After every match you play, a <text style="color: var(--massey-yellow);">full Match Analysis</text> will be conducted and displayed in your Athlete Center within a few days.
          <br><br>We dive into our <text style="color: var(--massey-yellow);">7 Aspects of the Game</text>: Defense, Attack, Kicking Game, Ball Handling, Rucks, Set Piece, and Discipline.
        </div>
      </div>


      <div class="hp-panel" id="season-long-tracking-panel-id">
        <div class="hp-panel-img" id="hp-panel-season-long-tracking-img-id">
          <!-- Image here -->
          <img class="hp-panel-img-center" src="{% static 'general/images/tracking.png' %}">
        </div>
        <div class="hp-panel-title" id="hp-panel-season-long-tracking-id">Season-Long Tracking</div>
        <div class="hp-panel-subtitle" id="hp-panel-season-long-tracking-subtitle-id">
          We can continuously compare insights to previous games, allowing you <text style="color: var(--massey-yellow);">to track your team's improvement throughout the season.</text>
        </div>
      </div>


      <div class="hp-panel" id="player-performance-tracking-panel-id">
        <div class="hp-panel-img" id="hp-panel-player-performance-tracking-img-id">
          <!-- Image here -->
          <img class="hp-panel-img-center" src="{% static 'general/images/standings.png' %}">
        </div>
        <div class="hp-panel-title" id="hp-player-performance-tracking-overview-id">League Overview</div>
        <div class="hp-panel-subtitle" id="hp-player-performance-tracking-subtitle-id">
          If your <text style="color: var(--massey-yellow);">entire league</text> signs up with us, we will track and analyze all <text style="color: var(--massey-yellow);">7 Aspects of the Game</text> 
          for all teams within that league, as well as provide comparable insights in our 
          <text style="color: var(--massey-yellow);">League Overview</text> section. <br><br>Here you can see how your team stacks up against the rest of the competition, allowing you to prepare in a 
          <text style="color: var(--massey-yellow);">better, and more focused way.</text>
        </div>
      </div>

    </div>

    <a id="btn-contact-us-id" class="btn-contact-us" href="/contact">Get in Contact for a DEMO</a>
</div>
{% endblock %}
