{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-grid-container">
    <div class="homepage-title-1 flex-centre" data-aos="fade-right">
        Analyze<text style="color: var(--massey-yellow);">.</text> Improve<text style="color: var(--massey-yellow);">.</text>  Advance<text style="color: var(--massey-yellow);">.</text>
    </div>
    <div class="homepage-subtitle-1" data-aos="fade-right">
        <text>We provide <text class="sxd-y">digital tools and services</text> for Rugby teams. Get in touch to <text class="sxd-y">optimize</text> your team's performance.</text>
        <br>
        <br>
        <a class="btn-learn-more" href="/contact">Contact Us</a>
    </div>
    <div class="homepage-img-container" data-aos="fade-right">
      <img class="hom-img-centre" src="{% static 'general/images/graphic_homepage_larger.png' %}">
    </div>
  
    <div id="hmpage-content-cnt" class="blk-txt">
      <div class="flex-centre-justify" id="analysis-inf-h" data-aos="fade-right">
        <div class="sm-padding-right med-padding-top"><img class="analysis-img" src="{% static 'general/images/analysis_icon_2.png' %}"></div>
        <div class="txt-s4 med-padding-top">Analysis<text class="sxd-y">.</text></div>
      </div>
      <div id="analysis-inf-sh" data-aos="fade-right" class="xl-header-txt">Advanced Analysis as a Service<text class="sxd-y">.</text></div>
      <div id="analysis-inf-ssh" data-aos="fade-right" class="txt-s3">Upload your game footage, and receive an <text class="sxd-y">in-depth analysis</text> within a week. </div>
      <div id="analysis-laptop-im-cnt" data-aos="fade-right">
        <img class="analysis-laptop-img-1" src="{% static 'general/images/laptop_graphic_sm.jpg' %}"></img>
      </div>
      <div id="analysis-inf-btn-cnt" class="cent" data-aos="fade-right">
        <a href="/contact" class="std-btn txt-s2 cent">Contact us for a Demo</a>
      </div>
      <div id="analysis-inf-txt-cnt" data-aos="fade-right">
        <div class="bullet-pnt flex-centre-justify analysis-bp" id="analysis-bp-1">
          <img class="analysis-img-sm med-padding-right" src="{% static 'general/images/analysis_icon_2.png' %}">
          <div>Upload your footage, and within 4 days, login to access a full in-depth analysis, tracking
          <text class="sxd-y">56 different statistics and insights</text>.</div>
        </div>
        <div class="bullet-pnt flex-centre-justify analysis-bp" id="analysis-bp-2">
          <img class="analysis-img-sm med-padding-right" src="{% static 'general/images/analysis_icon_2.png' %}">
          <div>Players and coaches can login anytime and view in-depth stats on <text class="sxd-y">any game</text> that has been uploaded to our site</div>
        </div>
        <div class="bullet-pnt flex-centre-justify analysis-bp" id="analysis-bp-3">
          <img class="analysis-img-sm med-padding-right" src="{% static 'general/images/analysis_icon_2.png' %}">
          <div>Sign up as a <text class="sxd-y">League of Teams</text> to lower costs per team, and enable us to look at team comparisons, top performers, player matchups, and more!</div>
        </div>
        <div id="analysis-learn-more-btn-cnt">
          <a href="/analysis" class="std-btn txt-s2" id="analysis-learn-more-btn">Learn More</a>
        </div>
      </div>

      <div class="flex-centre-justify" id="gp-inf-h" data-aos="fade-right">
        <div class="sm-padding-right med-padding-top"><img class="gp-img" src="{% static 'general/images/gameplan.png' %}"></div>
        <div class="txt-s4 med-padding-top">GamePlan<text class="sxd-y">.</text></div>
      </div>
      <div data-aos="fade-right" id="gp-inf-sh" class="xl-header-txt">Ultimate Team Collaboration Platform<text class="sxd-y">.</text></div>
      <div data-aos="fade-right" id="gp-inf-ssh" class="txt-s3">Discuss tactics, create set plays, private message players, and more with GamePlan. Coming Soon!</div>
      <div data-aos="fade-right" id="gp-laptop-im-cnt">
        <img class="gp-laptop-im" src="{% static 'general/images/laptop_graphic_2.JPG' %}"></img>
      </div>
      <div data-aos="fade-right" id="gp-inf-btn-cnt" class="cent">
        <a href="/register-interest" class="std-btn txt-s2 cent">Get in Touch to Register interest</a>
      </div>
      <div data-aos="fade-right" id="gp-inf-txt-cnt">
        <div class="gp-bp bullet-pnt flex-centre" id="gp-bp-1">
          <img class="gp-img-sm med-padding-right" src="{% static 'general/images/gameplan.png' %}">
          <div><text class="sxd-y">Create, edit, and view all</text> your teams' backline moves, lineout calls, gameplan, and more. </div>
        </div>
        <div class="gp-bp bullet-pnt flex-centre" id="gp-bp-2">
          <img class="gp-img-sm med-padding-right" src="{% static 'general/images/gameplan.png' %}">
          <div>Annotation, and note taking features for players wanting to <text class="sxd-y">discuss tactics and collaborate</text>.</div>
        </div>
        <div class="gp-bp bullet-pnt flex-centre" id="gp-bp-3">
          <img class="gp-img-sm med-padding-right" src="{% static 'general/images/gameplan.png' %}">
          <div>Players aren't remembering what was discussed at training? With GamePlan, players have <text class="sxd-y">easy access</text> to <text class="sxd-y">key discussion points</text> from trainings, drills to complete at home, and more.</div>
        </div>
      </div>

    </div>
    <!--Footer-->
    <div class="fter very-light-grey" id="fter-cnt-index">
      <div id="fter-logo-container">
        <img id="fter-logo-img" src="{% static 'general/images/new_logo.PNG' %}">
      </div>
      <div class="fter-font-header" id="fter-cntact-header">
        Contact Us
      </div>
      <div class="fter-font-subheader" id="fter-ph">
        <text class="sxd-y">PH: </text>(09) 600 3277
      </div>
      <div class="fter-font-subheader" id="fter-email">
        <text class="sxd-y">Email: </text>mike@sportsxdatanz.com
      </div>
      <div class="fter-font-subheader" id="fter-cntact-btn">
        <a class="fter-btn" href="/contact">Go to Contact Form</a>
      </div>
      <div class="fter-font-header" id="fter-prod-service-header">
        Products and Services
      </div>
      <div class="fter-font-subheader" id="fter-analysis-btn">
        <a class="fter-btn" href="/analysis">Analysis</a>
      </div>
      <div class="fter-font-subheader" id="fter-gameplan-btn">
        <a class="fter-btn" href="#">GamePlan</a>
      </div>
      <div class="fter-font-header" id="fter-social-header">
        Socials
      </div>
      <div id="fter-socials-btn-cnt">
        <div id="fter-linkedin-btn">
            <a href="https://www.linkedin.com/company/37203749">
              <img class="fter-sm-logo" src="{% static 'general/images/linkedin.png' %}">
            </a>
        </div>
        <div id="fter-fb-btn">
            <a href="https://www.facebook.com/sportsxdata">
              <img class="fter-sm-logo" src="{% static 'general/images/fb.png' %}">
            </a>
        </div>
        <div id="fter-inst-btn">
            <a href="https://www.instagram.com/sportsxdatanz/">
              <img class="fter-sm-logo" src="{% static 'general/images/inst_logo.png' %}">
            </a>
        </div>
      </div>
    </div>

  </div>


{% endblock %}
