{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="login-grid-container">
    <div id="upload-page-header"><text class="alt-text">Upload</text> your Game Footage<text class="alt-text">.</text></div>
    <!-- 
    <div class="login-page-header" data-aos="fade-right">
        Upload your footage<text class="alt-text">.</text>
    </div>

    <div action="" class="form-login" data-aos="fade-right">
        <form id="upload-form" class="form-center" method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form.teamFor }}
            <div class="spacing"></div>
            {{ form.teamAgainst }}
            <div class="spacing"></div>
            {{ form.file }}
            <div class="spacing"></div>
            <button id="submit-upload-btn" type="submit" class="login-page-button">Upload Footage</button>
        </form>
    </div>
    <div id="alert-box"></div>
    <div class="not-visible" id="progress-box">Progress</div>
    <div id="cancel-box" class="not-visible">
       <button type="button" id="cancel-btn" class="btn btn-danger">Cancel</button>
    </div>
    -->

    <iframe id="transferNowForm" src="https://sportsxdatanz.transfernow.net/widget/" style="display: block; margin: auto; width: 360px; height: 674px; border: 0; overflow: hidden;"></iframe>
</div>
<!--
<script>
    UploadBarConfig();
</script>
-->
{% endblock %}
