/*Entire CSS file in need of some serious refactoring!*/


/*Variables*/

:root {
    --panel-grey: #2D2B28;
    --massey-yellow: #FFD500;
    --panel-border: #3A3A3E;
    --green-win: #507623;
    --red-lose: #9A2E2E;
    --yellow-draws: #91651E;

    --massey-yellow: #F8BD41;
    --massey-black: #0F0E10;

    --light-grey: #BABABA;
    --light-grey-diff: #C1C0BF;
    --dark-grey: #161512;
    --medium-grey: #363430;
    --light-blue: #3192C7;
    --medium-grey-diff: #3E3C39;

    --dark-blue: #0F1923;
    --shade-blue: #1B2733;
    --light-dark-blue: #28394A;
    --blue-outline: #7399BF;
    --dark-blue-outline: #1B2733;

    /*
    --base-font-size: 14px;
    --fluid-typography-ratio: 0.9;
    --scale: 1.333;

    --rem: calc(var(--base-font-size) + var(--fluid-typography-ratio)* 1vw);
    --font-size-1: calc(1rem * var(--scale));
    --font-size-2: calc(var(--font-size-1) * var(--scale));
    --font-size-3: calc(var(--font-size-2) * var(--scale));
    --font-size-4: calc(var(--font-size-3) * var(--scale));
    --font-size-5: calc(var(--font-size-4) * var(--scale));
    --font-size-6: calc(var(--font-size-5) * var(--scale));
    --font-size-7: calc(var(--font-size-6) * var(--scale));
    --font-size-8: calc(var(--font-size-7) * var(--scale));    
    --font-size-9: calc(var(--font-size-8) * var(--scale));
    --font-size-10: calc(var(--font-size-9) * var(--scale));
    --font-size-11: calc(var(--font-size-10) * var(--scale));
    --font-size-12: calc(var(--font-size-11) * var(--scale));
    */
}

/*Base css*/

@media (min-width: 1240px) {

  body {
    background-color: black;
    color: white;
    font-family: "Noto Sans", "Sans-Serif";
    margin: 0px;
  }

  .header-container {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 80px;

    color: white;
    background-color: black;
  }

  .nav-logo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .logo-image {
    width: auto;
    height: 50px;
    padding-top: 10px;
    padding-left: 50px;
    float:left;
    max-width: 100%;
  }

  .home-sect {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;

    padding-top: 27px;
    font-size: 16px;
  }


  .plans-sect {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 27px;
    font-size: 16px;

  }

  .expect-sect {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 27px;
    font-size: 16px;

  }

  .contact-sect {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 27px;
    padding-left: 30px;
    font-size: 16px;
  }

  .user-sect {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 25px;
    padding-left: 25px;
  }

  .btn-nav {
    text-decoration: none;
    color:white;
  }

  .home-sect a:hover {
    color: var(--massey-yellow);
  }

  .plans-sect a:hover {
    color: var(--massey-yellow);
  }

  .expect-sect a:hover {
    color: var(--massey-yellow);
  }

  .contact-sect a:hover {
    color: var(--massey-yellow);
  }

  .user-sect a:hover {
    color: var(--massey-yellow);
    background-color: black;
    border-color: var(--massey-yellow);
    border-width: 1px;
  }


  /* homepage css */

  .content-grid-container {
    display: grid;
    background-color: black;
    margin: 0px;
    padding: 0px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(22, 100px);
  }

  .btn-login {
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: var(--massey-yellow);
    text-decoration: none;
    font-style: bold;
    font-size: 20px

  }

  .homepage-title-1 {
    font-size: 40px;
    color: white;
    padding-left: 25px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .homepage-subtitle-1 {
    font-size: 20px;
    color: white;
    padding-left: 25px;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;

  }

  .btn-learn-more {
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: var(--massey-yellow);
    text-decoration: none;
    font-style: bold;
  }

  .btn-learn-more:hover{
    color: var(--massey-yellow);
    background-color: black;
    border-color: var(--massey-yellow);
    border-width: 1px;
  }

  .hom-img-centre {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .homepage-img-container {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

  }

  .three-steps-header {
    font-size: 40px;
    margin: 20px;
  }

  #three-steps-header-id {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .three-steps-container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #three-steps-container-id {
    grid-row-start: 8;
    grid-row-end: 14;
    grid-column-start: 1;
    grid-column-end: 7;
  }

  #film-games-step-id {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .step {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: 20px;
    background-color: var(--massey-black);
    border-style: solid;
    border-color: var(--massey-black);
    border-width: 1px;
    border-radius: 11px;
  }

  #send-footage-step-id {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 7;
  }

  #receive-insights-step-id {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 7;
    grid-column-end: 10;
  }

  .img-step {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start:3;
    grid-column-end: 9;
    padding-top: 15px;
  }

  .step-title {
    font-size: 25px;
    text-align: center;
    margin: 10px;
  }

  #step-title-id {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 11;
  }


  .step-sub {
    font-size: 13px;
    text-align: center;
  }

  #step-sub-id {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 10;
  }

  #what-youll-get-header-id {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 15;
      grid-row-end: 16;
  }

  /*What you'll get*/
  .what-youll-get-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  #what-youll-get-container-id {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 16;
    grid-row-end: 22;
  }

  .hp-panel {
    background-color: var(--massey-black);
    margin: 15px;
    background-color: var(--massey-black);
    border-style: solid;
    border-color: var(--massey-black);
    border-width: 1px;
    border-radius: 11px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  #season-overview-panel-id {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  #match-overview-panel-id {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  #season-long-tracking-panel-id {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  #player-performance-tracking-panel-id {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .hp-panel-title {
    font-size: 30px;
    color: var(--massey-yellow);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    margin: 10px;
  }

  .hp-panel-subtitle {
    margin: 10px;
    font-size: 15px;
    color: white;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 11;
  }

  .hp-panel-img {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .hp-panel-img-center {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10px;
  }

  .get-contact-btn a:hover {
    color: var(--massey-yellow);
    background-color: black;
    border-color: var(--massey-yellow);
  }

  .contact-info-text {
      padding-top: 50px;
      color: var(--massey-yellow);
      text-align: center;
      font-size: 20px;
  }


  /*Contact Page css*/
  .contact-grid-container {
      display: grid;
      background-color: black;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(8, 100px);
  }

  .contact-page-header {
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: left;
      font-size: 40px;
      padding-top: 50px;
      padding-left: 45px;
  }

  .submit-btn{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 7;
      grid-row-end: 8;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: var(--massey-yellow);
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
  }

  .submit-btn:hover {
      cursor: pointer;
      color: var(--massey-yellow);
      background-color: black;
      border-color: var(--massey-yellow);
      border-width: 1px;
  }

  .form {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 8;
      padding-left: 30px;
      padding-top: 20px;
  }

  .form-field {
      background-color: black;
      border-style: solid;
      border-radius: 5px;
      border-color: var(--massey-yellow);
      color: white;
      border-width: thin;
      margin-left: 20px;
      font-size: 16px;
      font-family: "Noto Sans", "Sans-Serif";
      padding: 10px;
      width: 400px;
  }

  .success-page-header {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;

      padding-top: 50px;
      padding-left: 30px;
      font-size: 18px;
      color: white;
  }

  .contact-info-header {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2;

      font-size: 25px;
      color: white;
      padding-top: 70px;
  }

  .contact-info-text {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 3;

      text-align: left;
      color: white;
      font-size: 20px;
  }

  /*Login page styles*/
  .login-grid-container {
      display: grid;
      background-color: black;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(8, 100px);
  }

  .form-login {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 5;
      text-align: center;
  }

  .form-center {
    text-align: center;
  }

  .login-page-header {
      font-size: 30px;
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
      text-align: center;
      padding-top: 30px;
  }

  .login-page-button {
      border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: var(--massey-yellow);
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
  }

  .login-page-button:hover {
    cursor: pointer;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--massey-yellow);
    border-style: solid;
    border-width: 1px;
    border-color: var(--massey-yellow);
    background-color: black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
  }

  /*NEW ATHLETE CENTER*/

  .overall-container {
    background-color: black;
  }

  #overall-container-id {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(100, 65px);
  }

  #header-strip-container-id {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 1;
    grid-row-end: 8;

    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }

  .header-strip-img-container {
    grid-column-start: 1;
    grid-column-end: 20;
    grid-row-start: 1;
    grid-row-end: 10;
  }

  .header-strip-img {
    max-width: 100%;
    max-height: auto;
  }

  .header-bar {
    background-color: var(--massey-black);
    grid-column-start: 1;
    grid-column-end: 20;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  #header-bar-id {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .header-bar-btn a{
    color: white;
    font-size: 15px;
    text-decoration: none;
  }

  .header-bar-btn a:hover {
    color: var(--massey-yellow);
    font-size: 14.5px;
  }

  #season-summary-btn-id {
    grid-column-start: 5;
    grid-column-end: 8;
  }

  #recent-game-btn-id {
    grid-column-start: 8;
    grid-column-end: 11;
  }

  #current-standings-btn-id {
    grid-column-start: 11;
    grid-column-end: 13;
  }

  #team-info-btn-id {
    grid-column-start: 14;
    grid-column-end: 16;
  }


  #logo-container-circle-id {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;

    display: flex;
    justify-content: center;

    align-items: center;
  }

  .logo-container-circle {
    background-color: black;
    border-width: 2px;
    border-style: solid;
    border-color: var(--massey-yellow);
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .logo-img-small {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
  }

  .team-title {
    font-size: 30px;
    color: white;
  }

  #team-title-id {
    grid-column-start: 4;
    grid-column-end: 15;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .section-1 {
    background-color: black;
  }

  #section-1-id {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 8;
    grid-row-end: 17;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .section-1-header {
    background-color: var(--massey-black);
    border-color: var(--medium-grey-diff);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
  }

  #section-1-header-id {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .ac-header-txt {
    font-size: 55px;
    color: white;
    padding-left: 20px;
  }

  #ac-header-text-id {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  #s1-panels-container-id {
      grid-column-start: 1;
      grid-column-end: 10;
      grid-row-start: 2;
      grid-row-end: 6;
  }

  .s1-panels-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .s1-panel {
    background-color: var(--massey-black);
    border-width: 1px;
    border-style: solid;
    border-color: var(--medium-grey-diff);
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  #s1-p1-id {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  #s1-p2-id {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  #s1-p3-id {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .panel-title {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #standings-title-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #standings-container-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 11;
  }

  .standings-table {
    padding-left: 25px;
  }

  td, th {
    color: white;
    font-style: normal;
    border-width: 0.05px;
    border-style: solid;
    border-radius: 2px;
    border-color: var(--medium-grey-diff);
    font-size: 11px;
    padding: 8px;
  }

  #recent-results-title-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
  }


  #recent-results-container-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 11;
  }

  .recent-results-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);

  }

  .result {
    padding-left: 10px;
  }

  #result-1-id {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #result-1-id {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #result-1-id {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #result-1-id {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #result-1-id {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .score {
    text-align: center;
    color: var(--massey-yellow);
  }

  #score-1-id {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  #score-2-id {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #score-3-id {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #score-4-id {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #score-5-id {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  #team-averages-header-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #team-average-name1-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #team-average-name2-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  #team-average-name3-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  #team-average-name4-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  #team-average-name5-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  #team-average-name6-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  #team-average-name7-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 10;
  }

  .team-average-name {
    font-size: 13px;
    color: white;
    text-align: left;
    padding-left: 10px;
  }

  #team-average-score-1-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #team-average-score-2-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  #team-average-score-3-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  #team-average-score-4-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end:7;
  }

  #team-average-score-5-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  #team-average-score-6-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  #team-average-score-7-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 10;
  }

  .team-average-score {
    color: var(--massey-yellow);
    font-size: 20px;
  }

  /*Section 2 Start*/

  #section-2-id {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 18;
    grid-row-end: 58;
  }

  .section-2 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(50, 1fr);
  }

  #section-2-subheader-id {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .section-2-subheader {
    font-size: 40px;
    background-color: var(--massey-black);
    border-color: var(--medium-grey-diff);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding-left: 20px;
  }

  #section-2-row-1-container-id {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 13;
  }

  .section-2-row-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #s2-p1-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  #s2-p2-id {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .big-result-letter {
    font-size: 150px;
    color: var(--green-win);
  }

  #big-result-letter-id {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .game-score {
    font-size: 80px;
    padding-left: 20px;
    text-align: left;
  }

  #game-score-id {
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .game-stats-header {
    font-size: 25px;
    padding-left: 20px;
  }

  #game-stats-header-id {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
  }

  .game-stats-content-header {
    font-size: 21px;
    padding-left: 20px;
  }

  #game-stats-content-header-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .game-stats-content {
    font-size: 17px;
    padding-left: 20px;
  }

  #game-stats-content-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9;
  }

  .game-stats-improvements-header {
    font-size: 21px;
  }

  #game-stats-improvements-header-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .game-stats-improvements-content {
    font-size: 15px;
  }

  #game-stats-improvements-content-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 9;
  }

  .top-match-performers-header {
    font-size: 35px;
    text-align: center;
    padding-top: 15px;
  }

  #top-match-performers-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .stat-title {
    color: var(--massey-yellow);
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
  }

  .stat {
    color: white;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
  }

  #top-tackler-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
  }


  #top-ruck-commits-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
  }


  #top-ruck-steals-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9;
  }


  #top-playmaker-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 11;
  }


  #top-linebreaks-id {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 7;
  }

  #top-broken-tackles-id {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 9;
  }

  #top-ball-carries-id {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 11;
  }

  #btn-contact-us-id {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 22;
    grid-row-end: 23;

    text-align: center;
  }

  .btn-contact-us {
    background-color: var(--massey-yellow);
    border-color: black;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 30px;
    font-size: 22px;
    font-style: bold;

  }

  .btn-contact-us:hover {
    background-color: black;
    border-color: var(--massey-yellow);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
    color: var(--massey-yellow);
    text-align: center;
    margin: 30px;
    font-size: 22px;
    font-style: bold;
  }

  #section-2-subheader-2-id {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 14;
    grid-row-end: 15;
  }

  #section-2-row-2-container-id {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 15;
    grid-row-end: 24;
  }

  #s2-p3-id {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  #s2-p4-id {
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  #tackles-graph-container-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 11;
  }

  #tackles-graph-header-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .tackles-graph-header {
    text-align: center;
    font-size: 22px;
    color: white; 
    margin: 10px;
  }

  #rugby-field-container-id {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 11;
  }

  .rugby-field-container {
    margin-top: 6px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(15, 1fr);
  }

  .rugby-field-img {
    border-width: 0.5px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;

    grid-column-start: 1;
    grid-column-end: 31;
    grid-row-start: 1;
    grid-row-end: 16;
  }

  .btn-field-interaction {
    font-size: 13px;
    text-decoration: none;
    border-color: var(--massey-black);
    border-style: solid;
    border-width: 0.5px;
    padding: 2.5px;
    border-radius: 5px;
    background-color: var(--massey-yellow);
    text-align: center;
    color: var(--massey-black);
  }

  .btn-field-interaction:hover{
    font-size: 13px;
    text-decoration: none;
    border-color: var(--massey-yellow);
    border-style: solid;
    border-width: 0.5px;
    padding: 2.5px;
    border-radius: 5px;
    background-color: var(--massey-black);
    text-align: center;
    color: var(--massey-yellow);
  }

  #tackles-success-btn-id {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 10;
  }

  
  #tackles-failed-btn-id {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 10;
  }

  
  #tackles-percentage-btn-id {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 9;
    grid-row-end: 10;
  }

  .continuation-text {
    font-size: 25px;
    font-style: italic;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 25;
    grid-row-end: 26;
  }
}

@media (max-width: 1239px) {
  body {
    background-color: black;
    color: white;
    font-family: "Noto Sans", "Sans-Serif";
    margin: 0px;
  }

  .header-container {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 80px;

    color: white;
    background-color: black;
  }

  .nav-logo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .logo-image {
    width: auto;
    height: 50px;
    padding-top: 10px;
    padding-left: 50px;
    float:left;
    max-width: 100%;
  }

  .home-sect {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;

    padding-top: 22px;
    font-size: 13px;
  }


  .plans-sect {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 22px;
    font-size: 13px;

  }

  .expect-sect {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 22px;
    font-size: 13px;

  }

  .contact-sect {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 22px;
    font-size: 13px;
  }

  .user-sect {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 13px;
    padding-top: 22px;
    padding-left: 25px;
  }

  .btn-nav {
    text-decoration: none;
    color:white;
  }

  .home-sect a:hover {
    color: var(--massey-yellow);
  }

  .plans-sect a:hover {
    color: var(--massey-yellow);
  }

  .expect-sect a:hover {
    color: var(--massey-yellow);
  }

  .contact-sect a:hover {
    color: var(--massey-yellow);
  }

  .user-sect a:hover {
    color: var(--massey-yellow);
    background-color: black;
    border-color: var(--massey-yellow);
    border-width: 1px;
  }
  
  .btn-login {
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: var(--massey-yellow);
    text-decoration: none;
    font-style: bold;
    font-size: 15px
  }


  /*Homepage css*/
  .content-grid-container {
    display: grid;
    background-color: black;
    margin: 0px;
    padding: 0px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(22, 100px);
  }

  .homepage-title-1 {
    font-size: 25px;
    color: white;
    padding-left: 15px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .homepage-subtitle-1 {
    font-size: 25px;
    color: white;
    padding-left: 15px;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;

  }

  .btn-learn-more {
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: var(--massey-yellow);
    text-decoration: none;
    font-style: bold;
    font-size: 25px;
  }

  .btn-learn-more:hover{
    color: var(--massey-yellow);
    background-color: black;
    border-color: var(--massey-yellow);
    border-width: 1px;
  }

  .hom-img-centre {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .homepage-img-container {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

  }

  .three-steps-header {
    font-size: 40px;
    margin: 20px;
  }

  #three-steps-header-id {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .three-steps-container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #three-steps-container-id {
    grid-row-start: 8;
    grid-row-end: 14;
    grid-column-start: 1;
    grid-column-end: 7;
  }

  #film-games-step-id {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .step {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: 20px;
    background-color: var(--massey-black);
    border-style: solid;
    border-color: var(--massey-black);
    border-width: 1px;
    border-radius: 11px;
  }

  #send-footage-step-id {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 7;
  }

  #receive-insights-step-id {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 7;
    grid-column-end: 10;
  }

  .img-step {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start:3;
    grid-column-end: 9;
    padding-top: 15px;
  }

  .step-title {
    font-size: 25px;
    text-align: center;
    margin: 10px;
  }

  #step-title-id {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 11;
  }


  .step-sub {
    font-size: 13px;
    text-align: center;
  }

  #step-sub-id {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 10;
  }

  #what-youll-get-header-id {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 15;
      grid-row-end: 16;
  }

  /*What you'll get*/
  .what-youll-get-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  #what-youll-get-container-id {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 16;
    grid-row-end: 22;
  }

  .hp-panel {
    background-color: var(--massey-black);
    margin: 15px;
    background-color: var(--massey-black);
    border-style: solid;
    border-color: var(--massey-black);
    border-width: 1px;
    border-radius: 11px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  #season-overview-panel-id {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  #match-overview-panel-id {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  #season-long-tracking-panel-id {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  #player-performance-tracking-panel-id {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .hp-panel-title {
    font-size: 30px;
    color: var(--massey-yellow);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    margin: 10px;
  }

  .hp-panel-subtitle {
    margin: 10px;
    font-size: 15px;
    color: white;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 11;
  }

  .hp-panel-img {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .hp-panel-img-center {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10px;
  }

  .get-contact-btn a:hover {
    color: var(--massey-yellow);
    background-color: black;
    border-color: var(--massey-yellow);
  }

  .contact-info-text {
      padding-top: 50px;
      color: var(--massey-yellow);
      text-align: center;
      font-size: 20px;
  }


  /*Contact Page css*/
  .contact-grid-container {
      display: grid;
      background-color: black;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(8, 100px);
  }

  .contact-page-header {
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: left;
      font-size: 40px;
      padding-top: 50px;
      padding-left: 45px;
  }

  .submit-btn{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 7;
      grid-row-end: 8;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: var(--massey-yellow);
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
  }

  .submit-btn:hover {
      cursor: pointer;
      color: var(--massey-yellow);
      background-color: black;
      border-color: var(--massey-yellow);
      border-width: 1px;
  }

  .form {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 8;
      padding-left: 30px;
      padding-top: 20px;
  }

  .form-field {
      background-color: black;
      border-style: solid;
      border-radius: 5px;
      border-color: var(--massey-yellow);
      color: white;
      border-width: thin;
      margin-left: 20px;
      font-size: 16px;
      font-family: "Noto Sans", "Sans-Serif";
      padding: 10px;
      width: 400px;
  }

  .success-page-header {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;

      padding-top: 50px;
      padding-left: 30px;
      font-size: 18px;
      color: white;
  }

  .contact-info-header {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2;

      font-size: 25px;
      color: white;
      padding-top: 70px;
  }

  .contact-info-text {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 3;

      text-align: left;
      color: white;
      font-size: 20px;
  }

  /*Login page styles*/
  .login-grid-container {
      display: grid;
      background-color: black;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(8, 100px);
  }

  .form-login {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 5;
      text-align: center;
  }

  .form-center {
    text-align: center;
  }

  .login-page-header {
      font-size: 30px;
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
      text-align: center;
      padding-top: 30px;
  }

  .login-page-button {
      border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: var(--massey-yellow);
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
  }

  .login-page-button:hover {
    cursor: pointer;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--massey-yellow);
    border-style: solid;
    border-width: 1px;
    border-color: var(--massey-yellow);
    background-color: black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
  }

  /*NEW ATHLETE CENTER*/

  .overall-container {
    background-color: black;
  }

  #overall-container-id {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(100, 65px);
  }

  #header-strip-container-id {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 1;
    grid-row-end: 8;

    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }

  .header-strip-img-container {
    grid-column-start: 1;
    grid-column-end: 20;
    grid-row-start: 1;
    grid-row-end: 10;
  }

  .header-strip-img {
    max-width: 100%;
    max-height: auto;
  }

  .header-bar {
    background-color: var(--massey-black);
    grid-column-start: 1;
    grid-column-end: 20;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  #header-bar-id {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .header-bar-btn a{
    color: white;
    font-size: 15px;
    text-decoration: none;
  }

  .header-bar-btn a:hover {
    color: var(--massey-yellow);
    font-size: 14.5px;
  }

  #season-summary-btn-id {
    grid-column-start: 5;
    grid-column-end: 8;
  }

  #recent-game-btn-id {
    grid-column-start: 8;
    grid-column-end: 11;
  }

  #current-standings-btn-id {
    grid-column-start: 11;
    grid-column-end: 13;
  }

  #team-info-btn-id {
    grid-column-start: 14;
    grid-column-end: 16;
  }


  #logo-container-circle-id {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 9;

    display: flex;
    justify-content: center;

    align-items: center;
  }

  .logo-container-circle {
    background-color: black;
    border-width: 1px;
    border-style: solid;
    border-color: var(--dark-blue-outline);
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .logo-img-small {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
  }

  .team-title {
    font-size: 30px;
    color: white;
  }

  #team-title-id {
    grid-column-start: 4;
    grid-column-end: 15;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .section-1 {
    background-color: black;
  }

  #section-1-id {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 8;
    grid-row-end: 17;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .section-1-header {
    background-color: var(--massey-black);
    border-color: var(--medium-grey-diff);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
  }

  #section-1-header-id {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .ac-header-txt {
    font-size: 50px;
    color: white;
    padding-left: 20px;
  }

  #ac-header-text-id {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  #s1-panels-container-id {
      grid-column-start: 1;
      grid-column-end: 10;
      grid-row-start: 2;
      grid-row-end: 6;
  }

  .s1-panels-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .s1-panel {
    background-color: var(--massey-black);
    border-width: 1px;
    border-style: solid;
    border-color: var(--medium-grey-diff);
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  #s1-p1-id {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  #s1-p2-id {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  #s1-p3-id {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .panel-title {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #standings-title-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #standings-container-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 11;
  }

  .standings-table {
    padding-left: 25px;
  }

  td, th {
    color: white;
    font-style: normal;
    border-width: 0.05px;
    border-style: solid;
    border-radius: 2px;
    border-color: var(--medium-grey-diff);
    font-size: 11px;
    padding: 8px;
  }

  #recent-results-title-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
  }


  #recent-results-container-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 11;
  }

  .recent-results-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);

  }

  .result {
    padding-left: 10px;
  }

  #result-1-id {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #result-1-id {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #result-1-id {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #result-1-id {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #result-1-id {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .score {
    text-align: center;
    color: var(--massey-yellow);
  }

  #score-1-id {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  #score-2-id {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #score-3-id {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #score-4-id {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #score-5-id {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  #team-averages-header-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #team-average-name1-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #team-average-name2-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  #team-average-name3-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  #team-average-name4-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  #team-average-name5-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  #team-average-name6-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  #team-average-name7-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 10;
  }

  .team-average-name {
    font-size: 13px;
    color: white;
    text-align: left;
    padding-left: 10px;
  }

  #team-average-score-1-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  #team-average-score-2-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  #team-average-score-3-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  #team-average-score-4-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end:7;
  }

  #team-average-score-5-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  #team-average-score-6-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  #team-average-score-7-id {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 10;
  }

  .team-average-score {
    color: var(--massey-yellow);
    font-size: 20px;
  }

  /*Section 2 Start*/

  #section-2-id {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 18;
    grid-row-end: 58;
  }

  .section-2 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(50, 1fr);
  }

  #section-2-subheader-id {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .section-2-subheader {
    background-color: var(--massey-black);
    border-color: var(--medium-grey-diff);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    padding-left: 20px;
  }

  #section-2-row-1-container-id {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 13;
  }

  .section-2-row-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #s2-p1-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  #s2-p2-id {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .big-result-letter {
    font-size: 150px;
    color: var(--green-win);
  }

  #big-result-letter-id {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .game-score {
    font-size: 80px;
    padding-left: 20px;
    text-align: left;
  }

  #game-score-id {
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .game-stats-header {
    font-size: 25px;
    padding-left: 20px;
  }

  #game-stats-header-id {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
  }

  .game-stats-content {
    font-size: 19px;
    padding-left: 20px;
  }

  #game-stats-content-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 9;
  }

  .top-match-performers-header {
    font-size: 35px;
    text-align: center;
    padding-top: 15px;
  }

  #top-match-performers-id {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .stat-title {
    color: var(--massey-yellow);
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
  }

  .stat {
    color: white;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
  }

  #top-tackler-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
  }


  #top-ruck-commits-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
  }


  #top-ruck-steals-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9;
  }


  #top-playmaker-id {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 11;
  }


  #top-linebreaks-id {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 7;
  }

  #top-broken-tackles-id {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 9;
  }

  #top-ball-carries-id {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 11;
  }

  #btn-contact-us-id {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 22;
    grid-row-end: 23;

    text-align: center;
  }

  .btn-contact-us {
    background-color: var(--massey-yellow);
    border-color: black;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 30px;
    font-size: 22px;
    font-style: bold;

  }

  .btn-contact-us:hover {
    background-color: black;
    border-color: var(--massey-yellow);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
    color: var(--massey-yellow);
    text-align: center;
    margin: 30px;
    font-size: 22px;
    font-style: bold;
  }
}


/*
@media (max-width: 900px) {

}

@media (max-width: 400px) {

}

@media (max-width: 150px){

}
*/