.cnt-overall {
    background-color: black;
    color: white;
  }
  
  #cnt-overview {
    display: grid;
    background-color: white;
    grid-template-columns: [left-col-start] 2em [mid-col-start] auto [right-col-start] 2em [right-col-end];
    grid-template-rows: [top-row-start] auto [top-row-end];
  }