/*Variables*/

:root {
    --panel-grey: #2D2B28;
    --massey-yellow: #FFD500;
    --panel-border: #3A3A3E;
    --green-win: #507623;
    --red-lose: #9A2E2E;
    --yellow-draws: #91651E;

    --massey-yellow: #F8BD41;
    --massey-black: #0F0E10;

    --light-grey: #BABABA;
    --light-grey-diff: #C1C0BF;
    --dark-grey: #161512;
    --medium-grey: #363430;
    --light-blue: #3192C7;
    --medium-grey-diff: #3E3C39;

    --dark-blue: #0F1923;
    --shade-blue: #1B2733;
    --light-dark-blue: #28394A;
    --blue-outline: #7399BF;
    --dark-blue-outline: #1B2733;

}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

/*Base css*/
body {
  background-color: black;
  color: white;
  font-family: "Noto Sans", "Sans-Serif";
  margin: 0px;
}

.header-container {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 80px;

  color: white;
  background-color: black;
}

.nav-logo {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.logo-image {
  width: auto;
  height: 50px;
  padding-top: 10px;
  padding-left: 50px;
  float:left;
}

.home-sect {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;

  padding-top: 27px;
  font-size: 16px;
}


.plans-sect {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 27px;
  font-size: 16px;

}

.expect-sect {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 27px;
  font-size: 16px;

}

.contact-sect {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 27px;
  padding-left: 30px;
  font-size: 16px;
}

.user-sect {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 25px;
  padding-left: 25px;
}

.btn-nav {
  text-decoration: none;
  color:white;
}

.home-sect a:hover {
  color: var(--massey-yellow);
}

.plans-sect a:hover {
  color: var(--massey-yellow);
}

.expect-sect a:hover {
  color: var(--massey-yellow);
}

.contact-sect a:hover {
  color: var(--massey-yellow);
}

.user-sect a:hover {
  color: var(--massey-yellow);
  background-color: black;
  border-color: var(--massey-yellow);
  border-width: 1px;
}


/* homepage css */

.content-grid-container {
  display: grid;
  background-color: black;
  margin: 0px;
  padding: 0px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(22, 100px);
}


.homepage-title {
  font-size: 40px;
  font-style: bold;
  padding-left: 50px;
}

.homepage-subtitle {
  padding-left: 50px;
  font-size: 30px;
  font-style: bold;
}

.btn-login {
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: var(--massey-yellow);
  text-decoration: none;
  font-style: bold;

  font-size: 20px

}

.homepage-title-1 {
  font-size: 40px;
  color: white;
  padding-left: 25px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.homepage-subtitle-1 {
  font-size: 20px;
  color: white;
  padding-left: 25px;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;

}

.btn-learn-more {
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: var(--massey-yellow);
  text-decoration: none;
  font-style: bold;
}

.btn-learn-more:hover{
  color: var(--massey-yellow);
  background-color: black;
  border-color: var(--massey-yellow);
  border-width: 1px;
}

.homepage-im-slice-1{
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
}

.hom-img-centre {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.hom-img {
  max-width: 100%;
  max-height: auto;
}

.homepage-img-container {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 6;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

}

.three-steps-header {
  font-size: 40px;
  margin: 20px;
}

#three-steps-header-id {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8;
}

.three-steps-container{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#three-steps-container-id {
  grid-row-start: 8;
  grid-row-end: 14;
  grid-column-start: 1;
  grid-column-end: 7;
}

#film-games-step-id {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}

.step {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin: 20px;
  background-color: var(--massey-black);
  border-style: solid;
  border-color: var(--massey-black);
  border-width: 1px;
  border-radius: 11px;
}

#send-footage-step-id {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 7;
}

#receive-insights-step-id {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 7;
  grid-column-end: 10;
}

.img-step {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start:3;
  grid-column-end: 9;
  padding-top: 15px;
}

.step-title {
  font-size: 25px;
  text-align: center;
  margin: 10px;
}

#step-title-id {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 11;
}


.step-sub {
  font-size: 13px;
  text-align: center;
}

#step-sub-id {
  grid-row-start: 9;
  grid-row-end: 11;
  grid-column-start: 2;
  grid-column-end: 10;
}

#what-youll-get-header-id {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 15;
    grid-row-end: 16;
}

/*What you'll get*/
.what-youll-get-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#what-youll-get-container-id {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 16;
  grid-row-end: 22;
}

.hp-panel {
  background-color: var(--massey-black);
  margin: 15px;
  background-color: var(--massey-black);
  border-style: solid;
  border-color: var(--massey-black);
  border-width: 1px;
  border-radius: 11px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#season-overview-panel-id {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 6;
}

#match-overview-panel-id {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;
}

#season-long-tracking-panel-id {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 6;
}

#player-performance-tracking-panel-id {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
}

.hp-panel-title {
  font-size: 30px;
  color: var(--massey-yellow);
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  margin: 10px;
}

.hp-panel-subtitle {
  margin: 10px;
  font-size: 15px;
  color: white;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 11;
}

.hp-panel-img {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.hp-panel-img-center {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10px;
}

.get-contact-btn {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}

.get-contact-btn a:hover {
  color: var(--massey-yellow);
  background-color: black;
  border-color: var(--massey-yellow);
 }

.contact-btn {
  border-radius: 10px;
  padding-left: 3px;
  padding-right: 3px;
  color: black;
  border-style: solid;
  border-color: black;
  background-color: var(--massey-yellow);
  text-decoration: none;
  font-size: 21px;
  text-align: center;
}

.down-arrow {
  padding-top: 50px;
}

.contact-info-container {
    grid-row-start: 15;
    grid-row-end: 17;
    grid-column-start: 1;
    grid-column-end: 7;
    background: black;
}

.contact-info-title {
    padding-top: 20px;
    color: var(--massey-yellow);
    text-align: center;
    font-size: 30px;
}

.contact-info-text {
    padding-top: 50px;
    color: var(--massey-yellow);
    text-align: center;
    font-size: 20px;
}


/*Contact Page css*/
.contact-grid-container {
    display: grid;
    background-color: black;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 100px);
}

.contact-page-header {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: left;
    font-size: 40px;
    padding-top: 50px;
    padding-left: 45px;
}

.submit-btn{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-color: var(--massey-yellow);
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
}

.submit-btn:hover {
    cursor: pointer;
    color: var(--massey-yellow);
    background-color: black;
    border-color: var(--massey-yellow);
    border-width: 1px;
}

.form {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 8;
    padding-left: 30px;
    padding-top: 20px;
}

.form-field {
    background-color: black;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--massey-yellow);
    color: white;
    border-width: thin;
    margin-left: 20px;
    font-size: 16px;
    font-family: "Noto Sans", "Sans-Serif";
    padding: 10px;
    width: 400px;
}

.success-page-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    padding-top: 50px;
    padding-left: 30px;
    font-size: 18px;
    color: white;
}

.contact-info-header {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;

    font-size: 25px;
    color: white;
    padding-top: 70px;
}

.contact-info-text {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;

    text-align: left;
    color: white;
    font-size: 20px;
}

/*Login page styles*/
.login-grid-container {
    display: grid;
    background-color: black;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 100px);
}

.form-login {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    text-align: center;
}

.form-center {
  text-align: center;
}

.login-page-header {
    font-size: 30px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    padding-top: 30px;
}

.login-page-button {
    border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: var(--massey-yellow);
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
}

.login-page-button:hover {
  cursor: pointer;
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--massey-yellow);
  border-style: solid;
  border-width: 1px;
  border-color: var(--massey-yellow);
  background-color: black;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
}

/*Athlete-centre page*/




.athlete-centre-grid-container{
    display: grid;
    background-color: black;
    margin: 0px;
    padding: 0px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(15, 100px);
}

.athlete-centre-header-text {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 40px;
    color: white;
    padding-left: 30px;
}


.athlete-centre-subheader-text {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 16px;
    color: white;
    padding-left: 30px;
    padding-top: 29px;
}

.athlete-centre-main-img {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
}

.im {
    padding-left: 30px;
    padding-top: 20px;
    max-width: 90%;
    height: auto;
}

.athlete-centre-header-btn {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-left: 25px;
    padding-top: 15px;
}

.athlete-centre-header-btn a {
      border-radius: 10px;
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      color: black;
      border-style: solid;
      border-width: 3px;
      border-color: black;
      background-color: var(--massey-yellow);
      text-decoration: none;
      font-style: bold;
      font-size: 20px;

}

.athlete-centre-feat-1-left {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 11;
}

.athlete-centre-feat-2-right {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 15;
}

.im-player {
padding-left: 50px;
padding-top: 50px;
    max-width: 55%;
    height: auto;
}

.im-team {
padding-left: 50px;
padding-top: 50px;
    max-width: 80%;
    height: auto;
}


/*Chart example pages*/

.stats-grid-container {
  display: grid;
  background-color: black;
  margin: 0px;
  padding: 0px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(25, 100px);
}

.stats-header {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;
}

.stats-title {
    color: white;
    font-family: "Noto Sans", "Sans-Serif";
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}

.stats-team-name {
    color: white;
    font-family: "Noto Sans", "Sans Serif";
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
}

.team-logo {
    max-width: 50%;
    max-height: auto;
    padding-top: 30px;
    padding-left: 75px;
}

.team-logo-container {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 7;

}

.team-insights-container {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 40;

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(15, 100px)

}

.panel {
    background-color: var(--massey-black);
    border-color: var(--massey-black);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 48px);
    align-items: center;
}

.panel:hover {
    border-radius: 50px;
}

#panel-1-1 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;

}

#panel-1-2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;

}

#panel-1-3 {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;
}

.panel-header {
    color: var(--massey-yellow);
    font-size: 25px;
    text-align: center;
}

#panel-1-1-header {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.panel-wins {
    font-size: 40px;
    color: var(--green-win);
}

#panel-1-1-wins {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 10px;
}

.panel-losses {
    font-size: 40px;
    color: var(--red-lose);
}

#panel-1-1-losses {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 10px;
}

.panel-draws {
    font-size: 40px;
    color: var(--yellow-draws);
}

#panel-1-1-draws {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-left: 10px;
}

.panel-btn {
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  background-color: var(--massey-yellow);
  color: black;
  font-size: 16px;
  text-align: center;
  text-decoration: none;

}

#panel-1-1-btn {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}

.panel-btn:hover {
  padding: 12px;

}

.panel-pf {
  font-size: 16px;
  color: var(--massey-yellow);
  text-align: center;
}

#panel-1-1-pf {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

.panel-pa {
  font-size: 16px;
  color: var(--massey-yellow);
  text-align: center;
}

#panel-1-1-pa {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;

}
.panel-pdiff {
  font-size: 16px;
  color: var(--massey-yellow);
  text-align: center;
}

#panel-1-1-pdiff {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;

}

.panel-1-2-header {
  color: var(--massey-yellow);
  font-size: 17px;
  text-align: center;

}

.panel-placement {
  color: var(--massey-yellow);
  font-size: 80px;
  padding-left: 5px;
}

#panel-1-2-placement {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6;

}
#panel-1-2-subheader{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

.panel-sub-header  {
  color: var(--massey-yellow);
  font-size: 15px;
  text-align: center;

}

#panel-1-2-game-1 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  padding-left: 5px;
}

#panel-1-2-game-2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-left: 5px;
}


#panel-1-2-game-3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    padding-left: 5px;
}

#panel-1-3-insight-1 {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;

}

#panel-1-3-insight-2 {
  padding-left: 10px;
  padding-right: 5px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}

#panel-1-3-insight-3 {
  padding-left: 10px;
  padding-right: 5px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
}

#panel-2-1 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 8;
}

#tackles_improv {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 7;
}

#panel-2-2 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 8;
}

#panel-2-3 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 8;
}

.current-game-wrapper {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 9;
  grid-row-end: 10;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-left: 20px;
}

.team-against-header {
  font-size: 40px;
}

#team-against-header-pos {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.team-against-sub-header {
  font-size: 25px;
}

#team-against-sub-header-pos {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.team-against-score {
  font-size: 25px;
}

#team-against-score-pos {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.game-analysis-container {
  grid-row-start: 10;
  grid-row-end: 22;
  grid-column-start: 1;
  grid-column-end: 14;

  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(20, 50px)
}

.game-analysis-panel {
  background-color: var(--massey-black);
  border-color: var(--massey-black);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  margin: 5px;
}

#result-panel-id {
  grid-row-start: 1;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 8;

  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

#top-performers-id {
  grid-row-start: 1;
  grid-row-end: 9;
  grid-column-start: 8;
  grid-column-end: 16;

  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

#improvements-id {
  grid-row-start: 1;
  grid-row-end: 9;
  grid-column-start: 16;
  grid-column-end: 19;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#starting-lineup-id {
  grid-row-start: 1;
  grid-row-end: 9;
  grid-column-start: 16;
  grid-column-end: 19;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(10, 1fr);
}


.big-result {
  color: var(--green-win);
  font-size: 150px;
}

#big-result-id {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  padding-left: 10px;
}

.big-score {
  color: white;
  font-size: 65px;
  padding-top: 15px;
}

#big-score-id {
  grid-column-start: 5;
  grid-column-end: 15;
  grid-row-start: 2;
  grid-row-end: 4;
}

.big-posession {
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}

#big-posession-id {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
}

.big-posession-content {
  color: var(--massey-yellow);
  font-size: 55px;
  text-align: center;
}

#big-posession-content-id {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 12;
}

#big-territory-id {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 8;
}

#big-territory-content-id {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 12;
}

#big-tackles-id {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 6;
  grid-row-end: 8;
  padding-right: 15px;
}

#big-tackles-content-id {
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 8;
  grid-row-end: 12;
  padding-right: 15px;
}

.top-performers-title {
  color: white;
  text-align: center;
  font-size:30px;
  padding-top: 10px;
}

#top-performers-title-id {
  grid-column-start: 1;
  grid-column-end: 19;
  grid-row-start: 1;
  grid-row-end: 4;
}

.top-tackler-title {
  font-size: 15px;
  padding-left: 10px;
  color: var(--massey-yellow);
}

#top-tackler-title-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
}

.top-tackler-name {
  font-size: 15px;
  padding-left: 10px;
}

#top-tackler-name-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
}

.top-tackler-content {
  font-size: 15px;
}

#top-tackler-content-id {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 6;
}

#top-rucks-commited-title-id {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 9;
}

#top-rucks-commited-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 10;
}

#top-rucks-content-id {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 9;
  grid-row-end: 10;
}

#top-line-breaks-title-id {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 11;
  grid-row-end: 12;
}

#top-line-breaks-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 12;
  grid-row-end: 13;
}

#top-line-breaks-content-id {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 12;
  grid-row-end: 13;
}

#top-in-game-passes-title-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 14;
  grid-row-end: 15;
}

#top-in-game-passes-name-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 15;
  grid-row-end: 16;
}

#top-in-game-passes-content-id {
  grid-column-start: 7;

  grid-column-end: 10;
  grid-row-start: 15;
  grid-row-end: 16;
}

.game-stats-title {
  font-size: 30px;
  color: var(--massey-yellow);
}

#game-stats-title-id {
  grid-column-start: 11;
  grid-column-end: 19;
  grid-row-start: 4;
  grid-row-end: 7;
}

.game-stats-tries {
  font-size: 16px;
  color: white;
}

#game-stats-tries-id {
  grid-column-start: 11;
  grid-column-end: 19;
  grid-row-start: 8;
  grid-row-end: 10;
}

#game-stats-cons-id {
  grid-column-start: 11;
  grid-column-end: 19;
  grid-row-start: 11;
  grid-row-end: 13;
}

#game-stats-pens-id {
  grid-column-start: 11;
  grid-column-end: 19;
  grid-row-start: 14;
  grid-row-end: 16;
}

#lineup-container-id {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 6;

  display: grid;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(1, 1fr);
}

.lineup-container {
  font-size: 14.5px;
}


.starting-lineup-title{
  padding-top: 5px;
  font-size: 23px;
  color: white;
  text-align: center;
}

.num-lineup {
  color: var(--massey-yellow);
  padding-left: 15px;
}

#num-15 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#num-14 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#num-13 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#num-12 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

#num-11 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

#num-10 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 7;
}

#num-9 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
}

#num-8 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 8;
  grid-row-end: 9;
}

#num-7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 10;
}

#num-6 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 10;
  grid-row-end: 11;
}

#num-5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 11;
  grid-row-end: 12;
}

#num-4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 12;
  grid-row-end: 13;
}

#num-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 13;
  grid-row-end: 14;
}

#num-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 14;
  grid-row-end: 15;
}

#num-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 15;
  grid-row-end: 16;
}

#row2-graphs-container-id {
  grid-row-start: 9;
  grid-row-end: 18;
  grid-column-start: 1;
  grid-column-end: 19;

  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#ruck-speed-graph-id {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 5;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#ruck-speed-canv-container {
  grid-row-start: 4;
  grid-row-end:11;
  grid-column-start: 1;
  grid-column-end: 11;
}

.graphs-title {
  padding-top: 15px;
  font-size: 22.5px;
  color: white;
  text-align: center;
}

#graphs-title-id {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 11;
}

#lineout-success-graph-id {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 9;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#scrum-success-graph-id {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 9;
  grid-column-end: 13;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#passing-success-graph-id {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 13;
  grid-column-end: 17;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

/*NEW ATHLETE CENTER*/

.overall-container {
  background-color: black;
}

#overall-container-id {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(100, 65px);
}

#header-strip-container-id {
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 1;
  grid-row-end: 8;

  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.header-strip-img-container {
  grid-column-start: 1;
  grid-column-end: 20;
  grid-row-start: 1;
  grid-row-end: 10;
}

.header-strip-img {
  max-width: 100%;
  max-height: auto;
}

.header-bar {
  background-color: var(--massey-black);
  grid-column-start: 1;
  grid-column-end: 20;
  grid-row-start: 8;
  grid-row-end: 9;
}

#header-bar-id {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.header-bar-btn a{
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.header-bar-btn a:hover {
  color: var(--massey-yellow);
  font-size: 15.5px;
}

#season-summary-btn-id {
  grid-column-start: 5;
  grid-column-end: 8;
}

#recent-game-btn-id {
  grid-column-start: 8;
  grid-column-end: 11;
}

#current-standings-btn-id {
  grid-column-start: 11;
  grid-column-end: 13;
}

#team-info-btn-id {
  grid-column-start: 13;
  grid-column-end: 15;
}


#logo-container-circle-id {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 9;

  display: flex;
  justify-content: center;

  align-items: center;
}

.logo-container-circle {
  background-color: black;
  border-width: 1px;
  border-style: solid;
  border-color: var(--dark-blue-outline);
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

.logo-img-small {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}

.team-title {
  font-size: 30px;
  color: white;
}

#team-title-id {
  grid-column-start: 4;
  grid-column-end: 15;
  grid-row-start: 7;
  grid-row-end: 8;
}

.section-1 {
  background-color: black;
}

#section-1-id {
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 8;
  grid-row-end: 17;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.section-1-header {
  background-color: var(--massey-black);
  border-color: var(--medium-grey-diff);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}

#section-1-header-id {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.ac-header-txt {
  font-size: 50px;
  color: white;
  padding-left: 20px;
}

#ac-header-text-id {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

#s1-panels-container-id {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 6;
}

.s1-panels-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.s1-panel {
  background-color: var(--massey-black);
  border-width: 1px;
  border-style: solid;
  border-color: var(--medium-grey-diff);
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#s1-p1-id {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

#s1-p2-id {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

#s1-p3-id {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 4;
}

.panel-title {
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#standings-title-id {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
}

#standings-container-id {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 11;
}

.standings-table {
  padding-left: 25px;
}

td, th {
  color: white;
  font-style: normal;
  border-width: 0.05px;
  border-style: solid;
  border-radius: 2px;
  border-color: var(--medium-grey-diff);
  font-size: 11px;
  padding: 8px;
}

#recent-results-title-id {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
}


#recent-results-container-id {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 11;
}

.recent-results-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);

}

.result {
  padding-left: 10px;
}

#result-1-id {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

#result-1-id {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

#result-1-id {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

#result-1-id {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

#result-1-id {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
}

.score {
  text-align: center;
  color: var(--massey-yellow);
}

#score-1-id {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

#score-2-id {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
#score-3-id {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
#score-4-id {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}
#score-5-id {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
}

#team-averages-header-id {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 2;
}

#team-average-name1-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

#team-average-name2-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}

#team-average-name3-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
}

#team-average-name4-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
}

#team-average-name5-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 8;
}

#team-average-name6-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 9;
}

#team-average-name7-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 10;
}

.team-average-name {
  font-size: 13px;
  color: white;
  text-align: left;
  padding-left: 10px;
}

#team-average-score-1-id {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 4;
}

#team-average-score-2-id {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 5;
}

#team-average-score-3-id {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 6;
}

#team-average-score-4-id {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 6;
  grid-row-end:7;
}

#team-average-score-5-id {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 7;
  grid-row-end: 8;
}

#team-average-score-6-id {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 8;
  grid-row-end: 9;
}

#team-average-score-7-id {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 9;
  grid-row-end: 10;
}

.team-average-score {
  color: var(--massey-yellow);
  font-size: 20px;
}

/*Section 2 Start*/

#section-2-id {
  grid-column-start: 1;
  grid-column-end: 21;
  grid-row-start: 18;
  grid-row-end: 58;
}

.section-2 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(50, 1fr);
}

#section-2-subheader-id {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 4;
}

.section-2-subheader {
  font-size: 25px;
  background-color: var(--massey-black);
  border-color: var(--medium-grey-diff);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding-left: 20px;
}

#section-2-row-1-container-id {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 13;
}

.section-2-row-1-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#s2-p1-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#s2-p2-id {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 4;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.big-result-letter {
  font-size: 150px;
  color: var(--green-win);
}

#big-result-letter-id {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
}

.game-score {
  font-size: 80px;
  padding-left: 20px;
  text-align: left;
}

#game-score-id {
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 5;
}

.game-stats-header {
  font-size: 25px;
  padding-left: 20px;
}

#game-stats-header-id {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 9;
}

.game-stats-content {
  font-size: 19px;
  padding-left: 20px;
}

#game-stats-content-id {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 7;
  grid-row-end: 9;
}

.top-match-performers-header {
  font-size: 35px;
  text-align: center;
  padding-top: 15px;
}

#top-match-performers-id {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 3;
}

.stat-title {
  color: var(--massey-yellow);
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
}

.stat {
  color: white;
  font-size: 15px;
  text-align: left;
  padding-left: 10px;
}

#top-tackler-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
}


#top-ruck-commits-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;
}


#top-ruck-steals-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 9;
}


#top-playmaker-id {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 9;
  grid-row-end: 11;
}


#top-linebreaks-id {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 7;
}

#top-broken-tackles-id {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 7;
  grid-row-end: 9;
}

#top-ball-carries-id {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 9;
  grid-row-end: 11;
}

#btn-contact-us-id {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 22;
  grid-row-end: 23;

  text-align: center;
}

.btn-contact-us {
  background-color: var(--massey-yellow);
  border-color: black;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 30px;
  font-size: 22px;
  font-style: bold;

}

.btn-contact-us:hover {
  background-color: black;
  border-color: var(--massey-yellow);
  border-width: 1.5px;
  border-style: solid;
  border-radius: 10px;
  text-decoration: none;
  color: var(--massey-yellow);
  text-align: center;
  margin: 30px;
  font-size: 22px;
  font-style: bold;
}
