/*Base css for large screens.*/
/*Entire CSS file in need of some serious refactoring!*/
/*Variables*/

:root {
    --panel-grey: #2D2B28;
    --massey-yellow: #FFD500;
    --panel-border: #3A3A3E;
    --green-win: #507623;
    --red-lose: #9A2E2E;
    --yellow-draws: #91651E;
    --green-field: #0A831F;

    --massey-yellow: #F8BD41;
    --massey-black: #0F0E10;
    --rosmini-blue: #0947B4;

    --light-grey: #BABABA;
    --light-grey-diff: #C1C0BF;
    --dark-grey: #161512;
    --medium-grey: #363430;
    --light-blue: #3192C7;
    --medium-grey-diff: #3E3C39;

    --dark-blue: #0F1923;
    --shade-blue: #1B2733;
    --light-dark-blue: #28394A;
    --blue-outline: #7399BF;
    --dark-blue-outline: #1B2733;

    --rosmini-blue: rgb(0,124,247);
    --rosmini-red: rgb(235,28,36);
    --crusaders-red: rgb(232,47,51);
    --crusaders-black: rgb(34,29,32);
    --canes-yellow: rgb(232,197,11);
    --canes-black: rgb(39,37,40);
    --toulon-red: rgb(208,43,34);
    --toulon-black: rgb(15,17,15);

    font-size: calc(1vw + 0.75vh + .5vmin);
}

/*Base css covers 1100 to 1600*/

@media (min-width: 1100px) {

  body {
    background-color: black;
    color: white;
    font-family: "Noto Sans", "Sans-Serif";
    margin: 0px;
  }

  .header-container {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 80px;

    color: white;
    background-color: black;
  }

  .nav-logo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .logo-image {
    width: auto;
    height: 100%;
    padding-top: 15px;
    padding-left: 25px;
    float:left;
    max-width: 100%;
  }

  .home-sect {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .navbar-btn {
    display: flex;
    align-items: center;
    font-size:0.55em
  }


  .plans-sect {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;

  }

  .expect-sect {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;

  }

  .contact-sect {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .user-sect {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .btn-nav {
    text-decoration: none;
    color:white;
  }

  .home-sect a:hover {
    color: var(--massey-yellow);
    text-decoration: none;
  }

  .plans-sect a:hover {
    text-decoration: none;
    color: var(--massey-yellow);
  }

  .expect-sect a:hover {
    text-decoration: none;
    color: var(--massey-yellow);
  }

  .contact-sect a:hover {
    text-decoration: none;
    color: var(--massey-yellow);
  }

  .user-sect a:hover {
    text-decoration: none;
    color: var(--massey-yellow);
    background-color: black;
    border-color: var(--massey-yellow);
    border-width: 1px;
  }


  /* homepage css */

  .content-grid-container {
    display: grid;
    background-color: black;
    margin: 0px;
    padding: 0px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(22, 100px);
  }

  .btn-login {
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: var(--massey-yellow);
    text-decoration: none;
    font-style: bold;
    font-size:1em
  }

  .btn-login:hover {
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    color: var(--massey-yellow);
    border-style: solid;
    border-width: 1px;
    border-color: var(--massey-yellow);
    background-color: black;
    text-decoration: none;
    font-style: bold;
    font-size: 1em
  }

  .btn-logout {
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: var(--massey-yellow);
    text-decoration: none;
    font-style: bold;
    font-size:1em
  }


  .homepage-title-1 {
    font-size: 40px;
    color: white;
    padding-left: 25px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .homepage-subtitle-1 {
    font-size: 20px;
    color: white;
    padding-left: 25px;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;

  }

  .btn-learn-more {
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: var(--massey-yellow);
    text-decoration: none;
    font-style: bold;
  }

  .btn-learn-more:hover{
    text-decoration: none;
    color: var(--massey-yellow);
    background-color: black;
    border-color: var(--massey-yellow);
    border-width: 1px;
  }

  .hom-img-centre {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .homepage-img-container {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

  }

  .three-steps-header {
    font-size: 40px;
    margin: 20px;
  }

  #three-steps-header-id {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .three-steps-container{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #three-steps-container-id {
    grid-row-start: 8;
    grid-row-end: 14;
    grid-column-start: 1;
    grid-column-end: 7;
  }

  #film-games-step-id {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .step {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: 20px;
    background-color: var(--massey-black);
    border-style: solid;
    border-color: var(--massey-black);
    border-width: 1px;
    border-radius: 11px;
  }

  #send-footage-step-id {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 7;
  }

  #receive-insights-step-id {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 7;
    grid-column-end: 10;
  }

  .img-step {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start:3;
    grid-column-end: 9;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }

  .step-title {
    font-size: 25px;
    text-align: center;
    margin: 10px;
  }

  #step-title-id {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 11;
  }


  .step-sub {
    font-size: 13px;
    text-align: center;
  }

  #step-sub-id {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 10;
  }

  #what-youll-get-header-id {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 15;
      grid-row-end: 16;
  }

  /*What you'll get*/
  .what-youll-get-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  #what-youll-get-container-id {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 16;
    grid-row-end: 22;
  }

  .hp-panel {
    background-color: var(--massey-black);
    margin: 15px;
    background-color: var(--massey-black);
    border-style: solid;
    border-color: var(--massey-black);
    border-width: 1px;
    border-radius: 11px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  #season-overview-panel-id {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  #match-overview-panel-id {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  #season-long-tracking-panel-id {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  #player-performance-tracking-panel-id {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .hp-panel-title {
    font-size: 30px;
    color: var(--massey-yellow);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    margin: 10px;
  }

  .hp-panel-subtitle {
    margin: 10px;
    font-size: 15px;
    color: white;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 11;
  }

  .hp-panel-img {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .hp-panel-img-center {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10px;
  }

  .get-contact-btn a:hover {
    color: var(--massey-yellow);
    background-color: black;
    border-color: var(--massey-yellow);
  }

  .contact-info-text {
      padding-top: 50px;
      color: var(--massey-yellow);
      text-align: center;
      font-size: 20px;
  }


  /*Contact Page css*/
  .contact-grid-container {
      display: grid;
      background-color: black;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(8, 100px);
  }

  .contact-page-header {
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: left;
      font-size: 40px;
      padding-top: 50px;
      padding-left: 45px;
  }

  .submit-btn{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 7;
      grid-row-end: 8;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    background-color: var(--massey-yellow);
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
  }

  .submit-btn:hover {
      cursor: pointer;
      color: var(--massey-yellow);
      background-color: black;
      border-color: var(--massey-yellow);
      border-width: 1px;
  }

  .form {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 8;
      padding-left: 30px;
      padding-top: 20px;
  }

  .form-field {
      background-color: black;
      border-style: solid;
      border-radius: 5px;
      border-color: var(--massey-yellow);
      color: white;
      border-width: thin;
      margin-left: 20px;
      font-size: 16px;
      font-family: "Noto Sans", "Sans-Serif";
      padding: 10px;
      width: 400px;
  }

  .success-page-header {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;

      padding-top: 50px;
      padding-left: 30px;
      font-size: 18px;
      color: white;
  }

  .contact-info-header {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2;

      font-size: 25px;
      color: white;
      padding-top: 70px;
  }

  .contact-info-text {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 3;

      text-align: left;
      color: white;
      font-size: 20px;
  }

  /*Login page styles*/
  .login-grid-container {
      display: grid;
      background-color: black;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(8, 100px);
  }

  .form-login {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 5;
      text-align: center;
  }

  .form-center {
    text-align: center;
  }

  .login-page-header {
      font-size: 30px;
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
      text-align: center;
      padding-top: 30px;
  }

  .login-page-button {
      border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: var(--massey-yellow);
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
  }

  .login-page-button:hover {
    cursor: pointer;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--massey-yellow);
    border-style: solid;
    border-width: 1px;
    border-color: var(--massey-yellow);
    background-color: black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
  }

  #login-again-id {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
  }
  

  
  #upload-page-header {
    grid-area: 1 / 2 / 2 / 6;
    text-align: center;
    font-size: 1.1em;
  }

  #btn-contact-us-id {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 22;
    grid-row-end: 23;

    text-align: center;
  }

  .btn-contact-us {
    background-color: var(--massey-yellow);
    border-color: black;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 30px;
    font-size: 22px;
    font-style: bold;

  }

  .btn-contact-us:hover {
    background-color: black;
    border-color: var(--massey-yellow);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
    color: var(--massey-yellow);
    text-align: center;
    margin: 30px;
    font-size: 22px;
    font-style: bold;
  }

  /*End of the page, to be continued note*/
  .copyright-text {
    font-size: 0.3em;

  }

}