:root {
    --panel-grey: #2D2B28;
    --sxd-orange: #FFD500;
    --panel-border: #3A3A3E;
    --green-win: #507623;
    --red-lose: #9A2E2E;
    --yellow-draws: #91651E;

    --massey-yellow: #F8BD41;
    --massey-black: #0F0E10;

    --light-grey: #BABABA;
    --light-grey-diff: #C1C0BF;
    --dark-grey: #161512;
    --medium-grey: #363430;
    --light-blue: #3192C7;
    --medium-grey-diff: #3E3C39;

    --dark-blue: #0F1923;
    --shade-blue: #1B2733;
    --light-dark-blue: #28394A;
    --blue-outline: #7399BF;
    --dark-blue-outline: #1B2733;
}
