/*Large Screen.css covers from 1700 to 2300*/

@media (min-width: 1600px) {
    body {
        background-color: black;
        color: white;
        font-family: "Noto Sans", "Sans-Serif";
        margin: 0px;
      }
    
      .header-container {
        margin: 0px;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: 80px;
    
        color: white;
        background-color: black;
      }
    
      .nav-logo {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    
      .logo-image {
        width: auto;
        height: 100%;
        padding-top: 15px;
        padding-left: 25px;
        float:left;
        max-width: 100%;
      }
    
      .home-sect {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    
      .navbar-btn {
        display: flex;
        align-items: center;
        font-size:0.55em
      }
    
    
      .plans-sect {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
    
      }
    
      .expect-sect {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    
      }
    
      .contact-sect {
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    
      .user-sect {
        grid-column-start: 8;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    
      .btn-nav {
        text-decoration: none;
        color:white;
      }
    
      .home-sect a:hover {
        text-decoration: none;
        color: var(--massey-yellow);
      }
    
      .plans-sect a:hover {
        text-decoration: none;
        color: var(--massey-yellow);
      }
    
      .expect-sect a:hover {
        text-decoration: none;
        color: var(--massey-yellow);
      }
    
      .contact-sect a:hover {
        text-decoration: none;
        color: var(--massey-yellow);
      }
    
      .user-sect a:hover {
        text-decoration: none;
        color: var(--massey-yellow);
        background-color: black;
        border-color: var(--massey-yellow);
        border-width: 1px;
      }
    
    
      /* homepage css */
    
      .content-grid-container {
        display: grid;
        background-color: black;
        margin: 0px;
        padding: 0px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(22, 100px);
      }
    
      .btn-login {
        border-radius: 10px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        color: black;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: var(--massey-yellow);
        text-decoration: none;
        font-style: bold;
      }
    
      .btn-login:hover {
        border-radius: 10px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        color: var(--massey-yellow);
        border-style: solid;
        border-width: 1px;
        border-color: var(--massey-yellow);
        background-color: black;
        text-decoration: none;
        font-style: bold;
      }
    
      .btn-logout {
        border-radius: 10px;
        padding-right: 10px;
        padding-left: 10px;
        margin-left:20px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        color: black;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: var(--massey-yellow);
        text-decoration: none;
        font-style: bold;
      }
    
      .homepage-title-1 {
        font-size: 40px;
        color: white;
        padding-left: 25px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
      }
    
      .homepage-subtitle-1 {
        font-size: 20px;
        color: white;
        padding-left: 25px;
    
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
    
      }
    
      .btn-learn-more {
        border-radius: 10px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: black;
        border-style: solid;
        border-width: 3px;
        border-color: black;
        background-color: var(--massey-yellow);
        text-decoration: none;
        font-style: bold;
      }
    
      .btn-learn-more:hover{
        color: var(--massey-yellow);
        background-color: black;
        text-decoration: none;
        border-color: var(--massey-yellow);
        border-width: 1px;
      }
    
      .hom-img-centre {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
      }
    
      .homepage-img-container {
        grid-column-start: 4;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 6;
    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    
      }
    
      .three-steps-header {
        font-size: 40px;
        margin: 20px;
      }
    
      #three-steps-header-id {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 8;
      }
    
      .three-steps-container{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
    
      #three-steps-container-id {
        grid-row-start: 8;
        grid-row-end: 14;
        grid-column-start: 1;
        grid-column-end: 7;
      }
    
      #film-games-step-id {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 4;
      }
    
      .step {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        margin: 20px;
        background-color: var(--massey-black);
        border-style: solid;
        border-color: var(--massey-black);
        border-width: 1px;
        border-radius: 11px;
      }
    
      #send-footage-step-id {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 4;
        grid-column-end: 7;
      }
    
      #receive-insights-step-id {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 7;
        grid-column-end: 10;
      }
    
      .img-step {
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column-start:3;
        grid-column-end: 9;
        display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
      }
    
      .step-title {
        font-size: 25px;
        text-align: center;
        margin: 10px;
      }
    
      #step-title-id {
        grid-row-start: 7;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 11;
      }
    
    
      .step-sub {
        font-size: 13px;
        text-align: center;
      }
    
      #step-sub-id {
        grid-row-start: 9;
        grid-row-end: 11;
        grid-column-start: 2;
        grid-column-end: 10;
      }
    
      #what-youll-get-header-id {
          grid-column-start: 1;
          grid-column-end: 7;
          grid-row-start: 15;
          grid-row-end: 16;
      }
    
      /*What you'll get*/
      .what-youll-get-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
      }
    
      #what-youll-get-container-id {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 16;
        grid-row-end: 22;
      }
    
      .hp-panel {
        background-color: var(--massey-black);
        margin: 15px;
        background-color: var(--massey-black);
        border-style: solid;
        border-color: var(--massey-black);
        border-width: 1px;
        border-radius: 11px;
    
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(10, 1fr);
      }
    
      #season-overview-panel-id {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 6;
      }
    
      #match-overview-panel-id {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 6;
      }
    
      #season-long-tracking-panel-id {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 6;
      }
    
      #player-performance-tracking-panel-id {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 6;
      }
    
      .hp-panel-title {
        font-size: 30px;
        color: var(--massey-yellow);
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
        margin: 10px;
      }
    
      .hp-panel-subtitle {
        margin: 10px;
        font-size: 15px;
        color: white;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end: 11;
      }
    
      .hp-panel-img {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    
      .hp-panel-img-center {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-top: 10px;
      }
    
      .get-contact-btn a:hover {
        color: var(--massey-yellow);
        background-color: black;
        border-color: var(--massey-yellow);
      }
    
      .contact-info-text {
          padding-top: 50px;
          color: var(--massey-yellow);
          text-align: center;
          font-size: 20px;
      }
    
    
      /*Contact Page css*/
      .contact-grid-container {
          display: grid;
          background-color: black;
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: repeat(8, 100px);
      }
    
      .contact-page-header {
          grid-column-start: 1;
          grid-column-end: 3;
          text-align: left;
          font-size: 40px;
          padding-top: 50px;
          padding-left: 45px;
      }
    
      .submit-btn{
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 7;
          grid-row-end: 8;
        border-radius: 10px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 5px;
        color: black;
        border-style: solid;
        border-width: 3px;
        border-color: black;
        background-color: var(--massey-yellow);
        text-decoration: none;
        font-size:0.55em;
        margin-left: 20px;
      }
    
      .submit-btn:hover {
          cursor: pointer;
          color: var(--massey-yellow);
          background-color: black;
          border-color: var(--massey-yellow);
          border-width: 1px;
      }
    
      .form {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-row-end: 8;
          padding-left: 30px;
          padding-top: 20px;
      }
    
      .form-field {
          background-color: black;
          border-style: solid;
          border-radius: 5px;
          border-color: var(--massey-yellow);
          color: white;
          border-width: thin;
          margin-left: 20px;
          font-size: 16px;
          font-family: "Noto Sans", "Sans-Serif";
          padding: 10px;
          width: 400px;
      }
    
      .success-page-header {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 3;
    
          padding-top: 50px;
          padding-left: 30px;
          font-size: 18px;
          color: white;
      }
    
      .contact-info-header {
          grid-column-start: 4;
          grid-column-end: 6;
          grid-row-start: 1;
          grid-row-end: 2;
    
          font-size: 25px;
          color: white;
          padding-top: 70px;
      }
    
      .contact-info-text {
          grid-column-start: 4;
          grid-column-end: 6;
          grid-row-start: 2;
          grid-row-end: 3;
    
          text-align: left;
          color: white;
          font-size: 20px;
      }
    
      /*Login page styles*/
      .login-grid-container {
          display: grid;
          background-color: black;
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: repeat(8, 100px);
      }
    
      .form-login {
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 2;
          grid-row-end: 5;
          text-align: center;
      }
    
      .form-center {
        text-align: center;
      }
    
      .login-page-header {
          font-size: 30px;
          grid-column-start: 3;
          grid-column-end: 5;
          grid-row-start: 1;
          grid-row-end: 2;
          text-align: center;
          padding-top: 30px;
      }
    
      .login-page-button {
          border-radius: 10px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: black;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: var(--massey-yellow);
        text-decoration: none;
        font-size: 20px;
        margin-left: 20px;
      }
    
      .login-page-button:hover {
        cursor: pointer;
        border-radius: 10px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: var(--massey-yellow);
        border-style: solid;
        border-width: 1px;
        border-color: var(--massey-yellow);
        background-color: black;
        text-decoration: none;
        font-size: 20px;
        margin-left: 20px;
      }
    
      #login-again-id {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: center;
      }
      
    
     

      #transferNowForm {
        grid-area: 2 / 2 / 8 / 6;
      }

      #upload-page-header {
        grid-area: 1 / 2 / 2 / 6;
        text-align: center;
        font-size: 1.1em;
      }


      /*End of the page, to be continued note*/
      .copyright-text {
        font-size: 0.3em;
        

      }
    
      .continuation-text {
        font-size: 1.2em;
        font-style: italic;
        text-align: center;
        grid-area: 103 / 1 / 104 / 21;
      }
}
