/*CSS for medium screens (Ipads etc.) 701 to 1100 */

@media (min-width: 701px) and (max-width: 1100px) {
    body {
        background-color: black;
        color: white;
        font-family: "Noto Sans", "Sans-Serif";
        margin: 0px;
      }
    
      .header-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 40px;
    
        color: white;
        background-color: black;
        font-size: 0.65em;
      }
    
      .nav-logo {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    
      .logo-image {
        max-width: auto;
        max-height: 100%;
        float:left;
        max-width: 100%;
        margin-left: 10px;
      }
    
      .home-sect {
        padding-top: 10px;
        grid-area: 1 / 4 / 2 / 5; 
      }

      .navbar-btn {
        display: flex;
        align-items: center;
        font-size:0.75em
      }
    
      .contact-sect {
        padding-top: 10px;
        grid-area: 1 / 5 / 2 / 7;
      }
    
      .user-sect {
        padding-top: 10px;
        grid-area: 1 / 7 / 2 / 9;
      }
    
      .btn-nav {
        text-decoration: none;
        color:white;
      }
    
      .home-sect a:hover {
        color: var(--massey-yellow);
      }
    
      .plans-sect a:hover {
        color: var(--massey-yellow);
      }
    
      .expect-sect a:hover {
        color: var(--massey-yellow);
      }
    
      .contact-sect a:hover {
        color: var(--massey-yellow);
      }
    
      .user-sect a:hover {
        color: var(--massey-yellow);
        background-color: black;
        border-color: var(--massey-yellow);
        border-width: 1px;
      }
    
    
      /* homepage css */
    
      .content-grid-container {
        display: grid;
        background-color: black;
        margin: 0px;
        padding: 0px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(22, 70px);
      }
    
      .btn-login {
        border-radius: 5px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        color: black;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: var(--massey-yellow);
        text-decoration: none;
        font-style: bold;
      }
    
      .btn-login:hover {
        border-radius: 5px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        color: var(--massey-yellow);
        border-style: solid;
        border-width: 1px;
        border-color: var(--massey-yellow);
        background-color: black;
        text-decoration: none;
        font-style: bold;
      }
    
      .btn-logout {
        border-radius: 5px;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: 10px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        color: black;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: var(--massey-yellow);
        text-decoration: none;
        font-style: bold;
      }
    
      .homepage-title-1 {
        font-size: 1.3em;
        padding-top: 15px;
        color: white;
        padding-left: 15px;
        grid-area: 1 / 1 / 3 / 4;
      }
    
      .homepage-subtitle-1 {
        font-size: 0.8em;
        color: white;
        padding-top: 15px;
        padding-left: 15px;
        grid-area: 2 / 1 / 4 / 4;
      }
    
      .btn-learn-more {
        border-radius: 5px;
        color: black;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: var(--massey-yellow);
        text-decoration: none;
        font-style: bold;
        padding-left:2.5px;
        padding-right: 2.5px;
      }
    
      .btn-learn-more:hover{
        border-radius: 5px;
        color: var(--massey-yellow);
        border-style: solid;
        border-width: 1px;
        border-color: var(--massey-yellow);
        background-color: black;
        text-decoration: none;
        font-style: bold;
        padding-left: 2.5px;
        padding-right: 2.5px;
      }
    
      .hom-img-centre {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-top: 15px;
        grid-area: 1 / 1 / 5 / 5;
      }
    
      .homepage-img-container {
        grid-area: 1 / 4 / 3 / 8;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }
    
      .three-steps-header {
        font-size: 1.5em;
        margin: 10px;
      }
    
      #three-steps-header-id {
        grid-area: 4 / 1 / 5 / 7; 
      }
    
      .three-steps-container{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
    
      #three-steps-container-id {
        grid-area: 5 / 1 / 10 / 7;
      }
    
      #film-games-step-id {
        grid-area: 1 / 1 / 4 / 4;
      }
    
      .step {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        margin: 10px;
        background-color: var(--massey-black);
        border-style: solid;
        border-color: var(--massey-black);
        border-width: 1px;
        border-radius: 11px;
      }
    
      #send-footage-step-id {
        grid-area: 1 / 4 / 4 / 7;
      }
    
      #receive-insights-step-id {
        grid-area: 1 / 7 / 4 / 10;
      }
    
      .img-step {
        padding-top: 10px;
        grid-area: 1 / 1 / 5 /11;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
      }
    
      .step-title {
        font-size: 1.1em;
        text-align: center;
        margin: 10px;
      }
    
      #step-title-id {
        grid-area: 6 / 1 / 7 / 11;
      }

      .step-sub {
        font-size: 0.7em;
        text-align: center;
      }
    
      #step-sub-id {
        grid-area: 8 / 1 / 11 / 11;
      }
    
      #what-youll-get-header-id {

          grid-area: 11 / 1 / 12 / 7;
      }
    
      /*What you'll get*/
      .what-youll-get-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
      }
    
      #what-youll-get-container-id {
        grid-area: 12 / 1 / 17 / 7;
      }
    
      .hp-panel {
        background-color: var(--massey-black);
        margin: 5px;
        background-color: var(--massey-black);
        border-style: solid;
        border-color: var(--massey-black);
        border-width: 1px;
        border-radius: 10px;
    
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(10, 1fr);
      }
    
      #season-overview-panel-id {
        grid-area: 1 / 1 / 6 / 2;
      }
    
      #match-overview-panel-id {
        grid-area: 1 / 2 / 6 / 3;
      }
    
      #season-long-tracking-panel-id {
        grid-area: 1 / 3 / 6 / 4;
      }
    
      #player-performance-tracking-panel-id {
        grid-area: 1 / 4 / 6 / 5;
      }
    
      .hp-panel-title {
        font-size: 0.7em;
        color: var(--massey-yellow);
        text-align: center;
        grid-area: 4/ 1 / 5/ 6;
        margin: 5px;
      }
    
      .hp-panel-subtitle {
        margin: 5px;
        font-size: 0.65em;
        text-align: center;
        grid-area:6/ 1 / 9 / 6;
      }
    
      .hp-panel-img {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    
      .hp-panel-img-center {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        padding-top: 10px;
      }

      #btn-contact-us-id {
        grid-area: 17 / 2 / 18 / 6;
        text-align: center;
      }
    
      .get-contact-btn a:hover {
        color: var(--massey-yellow);
        background-color: black;
        border-color: var(--massey-yellow);
      }
    
      .contact-info-text {
          padding-top: 50px;
          color: var(--massey-yellow);
          text-align: center;
          font-size: 20px;
      }
    
      /*Contact Page css*/
      .contact-grid-container {
          display: grid;
          background-color: black;
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: repeat(8,50px);
      }
    
      .contact-page-header {
          grid-area: 1 / 1 / 2 / 4;
          text-align: left;
          font-size: 1.5em;
          padding-left: 15px;
          padding-top: 15px;
      }
    
      .submit-btn{
        grid-area: 7 / 1 / 8 / 2;
        border-radius:4.5px;
        
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        color: black;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: var(--massey-yellow);
        text-decoration: none;
        font-size: 1.3em;
      }
    
      .submit-btn:hover {
        grid-area: 7 / 1 / 8 / 2;
        border-radius: 4.5px;
        
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        color: var(--massey-yellow);
        border-style: solid;
        border-width: 1px;
        border-color: var(--massey-yellow);
        background-color: black;
        text-decoration: none;
        font-size: 1.3em;
      }
    
      .form {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-row-end: 8;

          grid-area: 2 / 1 / 6 / 5;
          padding-left: 15px;
      }
    
      .form-field {
          background-color: black;
          border-style: solid;
          border-radius: 5px;
          border-color: var(--massey-yellow);
          color: white;
          border-width: 0.5px;
          font-size: 0.9em;
          font-family: "Noto Sans", "Sans-Serif";
          padding: 5px;
          width: 15em;
      }
    
      .success-page-header {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 3;
    
          padding-top: 50px;
          padding-left: 30px;
          font-size: 18px;
          color: white;
      }
    
      .contact-info-header {
          grid-area: 1 / 4 / 2 / 6;
          font-size: 1.5em;
          padding-top: 15px;
          padding-left: 10px;
      }
    
      .contact-info-text {
          color: white;
          grid-area: 2 / 4 / 3 / 6;
          text-align: left;
          font-size: 0.9em;
          padding-left: 10px;
      }
    
      /*Login page styles*/
      .login-grid-container {
          display: grid;
          background-color: black;
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: repeat(8, 60px);
      }
    
      .form-login {
        display: block;
        grid-area: 3 / 2 / 5 / 6;
        text-align: center;
        }
    
      .login-page-header {
        font-size: 1.5em;
        grid-area: 1 / 3 / 2 / 5;
        text-align: center;
        padding-top: 15px;
      }
    
      .login-page-button {
        border-radius: 4px;
        
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;

        color: black;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: var(--massey-yellow);
        text-decoration: none;
        font-size: 0.9em;
      }
    
      .login-page-button:hover {
        cursor: pointer;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-bottom: 5px;
        color: var(--massey-yellow);
        border-style: solid;
        border-width: 1px;
        border-color: var(--massey-yellow);
        background-color: black;
        text-decoration: none;
        font-size: 0.9em;
      }
    
      #login-again-id {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: center;
      }
      
    
      /*NEW ATHLETE CENTER*/
    
      .overall-container {
        background-color: black;
      }
    
      #overall-container-id {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(61, 5em);

      }

      #overall-container-2-id {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(33, 5em);

      }
    
      #header-strip-container-id {
        grid-column-start: 1;
        grid-column-end: 21;
        grid-row-start: 1;
        grid-row-end: 8;

        grid-area: 1 / 1 / 3 / 21; 
    
        display: grid;
        grid-template-columns: repeat(19, 1fr);
        grid-template-rows: repeat(9, 1fr);
      }
    
      .header-strip-img-container {
        grid-column-start: 1;
        grid-column-end: 20;
        grid-row-start: 1;
        grid-row-end: 10;
      }
    
      .header-strip-img {
        max-width: 100%;
        max-height: auto;
      }
    
      .header-bar {
        background-color: var(--massey-black);
        grid-area: 9 / 1 / 10 / 20;
      }
    
      #header-bar-id {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(21, 1fr);
        grid-template-rows: repeat(1, 1fr);
      }
    
      .header-bar-btn {
        font-size: 0.5em;
        display: flex;
        align-items: center;
      }
    
      .header-bar-btn a{
        color: white;
        text-decoration: none;
      }
    
      .header-bar-btn a:hover {
        color: var(--massey-yellow);
      }

      .upload-btn {
        border-radius: 5px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        color: black;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: var(--massey-yellow);
        text-decoration: none;
        font-style: bold;
        font-size:0.65em;
      }
    
      .upload-btn a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
      }
      #season-summary-btn-id {
        grid-column-start: 5;
        grid-column-end: 8;
      }
    
      #recent-game-btn-id {
        grid-column-start: 8;
        grid-column-end: 11;
      }

      #league-overview-btn-id {
        grid-column-start: 11;
        grid-column-end: 14;
      }
    
      #season-tracking-btn-id {
        grid-column-start: 11;
        grid-column-end: 14;
      }
    
      #team-info-btn-id {
        grid-column-start: 14;
        grid-column-end: 16;
      }
    
    
      #logo-container-circle-id {
        grid-area: 8 / 2 / 10 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .logo-container-circle {
        background-color: black;
        border-width: 2px;
        border-style: solid;
        border-color: var(--massey-yellow);
        border-radius: 50%;
      }
    
      .logo-img-small {
        margin: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
      }
    
      .team-title {
        font-size: 1.1em;
        color: white;
      }
    
      #team-title-id {
        grid-column-start: 4;
        grid-column-end: 15;
        grid-row-start: 7;
        grid-row-end: 8;

        grid-area: 8 / 4 / 9 / 15;
        padding-left: 10px;
        padding-top: 10px;
      }
    
      .section-1 {
        background-color: black;
      }
    
      #section-1-overview-id {
        grid-area: 3 / 1 / 8 / 21;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }
    
      .section-header {
        background-color: var(--massey-black);
        border-color: var(--medium-grey-diff);
        border-width: 1px;
        border-style: solid;
        border-radius: 2px;
      }
    
      #section-1-header-id {
        grid-area: 1 / 1 / 2 / 10;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #match-overview-header-id {
        grid-area: 3 / 1 / 4 / 10;
      }

      #defense-header-id {
        grid-area: 11 / 1 / 12 / 10;
      }
    
      .ac-header-txt {
        font-size: 1.1em;
        color: white;
        padding-left: 15px;
      }

      .section-header-text {
        font-size: 1.5em;
      }
    
      #s1-panels-container-id {
          grid-column-start: 1;
          grid-column-end: 10;
          grid-row-start: 2;
          grid-row-end: 6;
      }
    
      .s1-panels-container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
    
      .s1-panel {
        background-color: var(--massey-black);
        border-width: 1px;
        border-style: solid;
        border-color: var(--medium-grey-diff);
        border-radius: 5px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
      }
    
      #s1-p1-id {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
      }
    
      #s1-p2-id {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 4;
      }
    
      #s1-p3-id {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 4;
      }
    
      .panel-title {
        font-size: 1.1em;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    
      #standings-title-id {
        grid-area: 1 / 1 / 2 / 11;
      }
    
      #standings-container-id {
        grid-column-start: 2;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 11;
      }
    
      .standings-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.55em;
        width: 100%;
      }
    
      td, th {
        color: white;
        font-style: normal;
        border-width: 0.05px;
        border-style: solid;
        border-radius: 1.5px;
        border-color: var(--medium-grey-diff);
        padding: 0.15px;
      }
    
      #recent-results-title-id {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    
    
      #recent-results-container-id {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 11;
      }
    
      .recent-results-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
      }
    
      .result {
        padding-left:2px;
        font-size: 0.55em;
      }
    
      #result-1-id {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
      }
    
      #result-2-id {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
      }
    
      #result-3-id {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
      }
    
      #result-4-id {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
      }
    
      #result-5-id {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
      }
    
      .score {
        text-align: center;
        color: var(--massey-yellow);
        font-size: 0.65em;
      }
    
      #score-1-id {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
      }
    
      #score-2-id {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
      }
      #score-3-id {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 3;
      }
      #score-4-id {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
      }
      #score-5-id {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 3;
      }
    
      #team-averages-header-id {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    
      #team-average-name1-id {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
      }
    
      #team-average-name2-id {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
      }
    
      #team-average-name3-id {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
      }
    
      #team-average-name4-id {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 6;
        grid-row-end: 7;
      }
    
      #team-average-name5-id {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end: 8;
      }
    
      #team-average-name6-id {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 8;
        grid-row-end: 9;
      }
    
      #team-average-name7-id {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 9;
        grid-row-end: 10;
      }
    
      .team-average-name {
        font-size: 0.55em;
        color: white;
        text-align: left;
        padding-left: 10px;
      }
    
      #team-average-score-1-id {
        grid-column-start: 7;
        grid-column-end: 11;
        grid-row-start: 3;
        grid-row-end: 4;
      }
    
      #team-average-score-2-id {
        grid-column-start: 7;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 5;
      }
    
      #team-average-score-3-id {
        grid-column-start: 7;
        grid-column-end: 11;
        grid-row-start: 5;
        grid-row-end: 6;
      }
    
      #team-average-score-4-id {
        grid-column-start: 7;
        grid-column-end: 11;
        grid-row-start: 6;
        grid-row-end:7;
      }
    
      #team-average-score-5-id {
        grid-column-start: 7;
        grid-column-end: 11;
        grid-row-start: 7;
        grid-row-end: 8;
      }
    
      #team-average-score-6-id {
        grid-column-start: 7;
        grid-column-end: 11;
        grid-row-start: 8;
        grid-row-end: 9;
      }
    
      #team-average-score-7-id {
        grid-column-start: 7;
        grid-column-end: 11;
        grid-row-start: 9;
        grid-row-end: 10;
      }
    
      .team-average-score {
        color: var(--massey-yellow);
        font-size: 0.65em;
      }
    
      /*Section 2 Start*/
    
      #section-2-defense-id {
        grid-area: 9 / 1 / 49 / 21;
      }
    
      .section-2 {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(50, 1fr);
      }
    
      .section-subheader {
        font-size: 1.5em;
        background-color: var(--massey-black);
        border-color: var(--medium-grey-diff);
        border-width: 1px;
        border-style: solid;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: 3 / 1 / 4 / 10;

      }

      .jump-to-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .jump-to-bar a {
        text-decoration: none;
        margin: 1em;
        font-size: 0.65em;
        color: white;
      }

      .jump-to-bar a:hover {
        color: var(--massey-yellow);
        cursor: pointer;
      }

      #match-overview-jumptobar-id {
        grid-area: 2 / 1 / 3 / 10;
      }
    
      #section-2-row-1-container-id {
        grid-area: 4 / 1 / 10 / 10;
      }
    
      .section-row-container {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
    
      #s2-p1-id {
        grid-area: 1 / 1 / 4 / 6;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
      }
    
      #s2-p2-id {
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 4;
    
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
      }
    
      .big-result-letter {
        font-size: 6em;
        color: var(--green-win);
      }
    
      #big-result-letter-id {
        grid-area: 1 / 2 / 3 / 6;
      }
    
      .game-score {
        font-size:1.9em;
        padding-left: 5px;
        text-align: center;
        
      }
    
      #game-score-id {
        display: flex;
        grid-area: 2 / 6 / 3 / 11;
      }
    
      .game-stats-header {
        font-size: 1.2em;
        padding-left: 5px;
      }
    
      #game-stats-header-id {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 7;
        grid-row-end: 9;
      }
    
      .game-stats-content-header {
        font-size: 0.9em;
        padding-left: 5px;
      }
    
      #game-stats-content-header-id {
        grid-area: 4 / 1 / 5 / 6;
      }
    
      .game-stats-content {
        font-size: 0.8em;
        padding-left: 5px;
      }
    
      #game-stats-content-id {
        grid-area: 5 / 1 / 9 / 6
      }
    
      .game-stats-improvements-header {
        font-size: 0.9em;
      }
    
      #game-stats-improvements-header-id {
        grid-area: 4 / 7 / 5 / 11;
      }
    
      .game-stats-improvements-content {
        font-size: 0.8em;
      }
    
      #game-stats-improvements-content-id {
        grid-area: 5 / 7 / 9 / 11;
      }
    
      .large-panel-header {
        font-size: 1.5em;
        text-align: center;
        padding-top: 5px;
      }
    
      #top-match-performers-id {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    
      .stat-title {
        color: var(--massey-yellow);
        font-size: 0.7em;
        text-align: left;
        padding-left: 5px;
      }
    
      .stat {
        color: white;
        font-size: 0.7em;
        text-align: left;
        padding-left: 5px;
      }
    
      #top-tackler-id {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 4;
      }
    
    
      #top-ruck-commits-id {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 6;
      }
    
    
      #top-ruck-steals-id {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 6;
        grid-row-end: 8;
      }
    
    
      #top-playmaker-id {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 8;
        grid-row-end: 10;
      }
    
    
      #top-linebreaks-id {
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 4;
      }
    
      #top-broken-tackles-id {
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 6;
      }
    
      #top-ball-carries-id {
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 6;
        grid-row-end: 8;
      }
    
      #btn-contact-us-id {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 22;
        grid-row-end: 23;
    
        text-align: center;
      }
    
      .btn-contact-us {
        background-color: var(--massey-yellow);
        border-color: black;
        border-width: 1.5px;
        border-style: solid;
        border-radius: 10px;
        text-decoration: none;
        color: black;
        text-align: center;
        margin: 30px;
        font-size: 22px;
        font-style: bold;
    
      }
    
      .btn-contact-us:hover {
        background-color: black;
        border-color: var(--massey-yellow);
        border-width: 1.5px;
        border-style: solid;
        border-radius: 10px;
        text-decoration: none;
        color: var(--massey-yellow);
        text-align: center;
        margin: 30px;
        font-size: 22px;
        font-style: bold;
      }
    
      #section-2-subheader-2-id {
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 14;
        grid-row-end: 15;
      }
    
      #section-2-row-2-container-id {
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 12;
        grid-row-end: 17;
      }
    
      #s2-p3-id {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
      }
    
      #s2-p4-id {
        grid-column-start: 4;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 4;
      }
    
      #tackles-graph-container-id {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 11;
      }
    
      #tackles-graph-header-id {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    
      .tackles-graph-header {
        text-align: center;
        font-size: 1.5em;
        color: white; 
        margin: 10px;
      }
    
      
      .pointer-element:hover {
        cursor: pointer;
      }
    
      #tackles-percentage-btn-id {
        grid-column-start: 7;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 4;
      }
    
      #s2-p4-id {
        grid-column-start: 4;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 4;
    
        margin-left: 15px;
    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
      }
    
      .medium-panel-header {
        font-size: 1em;
        text-align: center;
        margin-top: 7px;
      }
    
      #defense-more-header-id {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 5;
      }
    
      .insights-info {
        font-size: 0.55em;
        color: white;
        margin-left: 10px;
      }
    
      .insights-value {
        color: var(--massey-yellow);
        font-size:0.55em;
      }
    
      #defense-more-info-1-id {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }
    
      
      #defense-more-info-2-id {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
      }
    
      
      #defense-more-info-3-id {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
      }
    
      
      #defense-more-info-4-id {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
      }
    
      
      #defense-more-info-5-id {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
      }
    
      
      #defense-more-info-6-id {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 8;
      }
    
      #defense-more-info-7-id {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 9;
      }
    
      #defense-more-value-1-id {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }
    
      #defense-more-value-2-id {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
      }
    
      #defense-more-value-3-id {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
      }  
    
      
      #defense-more-value-4-id {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
      }
    
      
      #defense-more-value-5-id {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
      }
    
      
      #defense-more-value-6-id {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 8;
      }
    
      
      #defense-more-value-7-id {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 9;
      }
    
      #defense-comp-val-1-id {
        grid-area: 2 / 4 / 3 / 5;
      }
    
      #defense-comp-val-2-id {
        grid-area: 3 / 4 / 4 / 5;
      }
    
      #defense-comp-val-3-id {
        grid-area: 4 / 4 / 5 / 5;
      }
    
      #defense-comp-val-4-id {
        grid-area: 5 / 4 / 6 / 5;
      }
    
      #defense-comp-val-5-id {
        grid-area: 6 / 4 / 7 / 5;
      }
    
      #defense-comp-val-6-id {
        grid-area: 7 / 4 / 8 / 5;
      }
    
      #defense-comp-val-7-id {
        grid-area: 8 / 4 / 9 / 5;
      }  
    
      #section-2-row-3-container-id {
        grid-area: 17 / 1 / 25 / 10;
      }
      #defense-rating-header-id {
        grid-area: 1 / 1 / 2 / 6;
      }
    
      .insights-comp-val {
        text-align: left;
        font-size: 0.55em;
      } 
    
      #in-depth-container-id{     
        grid-area: 1 / 1 / 4 / 11;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         grid-template-rows: repeat(12, 1fr);
      }
    
      #in-depth-header-id {
        grid-area: 1 / 1 / 2 / 13;
        text-align: center;
      }
    
      .graph-panel {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
      }
    
      #ts-22-graph-container-id {
        grid-area: 2 / 2 / 7 / 6;
      }
    
      #ts-5-graph-container-id {
        grid-area: 2 / 8 / 7 / 12;
      }
    
      #linespeed-graph-container-id {
        grid-area: 7 / 2 / 12 / 6;
      }
    
      #opp-pts-22-graph-container-id {
        grid-area: 7 / 8 / 12 / 12;
      }
    
      .small-title-graphs {
        font-size: 0.7em;
        grid-area: 1 /  1 / 3 / 6;
        text-align: center;
      }
    
      .small-graph-container {
        grid-area: 2 / 1 / 6 / 6;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }

      #tackle-22-pie-graph-canv {
          grid-area: 1 / 1 / 5 / 5;
          width: 100%;
          height: 100%;
      }

      #tackle-5-pie-graph-canv {
        grid-area: 1 / 1 / 5 / 5;
        width: 100%;
        height: 100%;
    }

    #line-speed-graph-canv {
        grid-area: 1 / 1 / 5 / 5;
        width: 100%;
        height: 100%;
    }

    #opp-pts-22-graph-canv {
        grid-area: 1 / 1 / 5 / 5;
        width: 100%;
        height: 100%;
    }
    
      /*Section 3 Start: Attack*/
      #section-3-attack-id {
        grid-area: 29 / 1 / 46 / 21;
      }
    
      .section-3 {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(17, 1fr);
      }
    
      #section-3-subheader-id {
        grid-area: 1 / 1 / 2 / 10;
        display: flex;
        align-items: center;
      }
    
      #section-3-row-1-container-id {
        grid-area: 2 / 1 / 7 / 10;
      }
    
      #attack-pie-graph-panel-id {
        grid-area: 1 / 1 / 4 / 4;
      }
    
      #attack-insights-panel-id {
        grid-area: 1 / 4 / 4 / 11;
      }
    
      #section-3-row-2-container-id {
        grid-area: 7 / 1 / 12 / 10;
      }
    
      #attack-in-depth-panel-id {
        grid-area: 1 / 1 / 4 / 11; 
      }
    
      #posessions-gain-graph-header-id {
        grid-area: 1 / 1 / 2 / 11;
        text-align: center;  
        font-size: 0.8em;
      }
    
      #attack-insights-indepth-header-id {
        grid-area: 1 / 1 / 2 / 11;
        text-align: center;
      }
    
      #attacking-insights-indepth-header-id {
        grid-area: 1 / 1 / 2 / 11;
        text-align: center;
      }
    
      #posession-gain-graph-id {
        grid-area: 2 / 1 / 9 / 11;
        display: flex;
        align-items: center;
      }
    
      #attacking-insights-info-1 {
        grid-area: 2 / 1 / 3 / 4;
      }
    
      
      #attacking-insights-info-2 {
        grid-area: 3 / 1 / 4 / 4;
      }
    
      
      #attacking-insights-info-3 {
        grid-area: 4 / 1 / 5 / 4;
      }
    
      
      #attacking-insights-info-4 {
        grid-area: 5 / 1 / 6 / 4;
      }
    
      
      #attacking-insights-info-5 {
        grid-area: 6 / 1 / 7 / 4;
      }
    
      #attacking-insights-info-6 {
        grid-area: 7 / 1 / 8 / 4;
      }
    
      #attacking-insights-info-7 {
        grid-area: 8 / 1 / 9 / 4;
      }
    
      #attacking-insights-info-8 {
        grid-area: 9 / 1 / 10 / 4;
      }
    
      
      #attacking-insights-val-1 {
        grid-area: 2 / 5 / 3 / 7;
      }
    
      
      #attacking-insights-val-2 {
        grid-area: 3 / 5 / 4 / 7;
      }
    
      
      #attacking-insights-val-3 {
        grid-area: 4 / 5 / 5 / 7;
      }
    
      
      #attacking-insights-val-4 {
        grid-area: 5 / 5 / 6 / 7;
      }
    
      
      #attacking-insights-val-5 {
        grid-area: 6 / 5 / 7 / 7;
      }
    
      #attacking-insights-val-6 {
        grid-area: 7 / 5 / 8 / 7;
      }
    
      #attacking-insights-val-7 {
        grid-area: 8 / 5 / 9 / 7;
      }
    
      #attacking-insights-val-8 {
        grid-area: 9 / 5 / 10 / 7;
      }
    
      #attacking-insights-comp-val-1 {
        grid-area: 2 / 8 / 3 / 11;
      }
    
      
      #attacking-insights-comp-val-2 {
        grid-area: 3 / 8 / 4 / 11;
      }
    
      
      #attacking-insights-comp-val-3 {
        grid-area: 4 / 8 / 5 / 11;
      }
    
      
      #attacking-insights-comp-val-4 {
        grid-area: 5 / 8 / 6 / 11;
      }
    
      
      #attacking-insights-comp-val-5 {
        grid-area: 6 / 8 / 7 / 11;
      }
    
      #attacking-insights-comp-val-6 {
        grid-area: 7 / 8 / 8 / 11;
      }
    
      #attacking-insights-comp-val-7 {
        grid-area: 8 / 8 / 9 / 11;
      }
    
      #attacking-insights-comp-val-8 {
        grid-area: 9 / 8 / 10 / 11;
      }
    
      #attack-in-depth-panel-id {
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 1fr);
      }
    
      #running-onto-ball-pie-panel-id {
        grid-area: 2 / 1 / 9 / 4;
      }
    
      #points-per-visit-22-bar-panel-id {
        grid-area: 2 / 4 / 9 / 7;
      }
    
      #posessions-lead-gain-panel-id {
        grid-area: 2 / 7 / 9 / 10;
      }
    
      .graph-container {
        grid-area: 4 / 1 / 11 / 11;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .graph-header {
        grid-area: 1 / 1 / 2 / 11;
        text-align: center;
        font-size: 0.8em;
        margin-top: 10px;
      }
      #running-on-ball-graph-canv{
        grid-area: 1 / 1 / 5 / 5;
        width: 100%;
        height: 100%;
      }
      #points-per-visit-bar-canv{
        grid-area: 1 / 1 / 5 / 5;
        width: 100%;
        height: 100%;
      }
      #meter-gain-success-canv{
        grid-area: 1 / 1 / 5 / 5;
        width: 100%;
        height: 100%;
      }

      /*Start of Section 4 - Kicking Game*/
      .section-4 {
          display: grid;
          grid-template-columns: repeat(17, 1fr);
          grid-template-rows: repeat(9, 1fr);
      }

      #section-4-kicking-game-id {
        grid-area: 41 / 1 / 51/ 21;
      }

      #section-4-subheader-id {
        display: flex;
        align-items: center;
        grid-area: 1 / 1 / 2 / 18;
      }

      #section-5-subheader-id{
        display: flex;
        align-items: center;
        grid-area: 1 / 1 / 2 / 18;
      }

      #section-6-subheader-id{
        display: flex;
        align-items: center;
        grid-area: 1 / 1 / 2 / 18;
      }

      #section-7-subheader-id{
        display: flex;
        align-items: center;
        grid-area: 1 / 1 / 2 / 18;
      }
      #section-8-subheader-id{
        display: flex;
        align-items: center;
        grid-area: 1 / 1 / 2 / 18;
      }

      #posessions-kicked-panel-id {
        grid-area: 2 / 1 / 5 / 5;
      }

      #kicks-out-onfull-panel-id {
        grid-area: 2 / 5 / 5 / 10;
      }

      #kick-regathers-panel-id {
        grid-area: 2 / 10 / 5 / 18;
      }

      #kick-meters-gain-panel-id {
        grid-area: 5 / 1 / 9 / 9;
      }

      #goal-kick-panel-id {
        grid-area: 5 / 9 / 9 / 18;
      }

       /*Start of Section 5 - Ball Handling*/
      .section-5 {
        display: grid;
        grid-template-columns: repeat(17, 1fr);
        grid-template-rows: repeat(9, 1fr);
      }

      #section-5-ball-handling-id {
        grid-area: 51 / 1 /  61 / 21;
      }

      #passes-successful-panel-id {
        grid-area: 2 / 1 / 5 / 4; 
      }

      #passes-successfulbypass-panel-id {
        grid-area: 2 / 4 / 5 / 18; 
      }

      #linebreak-bypass-id {
        grid-area: 5 / 1 / 10 / 9; 
      }

      #ball-handling-insights-panel-id {
        grid-area: 5 / 9 / 10 / 18; 
      }


      /*Start of section 6 - Rucks*/
      .section-6 {
        display: grid;
        grid-template-columns: repeat(17, 1fr);
        grid-template-rows: repeat(9, 1fr);
      }

      #section-6-rucks-id {
        grid-area: 2 / 1 / 12 / 21;
      }

      #total-ruck-success-panel-id {
        grid-area: 2 / 1 / 5 / 6;
      }

      #ruck-speed-panel-id {
        grid-area: 5 / 1 / 10 / 8;
      }

      #ruck-insights-panel-id {
        grid-area: 5 / 8 / 10 / 18;
      }

      #ruck-success-partsoffield-panel-id {
        grid-area: 2 / 6 / 5 / 18;
      }

      /*Start of Section 7 - Set Piece*/
      .section-7 {
        display: grid;
        grid-template-columns: repeat(17, 1fr);
        grid-template-rows: repeat(9, 1fr);
      }

      #section-7-setpiece-id {
        grid-area: 13 / 1 / 23 / 21;
      }

      #set-piece-success-panel-id{
        grid-area: 2 / 1 / 6 / 10;
      }

      #set-piece-success-dif-field-id {
        grid-area: 2 / 10 / 6 / 18;
      }

      #action-taken-set-piece-panel-id{
        grid-area: 6 / 1 / 10 / 6;
      }

      #outcome-from-set-piece-panel-id {
        grid-area: 6 / 6 / 10 / 12;
      }

      #set-piece-insights-panel-id {
        grid-area: 6 / 12 / 10 / 18;
      }

      /*Start of Section 8 - Discipline*/
      .section-8{
        display: grid;
        grid-template-columns: repeat(17, 1fr);
        grid-template-rows: repeat(9, 1fr);
      }

      #section-8-discipline-id {
        grid-area: 23 / 1 / 33 / 21;
      }

      #types-penalties-conceded-panel-id{
        grid-area: 2 / 1 / 6 / 9;
      }

      #penalties-diff-field-panel-id {
        grid-area: 2 / 9 / 6 / 18;
      }

      #outcome-of-penalty-in-own22-panel-id {
        grid-area: 6 / 1 / 10 / 6;
      }

      #penalties-insights-panel-id{
        grid-area: 6 / 6 / 10 / 18;
      }

      .section-subheader a {
        padding-left: 0.6em;
        color: white;
        font-size: 0.55em;
        text-decoration: none;
      }

      .section-subheader a:hover {
        color: var(--massey-yellow);
        font-size: 0.55em;
        padding-left: 0.6em;
      }
      .alt-text {
        color: var(--massey-yellow);
      }
    
      .alt-bg {
        
      }
    
      .select-game-container {
        grid-area: 17 / 6 / 18 / 16;
        z-index: 1;
        font-size: 0.8em;
        display: flex;
        align-items: center;
        justify-content: center;
    
      }
    
      .dropdown-container {
        z-index: 1;
        font-size: 0.8em;
        display: flex;
        align-items: center;
        justify-content: center;
      } 
    
      ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
      }
      
      li {
        color: #fff;
        background: var(--rosmini-blue);
        display: block;
        float: center;
        padding: 0.55em 5em 0.55em;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
        text-align: center;
      }
        
      li a {
        color: #fff;
        text-decoration: none;
      }
    
      li:hover {
        background-color: var(--light-dark-blue);
        cursor: pointer;
      }
    
      ul li ul {
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        left: 0;
        display: none;
        font-size: 0.65em;
        
      }
    
      ul li:hover > ul,
      ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
      }
    
      ul li ul li {
        clear: both;
        width: 100%;
      }

      #dropdown-container-id-1 {
        grid-area: 8 / 6 / 9 / 16;
        
      }
    
      #dropdown-container-id-2 {
        grid-area: 11 / 7 / 12 / 9;
        font-size: 0.5em;
      }
    
      #dropdown-container-id-3 {
        grid-area: 1 / 7 / 2 / 9;
        font-size: 0.5em;
      }
    
      #dropdown-container-id-4 {
        grid-area: 1 / 12 / 2 / 16;
        font-size: 0.5em;
      }
    
      #dropdown-container-id-5 {
        grid-area: 1 / 12 / 2 / 16;
        font-size: 0.5em;
      }
    
      #dropdown-container-id-6 {
        grid-area: 1 / 12 / 2 / 16;
        font-size: 0.5em;
      }
    
      #dropdown-container-id-7 {
        grid-area: 1 / 12 / 2 / 16;
        font-size: 0.5em;
      }
      
      #dropdown-container-id-8 {
        grid-area: 1 / 12 / 2 / 16;
        font-size: 0.5em;
      }

      #overall-container-3-id {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(58, 3em);
      }

      #league-overview-header-id {
        grid-area: 1 / 1 / 3 / 21;
      }
    
      #top-10-tries-panel-id {
        grid-area: 4 / 1 / 11 / 7;
      }
    
      #top-10-points-panel-id {
        grid-area: 4 / 7 / 11 / 14;
      }
    
      #top-10-tackles-panel-id {
        grid-area: 4 / 14 / 11 / 21;
      }
    
      #top-10-players-panel-id {
        grid-area: 12 / 1 / 19 / 11;
      }
    
      #top-10-backs-panel-id {
        grid-area: 12 / 11 / 19 / 21;
      }
    
      #top-10-tries-team-panel-id {
        grid-area: 12 / 1 / 19 / 7;
      }
    
      #top-10-tackles-team-panel-id {
        grid-area: 12 / 7 / 19 / 14;
      }
    
      #top-10-linebreaks-team-panel-id {
        grid-area: 12 / 14 / 19 / 21; 
      }

      #radar-chart-1-id {
        grid-area: 20 / 3 /  32 / 18;
      }
    
    
      #radar-chart-1-canv{
        grid-area: 1 / 1 / 5 / 5;
        width: 100%;
        height: 100%;
      }

      .radar-chart-container {
        grid-area: 2 / 1 / 8 / 11;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #dropdown-container-id-9 {
        grid-area: 1 / 16 / 3 / 21;
        font-size: 0.45em;
      }
    


      /*End of the page, to be continued note*/
      .copyright-text {
        font-size: 0.6em;
      }

      .continuation-text {
        font-size: 1.5em;
        font-style: italic;
        text-align: center;
        grid-area: 33 / 1 / 34 / 10;
      }
      .copyright-text {
        font-size: 0.6em;
      }
}