:root {
    --sxd-yellow: #f8bd41;
    --sxd-grey: #0b0b0b;
    --sxd-green: #4E8F00;
    --sxd-red: #9B0000;
    --rosmini-blue: #225fb3;
    --med-header-txt: 1em;
    --med-std-txt: 0.5em;
    --lg-header-txt: 1.5em;
    --lger-header-txt: 1.75em;
    --sm-std-txt: 0.25em;

    --panel-grey: #2D2B28;
    --massey-yellow: #FFD500;
    --panel-border: #3A3A3E;
    --green-win: #507623;
    --red-lose: #9A2E2E;
    --yellow-draws: #91651E;
    --green-field: #0A831F;

    --massey-yellow: #F8BD41;
    --massey-black: #0F0E10;
    --rosmini-blue: #0947B4;

    --light-grey: #BABABA;
    --light-grey-diff: #C1C0BF;
    --dark-grey: #161512;
    --medium-grey: #363430;
    --light-blue: #3192C7;
    --medium-grey-diff: #3E3C39;

    --dark-blue: #0F1923;
    --shade-blue: #1B2733;
    --light-dark-blue: #28394A;
    --blue-outline: #7399BF;
    --dark-blue-outline: #1B2733;

    --rosmini-blue: rgb(0,124,247);
    --rosmini-red: rgb(235,28,36);
    --crusaders-red: rgb(232,47,51);
    --crusaders-black: rgb(34,29,32);
    --canes-yellow: rgb(232,197,11);
    --canes-black: rgb(39,37,40);
    --toulon-red: rgb(208,43,34);
    --toulon-black: rgb(15,17,15);

    font-size: calc(1vw + 0.75vh + .5vmin);
}

.med-header-txt {
    font-size: var(--med-header-txt);
}

.med-std-txt {
    font-size: var(--med-std-txt);
}

.lg-header-txt {
    font-size: var(--lg-header-txt);
}

.lger-header-txt {
    font-size: var(--lger-header-txt);
}

.sm-std-txt {
    font-size: var(--sm-std-txt);
}

.sxd-y {
    color: var(--sxd-yellow);
} 

.std-btn {
    background-color: var(--sxd-yellow);
    color: black;
    padding: 0.15em 1em 0.15em 1em; 
    border: 0.05em solid black;
    border-radius: 0.25em;
    
}

.std-btn:hover {
    background-color: black;
    color: var(--sxd-yellow);
    padding: 0.15em 1em 0.15em 1em; 
    border: 0.05em solid var(--sxd-yellow);   
    border-radius: 0.25em;
}

.side-txt:hover {
    color: var(--sxd-yellow);
}

